{% block title %}Edit Scenario{% endblock %}

{% block content %}
  <h1>Edit Scenario</h1>

  <form id="editForm" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn btn-primary">Save</button>
  </form>

  <!-- Include jQuery -->
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(function() {
      $('#editForm').submit(function(event) {
        event.preventDefault();

        // Disable the save button
        $('button[type="submit"]').prop('disabled', true);

        // Send the form data using AJAX
        $.ajax({
          url: "{% url 'OTRisk:scenario_update' scenario.id %}",
          type: 'POST',
          data: $(this).serialize(),
          success: function(response) {
            // Handle the success response
            // Optionally, you can display a success message

            // Enable the save button
            $('button[type="submit"]').prop('disabled', false);
          },
          error: function(xhr, textStatus, error) {
            // Handle the error response
            // Optionally, you can display an error message

            // Enable the save button
            $('button[type="submit"]').prop('disabled', false);
          }
        });
      });
    });
  </script>
{% endblock %}
