{% load static %}
{% load humanize %}

<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>iOTa</title>
    <link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">
    <!-- Load jQuery (only one version) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Bootstrap and related scripts -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- AnyChart -->
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
<link href="https://cdn.anychart.com/releases/8.10.0/css/anychart-ui.min.css" rel="stylesheet" type="text/css">
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-exports.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-bullet.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-base.min.js"></script>
    <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-cartesian.min.js"></script>




    <script src="{% static 'OTRisk/assesscyberpha.js' %}"></script>
    {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

    <title>Assess CyberPHA</title>
    <style>
    .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

    .navbar-scroll .nav-link,
    .navbar-scroll .navbar-toggler-icon,
    .navbar-scroll .navbar-brand {
      color: #000000;
    }

    /* Color of the navbar BEFORE scroll */
    .navbar-scroll {
      background-color: #FFFFFF;
        text-decoration-color: #000000;
    }


    /* Color of the links AFTER scroll */
    .navbar-scrolled .nav-link,
    .navbar-scrolled .navbar-toggler-icon,
    .navbar-scroll .navbar-brand {
      color: #262626;
    }

    .navbar-logo {
    position: absolute;
    top: 5px; /* Adjust this as needed */
    left: 5; /* Adjust this as needed */
    height: 100px; /* Adjust this as needed */
    z-index: 10;
}
        .table-wrap {
          height: 200px;
          overflow-y: auto;
        }

        .small-font {
        font-size: 0.8rem; /* adjust as needed */
        }

    .clickable-label:hover {
        cursor: pointer;
    }

    .table tbody tr:hover {
    cursor: pointer;
    }



    .heatmap {
        border-collapse: collapse;
    }
    .heatmap td {
        width: 60px;
        height: 60px;
        text-align: center;
        border: 1px solid #ccc;
    }
    .Low { background-color: #d8e6d6; }
    .Low-Medium { background-color: #f7e5a0; }
    .Medium { background-color: #f9d56e; }
    .Medium-High { background-color: #f9a56e; }
    .High { background-color: #f95d6a; }

    .body {
        font-size: 10px;
    }
</style>


</head>
<body>
<script>anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");</script>
<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom border-dark rounded">
  <div class="container-fluid d-flex justify-content-between">
   <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}"><img src="{% static 'images/iota - white 1.png' %}" style="height: 140px; width: 140px" class="navbar-logo" alt="">   </a>
      <h4 class="my-auto text-center flex-grow-1">Risk Register</h4>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link"  style="font-size: 12px;" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-journal-text"></i> Risk Assessment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:ra_actions_view_default' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:risk_register' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Risk Register</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 12px;">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:add_scenario' %}">Scenario Manager</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:add_consequence' %}">Consequence Manager</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
                  {% if user.is_staff %}
                    <!-- Links visible only to superusers -->
                    <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
                      <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
                    {% endif %}

              </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}" style="font-size: 12px;">
                <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </li>
      </ul>
    </div>
  </div>

</nav>
<div class="row">
<div class="col-md-1 " style="background-color: white"></div>
<div class="col-md-6 ">
    <br>
    <table class="table table-bordered table-striped compact" id="tbl_risk_register" style="font-size: 10px">
        <thead>
            <tr>
                <th>Facility Name</th>
                <th>Assessment Unit</th>
                <th>Risk Scenario</th>
                <th>Residual Risk</th>
                <th>BIA</th>
                <th>Est Costs (Low/Medium/High)</th>
                <th>Probability</th>
                <th>Snapshots</th>
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
            <tr data-id="{{ item.ID }}">

                <td>{{ item.CyberPHA__FacilityName }}</td>
                <td>{{ item.CyberPHA__AssessmentUnit }}</td>
                <td>{{ item.Scenario }}</td>
                <td>
                    {% if item.RRa == "Low" %}
                        <span style="color:green;">●</span>
                    {% elif item.RRa == "Low/Medium" %}
                        <span style="color:olive;">●</span>
                    {% elif item.RRa == "Medium" %}
                        <span style="color:yellow;">●</span>
                    {% elif  item.RRa == "Medium/High" %}
                        <span style="color:orange;">●</span>
                    {% elif item.RRa == "High" %}
                        <span style="color:red;">●</span>
                    {% endif %}
                    {{ item.RRa }}
                </td>
                <td>{{ item.business_impact_analysis_score }}({{ item.business_impact_analysis_code }})</td>
                <td>${{ item.sle_low|intcomma }}/${{ item.sle|intcomma }}/${{ item.sle_high|intcomma }}</td>


                <td>
                    {% if item.probability < 25 %}
                        <span style="color:green;">●</span>
                    {% elif item.probability >= 25 and item.probability < 50 %}
                        <span style="color:yellow;">●</span>
                    {% elif item.probability >= 50 and item.probability < 75 %}
                        <span style="color:orange;">●</span>
                    {% elif item.probability >= 75 %}
                        <span style="color:red;">●</span>
                    {% endif %}
                    {{ item.probability }}%
                </td>
                <td>
                    {% if item.snapshots == 1 %}
                        <a href="{% url 'OTRisk:view_snapshots' item.ID %}">View Snapshots</a>
                    {% endif %}
                </td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
 $(document).ready(function() {
    $("table tbody tr").click(function() {
        var scenarioId = $(this).data("id");
        loadScenarioDetails(scenarioId);
    });
    $("table tbody tr:first").trigger('click');
});


$(document).ready(function() {
    $(document).on('click', '#saveRiskData', function() {
        var formData = $("#riskForm").serialize();
        $.post("{% url 'OTRisk:save_risk_data' %}", formData, function(response) {
            if(response.status == 'success') {
                alert("Data saved successfully!");
            } else {
                alert("Error saving data!");
            }
        });
    });
});



    </script>

</div> <!-- risk register table -->
<div class="col-md-5 " style="background-color: white">
    <div class="row" style="height: 10px"></div>
    <div class="row align-items-center">
    <br>
        <div class="col-md-12 d-flex justify-content-center align-items-end">

            <div id="bia_container" style="width: 75%; height: 320px; border: solid #7d929e 1px"></div>
            <div id="heatmapContainer" style="width: 75%; height: 320px; border: solid  #7d929e 1px"></div>
        </div>
        <script>
anychart.onDocumentReady(function() {
// Extract data for the line chart
var biaData = [
{% for item in bia_data_with_id %}
    {x: "{{ item.x }}", value: {{ item.value }}, id: {{ item.id }}},
{% endfor %}
];

// Create the line chart
var chart = anychart.cartesian();

// Add data to the chart
var series = chart.marker(biaData); // Store the series in a variable

series.listen("pointClick", function(e) {
    var pointId = e.iterator.get("id");
    loadScenarioDetails(pointId); // Call the function you defined earlier
});

chart.yScale().minimum(0);
chart.yScale().maximum(100);
// Set chart title and labels
chart.title("BIA Scores");
chart.xAxis().title("Assessments");
chart.yAxis().title("BIA Score");

// Set the container id for the chart
chart.container("bia_container");
var credits = chart.credits();
credits.enabled(false);
// Draw the chart
chart.draw();
});
</script>
    </div>   <!-- BIA Score marker chart -->
    <div class="row">
<div class="col-md-2"></div>
<div class="col-md-3">
    <br><br>
    <div class="card shadow-lg inner-card">
        <div class="card-body">
            <div class="row justify-content-center align-items-center" style="font-size: 12px">
                Est. Costs (Best Case)
            </div>


            <div class="row">
                <h6 class="card-text text-center">${{ sle_low_sum|intcomma }}</h6>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <br><br>
    <div class="card shadow-lg inner-card">
        <div class="card-body">
            <div class="row justify-content-center align-items-center" style="font-size: 12px">
                Est. Costs (Likely Case)
            </div>
            <div class="row">
                <h6 class="card-text text-center">${{ sle_sum|intcomma }}</h6>
            </div>
        </div>
    </div>
</div>
<div class="col-md-3">
    <br><br>
    <div class="card shadow-lg inner-card">
        <div class="card-body">
            <div class="row justify-content-center align-items-center" style="font-size: 12px">
               Est. Costs (Worst Case)
            </div>
            <div class="row">
                <h6 class="card-text text-center">${{ sle_high_sum|intcomma }}</h6>
            </div>
        </div>
    </div>
</div>
<div class="col-md-2"></div>
</div> <!-- cost boxes -->
    <div class="row" style="height: 10px"></div>
</div>


<div class="row">
    <div class="col-md-1 " style="background-color: white"></div>
    <div class="col-md-10 " style="background-color: white">
        <div class="card" style="display: none;" id="scenarioDetailsCard">
          <div class="card-header">
            Scenario Details
          </div>
          <div class="card-body" id="scenarioDetails">
            <!-- Details will be populated here -->
          </div>
        </div>
    </div>
    <div class="col-md-1 " style="background-color: white"></div>
</div>
<script>

    anychart.onDocumentReady(function() {
        // create data
        var data = [];

        {% for item in heatmap_data %}
            data.push({
                x: "{{ item.probability }}",
                y: "{{ item.likelihood }}",
                heat: {{ item.count }},
                fill: getHeatmapColor("{{ item.likelihood }}", "{{ item.probability }}")
            });
        {% endfor %}

        function getHeatmapColor(likelihood, probability) {
            // Define your color logic here based on likelihood and probability
            if (likelihood === "Low" && probability === "Low") return "#00FF00"; // green
    if (likelihood === "Low" && probability === "Low/Medium") return "#66FF66"; // lighter green
    if (likelihood === "Low" && probability === "Medium") return "#CCFF66"; // yellow-green
    if (likelihood === "Low" && probability === "Medium/High") return "#FFFF66"; // yellow
    if (likelihood === "Low" && probability === "High") return "#FFCC66"; // orange-yellow

    if (likelihood === "Low/Medium" && probability === "Low") return "#66FF66"; // lighter green
    if (likelihood === "Low/Medium" && probability === "Low/Medium") return "#CCFF66"; // yellow-green
    if (likelihood === "Low/Medium" && probability === "Medium") return "#FFFF66"; // yellow
    if (likelihood === "Low/Medium" && probability === "Medium/High") return "#FFCC66"; // orange-yellow
    if (likelihood === "Low/Medium" && probability === "High") return "#FF9966"; // orange

    if (likelihood === "Medium" && probability === "Low") return "#CCFF66"; // yellow-green
    if (likelihood === "Medium" && probability === "Low/Medium") return "#FFFF66"; // yellow
    if (likelihood === "Medium" && probability === "Medium") return "#FFCC66"; // orange-yellow
    if (likelihood === "Medium" && probability === "Medium/High") return "#FF9966"; // orange
    if (likelihood === "Medium" && probability === "High") return "#FF6633"; // dark orange

    if (likelihood === "Medium/High" && probability === "Low") return "#FFFF66"; // yellow
    if (likelihood === "Medium/High" && probability === "Low/Medium") return "#FFCC66"; // orange-yellow
    if (likelihood === "Medium/High" && probability === "Medium") return "#FF9966"; // orange
    if (likelihood === "Medium/High" && probability === "Medium/High") return "#FF6633"; // dark orange
    if (likelihood === "Medium/High" && probability === "High") return "#FF3333"; // red-orange

    if (likelihood === "High" && probability === "Low") return "#FFCC66"; // orange-yellow
    if (likelihood === "High" && probability === "Low/Medium") return "#FF9966"; // orange
    if (likelihood === "High" && probability === "Medium") return "#FF6633"; // dark orange
    if (likelihood === "High" && probability === "Medium/High") return "#FF3333"; // red-orange
    if (likelihood === "High" && probability === "High") return "#FF0000"; // red
            return "#FFFF00"; // default to yellow
        }

        // create a chart
        var chart = anychart.heatMap(data);

        // set the chart title
        chart.title("Risk Heatmap");
        chart.title(false);

        // set the x-axis title
        chart.xAxis().title("Probability");
        // set the y-axis title
        chart.yAxis().title("Residual Risk");
        // set the container id
        chart.container("heatmapContainer");
        var credits = chart.credits();
            credits.enabled(false);
        // initiate drawing the chart
        chart.draw();
    });

    $(document).ready(function() {
    // Initialize DataTable with options
    $('#tbl_risk_register').DataTable({
        "paging": true, // Enable pagination
        "pageLength": 8, // Set the number of rows per page
        "searching": false, // Enable searching
        "lengthChange": false,
        "order": [] // Disable initial sorting if needed
    });
});


    function loadScenarioDetails(scenarioId) {
    $.get("{% url 'OTRisk:getSingleScenario' %}", { id: scenarioId }, function(data) {

        var detailsHtml = `

            <p><strong>ID:</strong> ${data.ID}      <strong>CyberPHA:</strong> ${data.CyberPHA}</p>
            <div class="row">
                <div class="col-md-4">
                    <div class="card shadow-lg inner-card">
                        <div class="card-body">
                            <div class="row">
                                <h6 class="card-title text-left card-title-light">Scenario:</h6>
                            </div>
                            <div class="row" style="font-size: 12px">
                                <p>${data.Scenario}</p>
                            </div>
                        </div>
                    </div>
                    <br>
                    <div class="card shadow-lg inner-card">
                        <div class="card-body">
                            <div class="row">
                                <h6 class="card-title text-left card-title-light">Consequences:</h6>
                            </div>
                            <div class="row" style="font-size: 12px">
                                <p>${data.Consequence}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4" id="impactChartContainer"></div>
                <div class="col-md-4" id="bulletChartContainer"></div>
            </div>
            <br>
            <div class="row">
                <div class="col-md-4" style="border: 1px solid darkgrey;">
                    <!-- user controls -->
                    <form id="riskForm">
                        {% csrf_token %}
                        <br>
                        <input type="hidden" id="scenario_id" name="scenario_id" value="${data.ID}">
                        <label for="risk_owner" class="form-control" style="border: none;">Risk Owner:</label>

                        <input type="text" class="form-control" id="risk_owner" name="risk_owner" required>
                        <br>
                        <label for="risk_priority"class="form-control" style="border: none;">Risk Priority:</label>
                        <select id="risk_priority" name="risk_priority" class="form-control">
                            <option value="Low">Low</option>
                            <option value="Medium">Medium</option>
                            <option value="High">High</option>
                            <option value="Critical">Critical</option>
                        </select>
                        <br>
                        <label for="risk_response" class="form-control" style="border: none;">Risk Response:</label>
                        <select id="risk_response" name="risk_response" class="form-control">
                            <option value="Manage">Manage</option>
                            <option value="Mitigate">Mitigate</option>
                            <option value="Transfer">Transfer</option>
                            <option value="Accept">Accept</option>
                        </select>
                        <br>
                        <label for="risk_status" class="form-control" style="border: none;">Risk Status:</label>
                        <select id="risk_status" name="risk_status" class="form-control">
                            <option value="Open">Open</option>
                            <option value="Closed">Closed</option>
                        </select>
                        <br>
                        <label for="risk_open_date" class="form-control" style="border: none;">Risk Open Date:</label>
                        <input type="date" class="form-control" id="risk_open_date" name="risk_open_date" required>
                        <br>
                        <label for="risk_close_date" class="form-control" style="border: none;">Risk Close Date:</label>
                        <input type="date" class="form-control" id="risk_close_date" name="risk_close_date" required>
                        <br>
                        <button type="button"  class="btn btn-primary"  id="saveRiskData">Save</button>
                    </form>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2" style="height:100%">
                            <div class="card shadow-lg inner-card" style="height"100%;">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        Attack Success Probability
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="font-size: 16px">
                                         ${data.probability}
                                         <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card shadow-lg inner-card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        Production Outage
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="font-size: 16px">
                                        ${data.outage}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="card shadow-lg inner-card">
                                <div class="card-body">
                                     <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        SIS Outage
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="font-size: 16px">
                                        ${data.sis_outage}
                                        <br>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card shadow-lg inner-card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        SIS Compromise
                                    </div>
                                     <div class="row justify-content-center align-items-center" style="font-size: 16px">
                                        ${data.sis_compromise}
                                        <br>

                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card shadow-lg inner-card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        Risk Category
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        <b>${data.RiskCategory}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card shadow-lg inner-card">
                                <div class="card-body">
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        Standards
                                    </div>
                                    <div class="row justify-content-center align-items-center" style="font-size: 12px">
                                        <b>${data.standards}</b>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="height: 70%">

                    </div>

                  </div>

            </div>
        `;

        $("#scenarioDetails").html(detailsHtml);
        $("#scenarioDetailsCard").show(); // Show the card

        var riskPriorityValue = data.risk_priority;
        var riskOwner = data.risk_owner;
        var riskResponse = data.risk_response;
        var riskStatus = data.risk_status;
        var riskOpenDate = data.risk_open_date;
        var riskCloseDate = data.risk_close_date;

        // Set the dropdown to the correct value
        $("#risk_priority").val(riskPriorityValue);
        $("#risk_owner").val(riskOwner);
        $("#risk_response").val(riskResponse);
        $("#risk_status").val(riskStatus);
        $("#risk_open_date").val(riskOpenDate);
        $("#risk_close_date").val(riskCloseDate);

        var rangeData = [
            {x: "Best Case", low: 0, high: data.sle_low},
            {x: "Median Case", low: 0, high: data.sle},
            {x: "Worst Case", low: 0, high: data.sle_high}
        ];

        anychart.theme('darkBlue');
        var rangechart = anychart.area();
        var series = rangechart.rangeStepArea(rangeData);
        var yAxis = rangechart.yAxis();
        yAxis.labels().format('${%Value}');
        rangechart.container("bulletChartContainer");
        rangechart.draw();

        var chartData = [
            {x: "Safety", value: data.impactSafety},
            {x: "Danger", value: data.impactDanger},
            {x: "Production", value: data.impactProduction},
            {x: "Finance", value: data.impactFinance},
            {x: "Reputation", value: data.impactReputation},
            {x: "Environment", value: data.impactEnvironment},
            {x: "Regulation", value: data.impactRegulation},
            {x: "Data", value: data.impactData},
            {x: "Supply", value: data.impactSupply}
        ];

        var chart = anychart.column();
        chart.data(chartData);
        chart.title("Impact Analysis");
        var credits = chart.credits();
            credits.enabled(false);
        var yAxisScale = anychart.scales.linear();
        yAxisScale.minimum(0);
        yAxisScale.maximum(10);
        var yAxis = chart.yAxis();
        yAxis.scale(yAxisScale);
        chart.container("impactChartContainer");
        chart.draw();
    });
}


</script>

