.selectable-row {
        cursor: pointer;
      }
    /* Apply styles to the container */
        .container {
          display: grid;
          grid-template-columns: 15% 40% 40%;
          grid-template-rows: 300px 300px;
          grid-gap: 10px;
        }

    /* Apply styles to the individual items */
    .item1 {
      grid-column: 1;
      grid-row: 1 / span 4;
        border-color: black;
        border-width: 2px;
        background-color: white;
        width: 70%;
    }

    .item2, .item3 {
        align-self: flex-start;
      height: 350px;
        width: 400px;
        background-color: #484848;
    }

    .item4 {
      grid-column: 2 / span 2;
        background-color: white;
        height: 1500px;
        overflow: visible;
    }
    .item4b {
      grid-column: 2 / span 2;
        background-color: white;
        height: 2000px;
        overflow: visible;
    }
     .item5 {
      height: 500px;
        background-color: white;
         overflow: hidden;

    }

     .item6 {
            height: 500px;
            background-color: white;
            overflow: hidden;
            justify-content: center;
    }

     .item7, .item8 {
      height: 300px;
        background-color: white;
    }

       .row1 {
    width: 100%;
  }

  #column1 {
    border: solid;
    border-width: 1mm;
    border-color: #0A0A0A;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 99%;
  }

   #column2 {
    border: solid;
    border-width: 1mm;
    border-color: #0A0A0A;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    width: 60%;
  }

.previous {
  background-color: #97979A;
  color: black;
}

.next {
  background-color: #97979A;
  color: white;
}

.round {
  border-radius: 25%;
}

body {
  font-family: "Lato", sans-serif;
}

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 14px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}