
.aqi-globe {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
    margin: auto;
    font-size: 20px;
}/* Custom Dialog Styles */
#assessmentDialog .modal-dialog {
    max-width: 800px; /* Adjust the width of the dialog */
}

#assessmentDialog .modal-content {
    border-radius: 5px; /* Rounded corners for the modal */
}

#assessmentDialog .modal-header {
    background-color: #f3f3f3; /* Light grey header */
    border-bottom: 1px solid #ddd; /* Separator line */
}

#assessmentDialog .modal-title {
    color: #333; /* Dark text for the title */
}

#assessmentDialog .modal-body {
    background-color: #fff; /* White background for the body */
}

#assessmentDialog .table {
    margin-bottom: 0; /* Remove margin for the table */
}

#assessmentDialog .table th {
    background-color: #e9ecef; /* Light grey background for table headers */
    color: #333; /* Dark text for headers */
    border-top: none; /* Remove top border */
}

#assessmentDialog .table td {
    color: #555; /* Slightly darker text for table data */
}

#assessmentDialog .table tr.selectable-row:hover {
    cursor: pointer;
    background-color: #f0f0f0; /* Light grey background on hover */
}

#assessmentDialog .btn-close {
    color: #333; /* Dark color for close button */
}
body {
    background-color: #464748;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #d3d1cd;
}
.btn-close {
    filter: invert(1); /* Invert color for better visibility on dark backgrounds */
}
.btn-file-dialog {
    background-color: #f0ad4e; /* File folder color */
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.btn-file-dialog:hover {
    background-color: #ec971f; /* Darker shade for hover effect */
    color: white;
}
/* Optional: Add an icon to resemble a file folder */
.btn-file-dialog:before {
    content: '\f07b'; /* FontAwesome folder icon */
    font-family: FontAwesome;
    margin-right: 5px;
}
.btn-primary {
    background-color: #0069d9; /* Slightly darker blue for primary buttons */
    border-color: #0062cc;
}
.btn-secondary {
    background-color: #6c757d; /* Dark gray for secondary buttons */
    border-color: #6c757d;
}
.btn-primary:hover, .btn-secondary:hover {
    opacity: 0.85; /* Slight opacity change on hover for feedback */
}
.card.mb-3.shadow-sm {
    background-color: #f8f9fa; /* Lighter background for cards */
    border: none; /* Remove border */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
}
.card-body {
    background-color: #464748; /* Dark background */
}
.card-body .custom-table-style th,
.card-body .custom-table-style td {
    color: white; /* White text */
}

.card-body .custom-table-style .thead-dark th {
    background-color: #464748; /* Dark background for table header */
}
.card-body-white {
    background-color: #ffffff;
}
.card-header {
    background-color: #007bff;
    color: white;
    font-size: 1.25rem;
}
.card-text, #rationalePoints {
    font-size: 0.95rem;
    color: #464748;
}
.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}
.card-title-light {
font-weight: lighter;
}

#checklistContainer {
    color: white; /* White text color */
}
/* Style for the text next to checkboxes */
#checklistContainer div {
    font-size: 0.8em; /* Smaller font size */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Style for the compliance_map table only */
#compliance_map {
    border-collapse: separate;
    border-spacing: 0 15px; /* Creates space between rows */
    margin: 20px; /* Adds some space around the table for aesthetics */
}

#compliance_map thead th {
    background-color: #004085; /* Dark blue background for headers */
    color: #fff; /* White text for contrast */
    text-align: left;
    font-size: 16px; /* Slightly larger font size for headers */
    padding: 10px; /* Padding inside header cells */
}

#compliance_map tbody tr {
    background-color: #f8f9fa; /* Light background for each row */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow for depth */
    border-radius: 5px; /* Rounded corners for each row */
    margin-bottom: 15px; /* Space between rows */
}

#compliance_map td {
    padding: 10px; /* Padding inside each cell */
    vertical-align: middle; /* Aligns content in the middle vertically */
    border-top: 0; /* Removes the top border from cells */
}

#compliance_map a {
    color: #007bff; /* Color for links to make them stand out */
    text-decoration: none; /* Removes underline from links */
}

#compliance_map a:hover {
    text-decoration: underline; /* Adds underline on hover for links */
}
.content {
    padding: 20px;
}
.copy-code-link {
    display: inline-block;
    margin-top: 5px;
    color: #aaacaf; /* Adjust the color to match ChatGPT's style or your preference */
    text-decoration: none; /* Removes underline from the link */
    cursor: pointer; /* Changes cursor to indicate clickable */
}

.copy-code-link:hover {
    text-decoration: underline; /* Adds underline on hover for better UX */
}
.cube-icon {
    width: 1em; /* Adjust size as needed */
    height: 1em; /* Adjust size as needed */
    margin-right: 1vw;
}
.currency-input {
    text-align: right; /* Aligns the number to the right */
}
.custom-btn {
    width: 150px;  /* Adjust this value as needed */
    height: 50px;  /* Adjust this value as needed */
    background-color: white;
    border: 1px solid grey;
    color: black; /* Set the text color to black */
}
.custom-btn:hover {
    background-color: #f7f7f7; /* Slightly darker background on hover */
    border: 1px solid #d0d0d0; /* Slightly darker border on hover */
}
.custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid #000; /* Black border */
    border-radius: 0.15em;
    outline: none;
    cursor: pointer;
    position: relative;
}
.custom-checkbox:checked {
    background-color: #000; /* Black background when checked */
}
.custom-checkbox:checked:after {
    content: '';
    position: absolute;
    top: 0.15em;
    left: 0.45em;
    width: 0.2em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
.custom-main-content {
    position: relative;
    margin-left: 2vw; /* Adjusted margin */
    width: 80vw; /* Adjusted width */
    min-height: 100vh;
}
.custom-main-content .container {
    width: 100%; /* Ensure the container fills the custom-main-content */
    max-width: none; /* Override Bootstrap's max-width for containers if necessary */
}
.custom-table-style th,
.custom-table-style td {
    color: white;
}

.custom-table-style .thead-dark th {
    background-color: #464748;
}
.dataTables_filter label {
    color: black;
}
.delete-btn:hover {
    background-color: #ff3333; /* Darker shade on hover */
}
.doughnut_container {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc; /* border color */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow effect */
    border-radius: 4px; /* rounded corners (optional) */
}
.dropdown-menu {
    background-color: #d3d1cd;
    border: none;
}
.dropdown-item:hover, .dropdown-item:focus {
    background-color: #fac330; /* Light orange background for hovered dropdown items */
    color: #2D2E30;
}
.facility-profile-submenu {
    display: none;
    list-style-type: none; /* Removes bullet points from submenu items */
    padding-left: 20px; /* Indent submenu items */
}

.facility-profile-heading {
    cursor: pointer; /* Indicates the heading is clickable */
}
.file-explorer {
  max-height: 400px;
  overflow-y: auto;
}

.file-explorer .list-group-item {
  display: flex;
  align-items: center;
  padding: 10px;
}

.file-explorer .list-group-item .file-icon {
  font-size: 24px;
  margin-right: 10px;
}

.file-explorer .list-group-item .file-name {
  flex-grow: 1;
}
.form-control {
    border-radius: 5px; /* Rounded corners for form inputs */
    border: 1px solid #ced4da; /* Subtle border color */
}
.form-control.custom-textarea {
    flex: 1; /* Make textarea flexible within its container */
    font-size: 0.8em;
    color: #0a53be;
    resize: none; /* Prevent resizing */
}
.form-group {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #5E6266; /* Lighter shade of #464748 */
    padding: 15px; /* Optional: for internal spacing */
}
.form-group-attack-tree {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #FFFFFF;
    padding: 15px; /* Optional: for internal spacing */
}
.form-group-white {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #ffffff; /* Lighter shade of #464748 */
     padding: 15px; /* Optional: for internal spacing */
}
.form-sim .form-control {
    max-width: 100%; /* Ensures select does not exceed container width */
    width: auto; /* Optional: Ensures select width is based on content up to max-width */
}
.group-container {
    background: linear-gradient(to bottom right, #464748, #57595b); /* Gradient background */
    border: 1px solid #666; /* Darker border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow */
    padding: 15px;
    margin-bottom: 20px; /* Increased space between containers */
    border-radius: 5px; /* Rounded corners */
}
.group-body {
    color: #e0e0e0; /* Slightly lighter text color */
    font-family: 'Arial', sans-serif; /* Modern font */
}
.group-header {
    color: #d3d1cd; /* Lighter color for contrast */
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777; /* Subtle bottom border */
    font-size: 1.2em; /* Larger font size */
}
#headertable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; /* Creates space between rows */
}
/* Additional styling for headers to match the row aesthetics */
#headertable th {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    border-radius: 5px; /* Optional: Rounds the corners of the header cells */
}
#headertable tr.selectable-row {
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to each row */
    border-radius: 5px; /* Rounds the corners of each row */
}
/* Style the cells (td) of each row */
#headertable tr.selectable-row td {
    border: none;
    padding: 10px; /* Adds padding inside each cell */
    background-color: #fff; /* White background for contrast with the row's shadow */
    border-radius: 5px; /* Ensure the rounded corners apply to cells as well */
}
/* Ensure hidden inputs do not affect layout */
#headertable tr.selectable-row input[type="hidden"] {
    display: none;
}
/* Style for selected rows */
#headertable tr.selectable-row.selected {
    background-color: #007bff; /* Example: a blue background for selected rows */
    color: black; /* White text color for contrast */
}
/* Ensure text within selected rows is also white for contrast */
#headertable tr.selectable-row.selected td {
    color: black;
}
#headertable_wrapper .dataTables_info {
    color: black !important;
}
#headertable_wrapper .dataTables_paginate .paginate_button {
    color: black !important;
}
.highlighted {
    background-color: #f3dc47 !important;
    color: blue !important;
}
html, body, #container {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.icon-text {
    font-size: 24px; /* Adjust as needed */
}

.icon-text img {
    vertical-align: middle;
    height: 1em; /* This will make the image the same height as the text */
}
.inner-card {
background-color: white;
border-radius: 10px;
margin: 10px 10px 20px 10px;
height: 70%;
}
input[type="range"].custom-range {
    cursor: pointer; /* Change cursor to pointer for better UX */
}
.investment-box {
    fill: #eee; /* Light background for the boxes */
    stroke: #666; /* Dark border for the boxes */
}
#investmentImpactVisualization {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.investment-text {
    fill: #000; /* Black text color */
    font-size: 12px; /* Adjust as needed */
}
.list-group {
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}
.modal-backdrop.show {
    opacity: 0.75; /* Darker backdrop for better focus on the modal */
}
.modal-body {
    padding: 20px; /* Increased padding for more space */
}
.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.modal-header {
    background-color: #007bff; /* Blue background for the header */
    color: #ffffff; /* White text color */
    border-bottom: 2px solid #0056b3; /* Darker blue border at the bottom */
    border-top-left-radius: 8px; /* Rounded top left corner */
    border-top-right-radius: 8px; /* Rounded top right corner */
}
.modal-title {
    font-weight: bold;
}
.nav-link.disabled {
    pointer-events: none; /* Prevent clicking */
    opacity: 0.5; /* Visual feedback that the link is disabled */
}
.nav-sidebar {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    list-style: none;
}
.nav-sidebar .nav-item {
        padding: 0.1vw;
        /* border-bottom: 1px solid  #fac330; /* Light orange line */
        margin: 0 10%;
        gap: 1rem;
    }
.nav-sidebar .nav-link {
    color: #d3d1cd;
    border-radius: 0;
    transition: color 0.3s ease-in-out;
    font-size: 0.7rem;
}
.nav-sidebar .nav-link:hover, .nav-sidebar .nav-link.active {
    background-color: #3A5F5F;
    color: #E0E0E0;
}
.nav-sidebar .nav-link img {
    width: 1.25em; /* Scales with the font size */
    height: 1.25em; /* Scales with the font size */
}
.nist-reference {
    font-size: 12px;
    text-align: right;
    color: #666;
}
.notification-message {
    position: fixed; /* or absolute */
    top: 20px; /* Distance from top */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it's above other elements */
    display: none;
    padding: 10px 20px;
    background-color: #4CAF50; /* Green for success */
    color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    animation: fadeOut 5s ease 3s forwards; /* fades out after 3 seconds, total 5s animation */
}

.notification-message.error {
    background-color: #f44336; /* Red for error */
}
.page-title {
    margin: 0; /* Remove default margins */
    font-size: 1.5rem; /* Adjust size as needed */
    text-decoration: none;
}
.page-title:hover {
    text-decoration: underline;
}
path.connection {
    stroke: #333;
    stroke-width: 2;
    fill: none;
}
#rationalePoints li {
    margin-bottom: 0.5rem;
}
#rawtable {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 15px; /* Creates space between rows */
}

/* Style each table row */
#rawtable tr.selectable-row {
    background-color: #f0f0f0; /* Light grey background */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Adds shadow to each row */
    border-radius: 5px; /* Rounds the corners of each row */
}

/* Style the cells (td) of each row */
#rawtable tr.selectable-row td {
    border: none;
    padding: 10px; /* Adds padding inside each cell */
    background-color: #fff; /* White background for contrast with the row's shadow */
    border-radius: 5px; /* Ensure the rounded corners apply to cells as well */
}

/* Ensure hidden inputs do not affect layout */
#rawtable tr.selectable-row input[type="hidden"] {
    display: none;
}

/* Additional styling for headers to match the row aesthetics */
#rawtable th {
    background-color: #2c2c2c;
    color: white;
    padding: 10px;
    border-radius: 5px; /* Optional: Rounds the corners of the header cells */
}
/* Style for selected rows */
#rawtable tr.selectable-row.selected {
    background-color: #007bff; /* Example: a blue background for selected rows */
    color: black; /* White text color for contrast */
}

/* Ensure text within selected rows is also white for contrast */
#rawtable tr.selectable-row.selected td {
    color: black;
}
.recommendation-box {
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    background-color: #f9f9f9;
}
.recommendation-text {
    font-size: 14px;
    margin-bottom: 5px;
    color: #000;
}
.safety-summary-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Space between boxes */
    justify-content: flex-start;
    padding: 20px;
}

.safety-summary-box {
    flex: 0 1 calc(33.333% - 20px); /* 3 boxes per row accounting for gap */
    box-shadow: 0 4px 8px rgba(0,0,0,0.1); /* External shadow */
    padding: 10px;
    background-color: #fff;
    border-radius: 5px; /* Slightly rounded corners for a modern look */
    margin-bottom: 20px; /* Space between rows */
    box-sizing: border-box;
    height: auto; /* Adjust height based on content */
    /* background-image: url('/static/images/green_cube.png'); /* Path to your static image */
    background-repeat: no-repeat;
    background-position: 1px top; /* Adjust the position as needed */
    background-size: 20px 20px; /* Adjust the size of the icon as needed */

}
.select.form-control {
    appearance: none; /* Remove default browser appearance */
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"><path d="M7.247 14.86l-4.95-4.95.703-.703L7.95 13.457l5.997-5.996.703.703-5.95 5.95a.5.5 0 0 1-.703 0z"/></svg>'); /* Custom dropdown arrow */
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 16px 12px;
}
.select2-container--default .select2-selection--single {
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    max-width: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.select2-container {
    width: 100% !important; /* Force 100% width */
}

.selectable-row {
    cursor: pointer;
}
.selectable-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;  /* Optional: to give a slight background change on hover */
}
.sidebar {
    display: flex;
    height: 100vh;
    background-color: #2D2E30; /* Darker shade for sidebar */
    padding: 1vw;
    width: 10vw; /* Sidebar width */
}
.sidebar-logo {
    padding: 1vw;
    text-align: center;
}
.small-font {
font-size: 0.8rem; /* adjust as needed */
}
.spinner {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: none; /* Initially hidden */
}
#spinner_facility #spinnerContainerProfile {
    border: 6px solid #f3f3f3; /* Light grey */
    border-top: 6px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    animation: spin 2s linear infinite;
    margin: auto;
    display: block;
}
.sub-menu {
    position: fixed; /* Fixed position to stay in view */
    top: 0; /* Align with the top of the viewport */
    left: 10vw; /* Position the sub-menu right next to the sidebar */
    width: 7vw; /* Width of the sub-menu */
    height: 100vh; /* Full viewport height */
    background-color: #333; /* Sub-menu background color */
    color: #fff; /* Text color */
    padding: 1vw ; /* Padding */
    box-sizing: border-box; /* Include padding in width calculation */
    font-size: 0.8rem;
}
.sub-menu ul {
    list-style: none; /* Remove default list styling */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
}

.sub-menu li a {
    color: #d3d1cd; /* Link color */
    text-decoration: none; /* Remove underline */
    display: block; /* Make the links fill the container */
    padding: 10px 0; /* Padding for touch targets */
    transition: background-color 0.3s; /* Smooth transition for hover effect */
}

.sub-menu li a:hover, .sub-menu li a.active {
    background-color: #57595b; /* Hover/active background color */
}
.sub-menu2 {
    display: none;
}

.sub-menu2.active {
    display: block;
}
svg {
    display: block;
    margin: 0 auto; /* Center the SVG in its container */
    overflow: visible;
}
/* Custom CSS for SweetAlert2 dialog */
.swal2-custom-border {
    border: 0.2em solid #ddd; /* Lighter border */
    box-shadow: 0 0.3em 0.8em rgba(0, 0, 0, 0.1); /* Shadow */
}
.tab-content.active {
    display: block; /* Only the active tab is displayed */
}
.tab-content {
    display: none; /* Hide all tab content by default */
    padding: 20px; /* Padding around content */
    border: 1px solid #666; /* Border for definition */
    margin-top: 20px; /* Space from the top */
    width: 95%; /* 80% of the available width */
    /* height: 80vh; /* 80% of the viewport height */
    position: absolute; /* Positioning relative to its nearest positioned ancestor */
    left: 150px; /* Adjust based on the total width of the main sidebar and sub-menu */
    top: 0; /* Align with the top of the viewport */
    overflow: auto; /* Add scroll for overflow content */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}
.tab-link.disabled {
    pointer-events: none; /* Prevent clicking */
    opacity: 0.5; /* Visual feedback that the link is disabled */
}
.tab-inactive {
    color: #ccc; /* Light grey color; adjust as needed */
    pointer-events: none; /* Prevents clicking */
    cursor: default;
}
/* Style text areas */
.tab-pane textarea {
    background-color: #f8f9fa;
    border: 1px solid #c5c7c9;
    box-shadow: 0 2px 4px rgba(0,0,0,.1);
    border-radius: 5px;
}

/* Custom scrollbar for text areas */
.tab-pane textarea::-webkit-scrollbar {
    width: 8px;
}

.tab-pane textarea::-webkit-scrollbar-thumb {
    background-color: #007bff; /* Adjust the color to match your theme */
    border-radius: 4px;
}

/* Responsive images/icons in tab content */
.tab-pane img {
    width: 50px; /* Adjust based on your layout */
    float: right;
    margin: 10px;
}
.table td {
padding: 1em; /* More padding for table cells */
border-bottom: 1px solid #dee2e6;
}
.table th {
    background-color: #007bff; /* Example color - a shade of blue */
    color: white;             /* White text color for contrast */
    text-align: center;       /* Center-align the text */
    padding: 10px;            /* Add more padding for spacing */
    font-weight: bold;        /* Make the text bold */
    border-bottom: 2px solid #0056b3; /* A darker border at the bottom for depth */
    text-transform: uppercase; /* Uppercase letters for a more professional look */
}
.table#rawtable {
    font-family: "Segoe UI", Arial, sans-serif; /* Windows font */
    font-size: 12px;
    color: #000;
}
.table#rawtable thead {
    background-color: #e1e1e1; /* Light grey header */
    color: #000;
}
.table#rawtable tbody tr {
    background-color: #fff; /* White rows */
}
.table#rawtable tbody tr:hover {
    background-color: #e8f4fc; /* Light blue on hover, like Windows selection */
    cursor: default;
}
.table#rawtable th, .table#rawtable td {
    border-color: #d3d3d3; /* Light borders for cells */
}
/* Style for file/folder icons */
.table#rawtable .file-icon {
    font-size: 16px;
    color: #808080; /* Grey icon */
    margin-right: 5px;
}
.top-strip {
    background-color: #464748; /* Same as body background for seamless integration */
    color: #d3d1cd; /* Text color */
    /* Adjust as needed */
    /* Align with the end of the sidebar */
    padding: 10px 20px 10px 100px;
    width: calc(100% - 200px); /* Adjust based on the actual sidebar width */
    box-sizing: border-box;
}
.top-strip .btn {
    margin-right: 10px; /* Spacing between buttons */
}
@keyframes fadeOut {
to {
    opacity: 0;
    visibility: hidden;
}
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
@media (max-width: 480px) {
    .nav-sidebar .nav-link img {
        width: 2em; /* Even larger icons */
        height: 2em; /* Even larger icons */
    }

    .nav-sidebar .nav-link {
        font-size: 1.2rem; /* Even larger text */
    }
}
/* Larger icons for tablets */
@media (min-width: 768px) {
    .nav-sidebar .nav-link img {
    width: 1.5em;
    height: 1.5em;
    }
    .nav-sidebar .nav-link {
        font-size: 0.8rem; /* Larger text */
    }
    .modal-lg {
    max-width: 90%; /* Adjust based on preference */
  }
}
@media (min-width: 992px) {
    .nav-sidebar .nav-link img {
        width: 1.5em;
        height: 1.5em;
    }
    .nav-sidebar .nav-link {
        font-size: 0.8rem; /* Larger text */
    }
    .custom-main-content {
        width: calc(100% - 200px);
        max-width: calc(90vw - 200px);
        margin-left: 200px; /* Adjusted margin to accommodate sidebar */
    }
}

@media (max-width: 992px) {
    .top-strip {
        padding-left: 0;
        width: 100%;
    }
    .sub-menu {
        left: 0;
        width: 100%; /* Occupy full width on smaller screens */
    }

    .tab-content {
        display: none;
        padding: 20px;
        border: 1px solid #666;
        margin-top: 20px;
        width: 95%;
        position: absolute;
        left: 0; /* Adjusted left position to avoid overlap */
        top: 0;
        overflow: auto;
        box-sizing: border-box;
    }

    .tab-content.active {
        display: block;
    }

    .custom-main-content {
        margin-left: 0; /* Adjusted margin for smaller screens */
    }
}
