{% load static %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Industry</title>

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
			<link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>	
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:support@colorlib.com">support@iota.com</a>
				  			</div>
				  		</div>			  					
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="{% url 'accounts:login' %}">Home</a></li>
              <li><a href="{% url 'accounts:about' %}">About</a></li>
              <li><a href="{% url 'accounts:faq' %}">iOTa FAQ</a></li>
              <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                <!--<li><a href="{% url 'accounts:subscription_view' %}">Register</a></li>-->
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Customer Login</a></li>


            </ul>
          </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap aboutus-about" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">
							<h6>Built by and for OT Cybersecurity Professionals</h6>
							<h1>
								iOTa is for OT<br>
								Simplifying Risk
							</h1>
							<p class="sub">Designed by and for OT Cybersecurity Professionals</p>

                            <H4>Meet Stuart King, iOTa's creator, designer, engineer, and leader</H4>
                            <p class="pb-20">
                                Stuart King has designed iOTa from the ground-up to meet a need that he was seeing at many organizations: namely a means to conduct
                                cybersecurity assessments, focusing on the issues most important to every OT environment: namely safety, the environment, and operational resilience. </p>
                            <p>Stuart's career spans three decades of hands-on cybersecurity across a multitude of industry sectors ranging from manufacturing to energy, financial services to data services. Over the years, Stuart has completed hundreds of risk assessments, along the way developing a multitude of tools and techniques that provided useful background when building iOTa. </p>
                            <p>The idea for iOTa came out of seeing organizations being frustrated by the lack of good risk assessment tools and the high cost of buying in the consulting services to conduct OT assessments such as the CyberPHA. The objective was to create a product that allows organizations to simulate and quantify risk scenarios, and simplify reporting and risk tracking</p>

                            <p>
                                Stuart has worked for some of the largest and best known organizations in the world including Deloitte, Wipro, Sony, and Tata. He was one of the founding members of
                                the Chartered Institute of Information Security Professionals in the UK (member #7), holds an MBA in Technology Management, and is GICSP certified.
                            </p>
							<a class="primary-btn" href="#">Get Started Now</a>
						</div>
						<div class="col-lg-4 col-md-12 home-about-right relative">

						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

		</body>
	</html>



