{% load static %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>AnzenOT - GRC for OT</title>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">

		<link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet"> 
			<!--
			CSS
			============================================= -->
			<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
			<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
			<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
			<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
			<link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
			<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
			<link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>	
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">

				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:support@colorlib.com">support@iota.com</a>
				  			</div>
				  		</div>			  					
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="{% url 'accounts:login' %}">Home</a></li>
              <li><a href="{% url 'accounts:about' %}">About</a></li>
              <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                <!--<li><a href="{% url 'accounts:subscription_view' %}">Register</a></li>-->
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Customer Login</a></li>


            </ul>
          </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								About Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="about.html"> About Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->	

			<!-- Start home-about Area -->
			<section class="home-about-area section-gap aboutus-about" id="about">
				<div class="container">
					<div class="row justify-content-center align-items-center">
						<div class="col-lg-8 col-md-12 home-about-left">
							<h6>Built by and for OT Cybersecurity Professionals</h6>
							<h1>
								OT Cybersecurity<br>
								Developed by and for OT Risk Professionals
							</h1>
							<p class="sub">Designed by and for OT Cybersecurity Professionals</p>

                            <H4>Stuart King</H4>
                            <H5>iOTa Chief Architect, Designer, Software Engineer, and Leader</H5>
                            <br>
                            <p class="pb-20">
                                Stuart King is a dedicated cybersecurity professional who has spent most of the past 25 years helping organizations around the world across many different industry sectors manage and mitigate IT and OT cybersecurity risks. </p>
                            <p>
                                Stuart's experience has taken him from environments such as oil refineries in the Middle East to Electronics Factories in Japan. Along the way, building an empathy and understanding of the reasons why managing risk for OT is so significantly different from the world of Enterprise IT risk.
                            </p>
                            <p>Stuart's career begin in the Royal Air Force, learning the programming and networking skills that would all prove to be so useful later on. Along the way, Stuart has been widely published, spoken at many conferences, and was one of the first members of the Chartered Institute of Information Security Professionals</p>


						</div>
						<div class="col-lg-4 col-md-12 home-about-right relative">

						</div>
					</div>
				</div>	
			</section>
			<!-- End home-about Area -->

		</body>
	</html>



