{% load static %}

<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Industry</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <style>
        .styled-input {
            border: 1px solid lightgrey;
            border-radius: 5px;
            margin-bottom: 10px;
            padding: 10px;
        }
        </style>
		</head>
		<body>	
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>

				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:support@iotarisk.com">support@iotarisk.com</a>
				  			</div>
				  		</div>			  					
		  			</div>
				</div>
			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">
				        <a href="index.html"><img src="img/logo.png" alt="" title="" /></a>
				      </div>
                      <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li><a href="{% url 'accounts:login' %}">Home</a></li>
                          <li><a href="{% url 'accounts:about' %}">About</a></li>
                          <li><a href="{% url 'accounts:faq' %}">iOTa FAQ</a></li>
                          <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                            <!--<li><a href="{% url 'accounts:subscription_view' %}">Register</a></li>-->
                          <li><a href="#" data-toggle="modal" data-target="#loginModal">Customer Login</a></li>


                        </ul>
                      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->  

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">	
				<div class="overlay overlay-bg"></div>
				<div class="container">				
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								Contact Us				
							</h1>	
							<p class="text-white link-nav"><a href="index.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> Contact Us</a></p>
						</div>	
					</div>
				</div>
			</section>
			<!-- End banner Area -->				  

			<!-- Start contact-page Area -->
			<section class="contact-page-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-4 d-flex flex-column address-wrap">
                            {% if messages %}
                            <div class="messages">
                                {% for message in messages %}
                                <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                                {% endfor %}
                            </div>
                            {% endif %}

							<div class="single-contact-address d-flex flex-row">
								<div class="icon">
									<span class="lnr lnr-envelope"></span>
								</div>
								<div class="contact-details">
									<h5>support@iotarisk.com</h5>
									<p>Email to the above address or submit the following form for more information and to arrange for a demo of iOTa</p>
								</div>
							</div>														
						</div>
						<div class="col-lg-12">
                            <form id="myForm" action="{% url 'accounts:contact_form' %}" method="post" class="contact-form">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-6 form-group">
                                        <input name="first_name" placeholder="First name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'First name'" class="styled-input form-control" required="" type="text">
                                        <input name="last_name" placeholder="Last name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Last name'" class="styled-input form-control" required="" type="text">
                                        <input name="business_email" placeholder="Business Email" pattern="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{1,63}$" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Business Email'" class="styled-input form-control" required="" type="email">
                                        <input name="company" placeholder="Company" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Company'" class="styled-input form-control" required="" type="text">
                                    </div>
                                    <div class="col-lg-6 form-group">
                                        <input name="job_title" placeholder="Job Title" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Job Title'" class="styled-input form-control" required="" type="text">
                                        <input name="country" placeholder="Country" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Country'" class="styled-input form-control" required="" type="text">
                                        <input name="phone" placeholder="Phone" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Phone'" class="styled-input form-control" required="" type="tel">
                                        <textarea class="styled-input form-control" name="comments" placeholder="Comments" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Comments'" required=""></textarea>

                                        <button class="genric-btn primary circle mt-30" style="float: right;">Send Message</button>

                                    </div>
                                </div>
                            </form>
                        </div>

						</div>
					</div>

			</section>
			<!-- End contact-page Area -->

			<!-- start footer Area -->		
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									iOTa is a risk assessment solution for OT cybersecurity scenarios.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>								
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">

							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	

		</body>
	</html>



