{% load static %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		    <title>iOTa</title>
    <link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">

        <style>

            .custom-list {
        list-style-type: disc; /* Use 'disc' for filled bullets or 'circle' for outlined bullets */
        /* Add any other custom styles you need */
    }
        </style>
		</head>
		<body>
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>
				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:info@anzenot.ai">info@anzenot.ai</a>
				  			</div>
				  		</div>
		  			</div>
				</div>


			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">

				      </div>
          <nav id="nav-menu-container">
            <ul class="nav-menu">
              <li><a href="{% url 'accounts:login' %}">Home</a></li>
              <li><a href="{% url 'accounts:about' %}">About</a></li>
              <li><a href="{% url 'accounts:faq' %}">iOTa FAQ</a></li>
              <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                <!--<li><a href="{% url 'accounts:subscription_view' %}">Register</a></li>-->
              <li><a href="#" data-toggle="modal" data-target="#loginModal">Customer Login</a></li>


            </ul>
          </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								iOTa FAQ
							</h1>
							<p class="text-white link-nav"><a href="/login.html">Home </a>  <span class="lnr lnr-arrow-right"></span>  <a href="contact.html"> FAQ</a></p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

			<!-- Start FAQ Area -->
			<section id="faq">
               <div class="row">
                   <div class="col-md-2"></div>
                   <div class="col-md-5">
                       <H4>What is iOTa?</H4>
                       <p>iOTa stands for Industrial Operational Technology Assessor. It's an online application to facilitate OT Cybersecurity Risk Management programs.<br>
                           Using iOTa, you are able to perform OT cybersecurity risk assessments against any number of scenarios and analyse the consequences.</p>
                       <p>iOTa allows for two different types of risk assessment: </p>
                           <p><b>1. Quick Risk Assessment Worksheet (QRAW)</b><br>
                            &nbsp;&nbsp;&nbsp;The QRAW allows analyses for up to 5 scenarios. Scenario's can be selected from our extensive database of both real-world
                               and speculative incidents. Users may also submit their own scenarios to save for later usage. Against each scenario, perform a business impact
                                assessment (BIA) , estimating impacts on safety, danger-to-life, the local environment, supply chain and more. Users may also enter a text justification
                                against each impact criteria in addition. <br>
                                &nbsp;&nbsp;&nbsp;The QRAW will perform an AI-based risk assessment using the BIA criteria and other information about the facility. The AI engine is programmed
                                to take account of the industry, type of facility and more including revenue, cyber-insurance information and the overall likelihood of such a scenario occurring.
                               &nbsp;&nbsp;&nbsp;In response, the risk assessment will offer a score, rating, and the estimated costs to the organization relating to the scenario as well as a risk summary statement.
                           </p>
                       <p><b>2. Cybersecurity Process Hazards Analysis (CyberPHA)</b><br>
                       &nbsp;&nbsp;&nbsp;The CyberPHA is a comprehensive assessment based on the same methodology used for industrial safety and hazards assessments (HAZOPS). <br>
                           iOTa's CyberPHA assessment allows for any number of scenarios to be submitted and analysed based on a wide number of factors ranging from the location and type of facility, business impact
                           analysis scores (as above), unmitigated and mitigated risk scores, and analysis of any number of vulnerabilities for each scenario. <br>
                           &nbsp;&nbsp;&nbsp;In response iOTa's AI engine will estimate the probability of attack success, estimated incident costs, and amount of residual risk for each scenario.
                           &nbsp;&nbsp;&nbsp;Further iOTa will determine recommendations selected to align with industry standards. Select any industry standard listed from a drop-down list and
                           recommendations presented back will align along with the correct citation.</p>
                       <H4>Key Features of iOTa</H4>
                       <ul class="custom-list">
                           <li>A secure SaaS solution for entering, tracking, and reporting on OT Cybersecurity risks</li>
                           <li>Risk assessment "simulator" with multiple scenarios able to be entered for each assessment</li>
                           <li>Quantification of risks and incidents using machine-learning and AI to estimate event costs and probabilities based on real-world data</li>
                           <li>Assignment of scenarios to a risk register</li>
                           <li>Create scenario's based on a pre-populated database containing over 500 ICS/OT related scenarios</li>
                           <li>Enables "snapshots" to be generated for scenarios and reporting of progress over time</li>
                           <li>Enter customer scenarios and consequences specific to your own organization</li>
                           <li>Business impact analysis across 9 different factors including safety, environment, operations, and supply chain</li>
                           <li>Automatically generate a "profile" for any industrial site including safety, chemicals, physical security, and the most likely OT asset groups</li>
                           <li>Automatically generate recommendations for controls based on any common Industry Standard</li>
                           <li>Estimate a spread of event costs ranging from best-case to worst-case, and track over time using snapshots</li>
                           <li>Create and report on action items for any risk assessment</li>
                           <li>Highly graphical reporting suitable for presentation to key stakeholders</li>
                           <li>Secure access with mandatory two-factor authentication</li>
                        </ul>

                       <br>
                       <H4>Who is iOTa for?</H4>
                       <p>iOTa is for cybersecurity and risk management professionals and leaders who need to assess and report on risks at industrial facilities or any location
                       where Industrial Control Systems(ICS) and related Operation Technology (OT) is used, and/or where health and safety concerns are paramount. </p>
                       <H4>How do I get an account on iOTa?</H4>
                       <p>We've made account purchase and setup easy through an online registration that allows both individual and organizational accounts to be setup. If you're setting up an
                       organization account then once the account is created, you'll be able to go online and create as many accounts for that organization as your subscription allows.</p>
                       <p>To setup accounts outside of the online subscription process, please contact support@iotarisk.com and we'll be pleased to discuss your requirements.</p>
                   <H4>Where is iOTa hosted?</H4>
                       <p>iOTa is hosted on Amazon web services, utilizing an EC2 instance. At the present time the hosting location is limited to the United States, but as iOTa grows, the hosting will be adapted to meet the needs of our customers.</p>
                   <H4>How does iOTa secure customer data?</H4>
                       <p>iOTa is built on the Django platform and utilizes many of the built-in security features that come as standard with Django. Passwords and other sensitive data are encrypted
                       using industry standard algorithms and an audit trail is maintained of all activity. Great care has been taken to ensure separation and protection of customer data. Security has been considered from the ground up
                       and is not an add-on. </p>
                       <p>We know that many of our customers need strong assurance that their online services are secure: we'll respond quickly to questionnaires and requests for more information about how iOTa protects your data.</p>
                    <H4>What about two-factor authentication?</H4>
                       <p>All user accounts are protected with two-factor authentication. Setup is simple and you can use any common authentication app.</p></H4>
                       <p>Our aim is to be a tool that fits into your risk management program and workflows, has excellent reporting capability, and can integrate with other common solutions.
                       <br>You are currently using version 1. Our immediate priorities are:
                       <ul>
                       <li><del>Implementation of multi-factor authentication (by January 2024 or sooner)</del> Done!</li>
                       <li>Generation of reports in ppt and pdf formats (by January 2024 or sooner)</li>
                       <li>Continuous improvements to the AI engine to improve speed, accuracy, and credibility</li>
                       <li>Integration of the CVE database for vulnerability analysis</li>
                       <li>Multi-lingual capabilities</li>
                        </ul>
                       </p>




                   </div>
                   <div class="col-md-3">
                       <img src="{% static 'images/qraw1.jpg' %}"  style="width: 100%"/><br>
                        <img src="{% static 'images/qraw2.jpg' %}"  style="width: 100%"/><br><br>
                       <img src="{% static 'images/pha1.jpg' %}"  style="width: 100%"/><br>
                   </div>
                   <div class="col-md-2"></div>
               </div>


            </section>

			<!-- start footer Area -->
			<footer class="footer-area section-gap">
				<div class="container">
					<div class="row">
						<div class="col-lg-5 col-md-6 col-sm-6">
							<div class="single-footer-widget">
								<h6>About Us</h6>
								<p>
									iOTa is a risk assessment solution for OT cybersecurity scenarios.
								</p>
								<p class="footer-text">
									<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | This template is made with <i class="fa fa-heart-o" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
								</p>
							</div>
						</div>
						<div class="col-lg-5  col-md-6 col-sm-6">
							<div class="single-footer-widget">

							</div>
						</div>						
						<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
							<div class="single-footer-widget">
								<h6>Follow Us</h6>
								<p>Let us be social</p>
								<div class="footer-social d-flex align-items-center">
									<a href="#"><i class="fa fa-facebook"></i></a>
									<a href="#"><i class="fa fa-twitter"></i></a>
									<a href="#"><i class="fa fa-dribbble"></i></a>
									<a href="#"><i class="fa fa-behance"></i></a>
								</div>
							</div>
						</div>							
					</div>
				</div>
			</footer>	
			<!-- End footer Area -->	

			<script src="js/vendor/jquery-2.2.4.min.js"></script>
			<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
			<script src="js/vendor/bootstrap.min.js"></script>			
			<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
  			<script src="js/easing.min.js"></script>			
			<script src="js/hoverIntent.js"></script>
			<script src="js/superfish.min.js"></script>	
			<script src="js/jquery.ajaxchimp.min.js"></script>
			<script src="js/jquery.magnific-popup.min.js"></script>	
			<script src="js/owl.carousel.min.js"></script>	
			<script src="js/hexagons.min.js"></script>							
			<script src="js/jquery.nice-select.min.js"></script>	
			<script src="js/jquery.counterup.min.js"></script>
			<script src="js/waypoints.min.js"></script>							
			<script src="js/mail-script.js"></script>	
			<script src="js/main.js"></script>	
		</body>
	</html>



