<!DOCTYPE html>
<html>
<head>
  <title>User Profile</title>
</head>
<body>
  <h2>User Profile</h2>
  <table>
    <tr>
      <th>First Name:</th>
      <td>{{ user.first_name }}</td>
    </tr>
    <tr>
      <th>Last Name:</th>
      <td>{{ user.last_name }}</td>
    </tr>
    <tr>
      <th>Email:</th>
      <td>{{ user.email }}</td>
    </tr>
    <tr>
      <th>Organization:</th>
      <td>{{ user.userprofile.organization.name }}</td>
    </tr>
    <tr>
      <th>Is Superuser:</th>
      <td>{{ user.is_superuser }}</td>
    </tr>
  </table>
</body>
</html>
