{% load static %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Industry</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:support@iotarisk.com">support@iotarisk.com</a>
				  			</div>
				  		</div>
		  			</div>
				</div>


			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">

				      </div>
                      <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li><a href="{% url 'accounts:login' %}">Home</a></li>
                          <li><a href="{% url 'accounts:about' %}">About</a></li>
                          <li><a href="{% url 'accounts:faq' %}">iOTa FAQ</a></li>
                          <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                        </ul>
                      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								iOTa Authentication
							</h1>
							<p class="text-white link-nav">Home <span class="lnr lnr-arrow-right"></span> 2FA</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

     <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
        <form method="post" class="text-center">
            <h2>Set up 2FA</h2>
            <p>Scan the QR code below with your 2FA app:</p>
            <img src="{{ qr_code_url }}" alt="QR Code">
            <p>After scanning, go to the verification page to complete the setup.</p>
            <a href="{{ verify_2fa }}">Click here after scanning to verify</a>
        </form>
    </div>

    <div class="col-md-5"></div>
</div>



