{% load static %}
<!DOCTYPE html>
	<html lang="zxx" class="no-js">
	<head>
		<!-- Mobile Specific Meta -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Favicon-->
		<link rel="shortcut icon" href="img/fav.png">
		<!-- Author Meta -->
		<meta name="author" content="codepixer">
		<!-- Meta Description -->
		<meta name="description" content="">
		<!-- Meta Keyword -->
		<meta name="keywords" content="">
		<!-- meta character set -->
		<meta charset="UTF-8">
		<!-- Site Title -->
		<title>Industry</title>

    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!--
        CSS
        ============================================= -->
        <link rel="stylesheet" href="{% static 'css/linearicons.css' %}">

        <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'css/hexagons.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
        <link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
		</head>
		<body>
			  <header id="header" id="home">
		  		<div class="header-top">
		  			<div class="container">
				  		<div class="row">
				  			<div class="col-lg-6 col-sm-6 col-4 header-top-left no-padding">
				  				<ul>
									<li><a href="#"><i class="fa fa-facebook"></i></a></li>
									<li><a href="#"><i class="fa fa-twitter"></i></a></li>
									<li><a href="#"><i class="fa fa-dribbble"></i></a></li>
									<li><a href="#"><i class="fa fa-behance"></i></a></li>
				  				</ul>
				  			</div>
				  			<div class="col-lg-6 col-sm-6 col-8 header-top-right no-padding">
				  				<a href="mailto:support@iotarisk.com">support@iotarisk.com</a>
				  			</div>
				  		</div>
		  			</div>
				</div>


			    <div class="container main-menu">
			    	<div class="row align-items-center justify-content-between d-flex">
				      <div id="logo">

				      </div>
                      <nav id="nav-menu-container">
                        <ul class="nav-menu">
                          <li><a href="{% url 'accounts:login' %}">Home</a></li>
                          <li><a href="{% url 'accounts:about' %}">About</a></li>
                          <li><a href="{% url 'accounts:faq' %}">iOTa FAQ</a></li>
                          <li><a href="{% url 'accounts:contact' %}">Contact</a></li>
                        </ul>
                      </nav><!-- #nav-menu-container -->
			    	</div>
			    </div>
			  </header><!-- #header -->

			<!-- start banner Area -->
			<section class="banner-area relative" id="home">
				<div class="overlay overlay-bg"></div>
				<div class="container">
					<div class="row d-flex align-items-center justify-content-center">
						<div class="about-content col-lg-12">
							<h1 class="text-white">
								iOTa Authentication
							</h1>
							<p class="text-white link-nav">Home <span class="lnr lnr-arrow-right"></span> 2FA</p>
						</div>
					</div>
				</div>
			</section>
			<!-- End banner Area -->

<!-- setup_2fa.html -->

<div class="row">
    <div class="col-md-5"></div>
    <div class="col-md-2">
        <form method="post" class="text-center">
            <h2>Set up 2FA</h2>
            <p>Access to iOTa is protected using two-factor authentication. An SMS will be sent to your mobile device containing a code. Enter your phone number here to opt-in and receive an iOTa verification codes:</p>
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-primary">Send Verification Code</button>
        </form>
    </div>
    <div class="col-md-5"></div>
</div>

<!-- Include intl-tel-input CSS and JS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>

<script>
    var input = document.querySelector("#phone_number");
    window.intlTelInput(input, {
        // Any additional options you want to set
        initialCountry: "us",
        preferredCountries: ['us', 'ca', 'gb'],
        utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js"
    });
</script>



