{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>CyberPHA Manager</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- CSS -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAJ5YgiIfwmNiqZUcegJ6zfz9C5CsA1px0&callback=initMap" async defer></script>

     {% load django_bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}



    <style>
        .small-font {
        font-size: 0.8rem; /* adjust as needed */
        }
        #tblcyberPHAList tbody tr:hover {
            background-color: #f5f5f5;
        }
        .table-container {
        max-height: 600px; /* Adjust the height as needed */
        overflow-y: auto;
        }

       .navbar-scroll .nav-link,
            .navbar-scroll .navbar-toggler-icon,
            .navbar-scroll .navbar-brand {
              color: #262626;
            }

    /* Color of the navbar BEFORE scroll */
    .navbar-scroll {
      background-color: #FFC017;
    }

    /* Color of the links AFTER scroll */
    .navbar-scrolled .nav-link,
    .navbar-scrolled .navbar-toggler-icon,
    .navbar-scroll .navbar-brand {
      color: #262626;
    }

    @media (max-width: 768px) {
          #industry {
            width: 100%;
          }
        }

        @media (min-width: 769px) {
          #industry {
            width: 100%;
          }
        }

        #tblcyberPHAList {
            box-shadow: 0px 0px 15px 1px rgba(0,0,0,0.15); /* Gives the table a subtle shadow */
            overflow: hidden; /* Needed to apply the rounded corners to the table */
        }

        #tblcyberPHAList thead th {
            background: #34495e; /* Darker table headers */
            color: #ecf0f1; /* Lighter table header text */
        }

        #tblcyberPHAList tbody tr {
            transition: all 0.4s ease; /* Smooth hover effect */
        }

        #tblcyberPHAList tbody tr:hover {
            transform: scale(1.02); /* Slightly enlarge the row on hover */
            background: #f8f9fa; /* Change background on hover */
        }

.nav-sidebar .nav-link img {
    width: 1.25em; /* Scales with the font size */
    height: 1.25em; /* Scales with the font size */
}
/* Larger icons for tablets */
@media (min-width: 768px) {
    .nav-sidebar .nav-link img {
    width: 1.5em;
    height: 1.5em;
    }
}
/* Even larger icons for desktops */
@media (min-width: 992px) {
    .nav-sidebar .nav-link img {
    width: 1.75em;
    height: 1.75em;
    }
}
</style>

    <script>
        $(document).ready(function() {
            // Function to handle row click event in tblcyberPHAList
            $('#tblcyberPHAList tbody tr').click(function() {
                // Remove the active class from all rows
                $('#tblcyberPHAList tbody tr').removeClass('active');

                // Add the active class to the clicked row
                $(this).addClass('active');

                // Set the active-cyberPHA value
                var activeCyberPHA = $(this).attr('data-id');
                sessionStorage.setItem('active-cyberpha', activeCyberPHA);
                // Set the session cookie for active-cyberpha

                // Set the session value as a cookie
                document.cookie = "active_cyberpha=" + activeCyberPHA;

                // Get the link element
                var link = document.getElementById('cyberpha-link');

                // Update the href attribute with the active-cyberpha value
                link.href = link.href + "?active_cyberpha=" + activeCyberPHA;
            });

            // Function to handle add record button click event
            $('#add-record-btn').click(function() {
                // Validate and retrieve the data entered by the user
                var name = $('#name').val();
                var company = $('#company').val();
                var title = $('#title').val();
                var expertise = $('#expertise').val();
                var experience = $('#experience').val();
                var comments = $('#comments').val();

                // You can perform further validation here

                // Save the new record to tblCyberPHATeam using AJAX
                var activeCyberPHA = sessionStorage.getItem('active-cyberpha');
                $.ajax({
                    url: '/OTRisk/add-team-member/',
                    type: 'POST',
                    data: {
                        csrfmiddlewaretoken: '{{ csrf_token }}',
                        cyberPHAID: activeCyberPHA,
                        name: name,
                        company: company,
                        title: title,
                        expertise: expertise,
                        experience: experience,
                        comments: comments
                    },
                    success: function(response) {
                        // Clear the input fields
                        $('#name').val('');
                        $('#company').val('');
                        $('#title').val('');
                        $('#expertise').val('');
                        $('#experience').val('');
                        $('#comments').val('');

                        // Update the team members table
                        $('#TeamMembersTable').html(response.team_members);

                        // Set the active-cyberPHA value to the newly created record
                        sessionStorage.setItem('active-cyberpha', response.new_cyber_pha_id);
                    }
                });
            });

            // Function to handle add new record button click event
            $('#add-new-record-btn').click(function() {
                // Clear the input fields and active-cyberpha session variable
                $('#facilityName').val('');
                $('#phaLeader').val('');
                $('#phaLeaderEmail').val('');
                $('#facilityOwner').val('');
                $('#facilityNode').val('');
                $('#facilityUnit').val('');
                $('#facilityZone').val('');
                $('#description').val('');
                sessionStorage.setItem('active-cyberpha', '0');

   // Remove the active class from all rows
                $('#tblcyberPHAList tbody tr').removeClass('active');
            });
        });
    </script>


<body>

<nav class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark">
  <div class="container-fluid">
   <a class="navbar-brand" href="#">OT Risk Master</a>
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse"
      data-mdb-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
      aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:risk_assessment' %}"><i class="bi bi-journal-text"></i> Risk Assessment</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-diagram-3"></i> CyberPHA
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{% url 'OTRisk:cyber_pha_manager' %}"> CyberPHA Manager</a></li>
                <li><a class="dropdown-item" href="{% url 'OTRisk:walkdown' %}"> Site Walkdown</a></li>
                <li><a class="dropdown-item" href="#">Workshop</a></li>
              </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:site_walkdown' %}"><i class="bi bi-building"></i> Site Walkdown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:walkdown' %}" tabindex="-1" ><i class="bi bi-kanban"></i> New Walkdown</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" ><i class="bi bi-ui-checks-grid"></i> Admin</a>
      </li>
           <li class="nav-item">
          <a class="nav-link" href="#"><i class="bi bi-person-fill"></i> User: {{ user.first_name }} {{ user.last_name }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="row">
    <!-- left side container for user form fields -->
    <div class="col-md-4 bg-light p-3 d-flex align-items-lg-top justify-content-center ">
        <form class="needs-validation small-font"   id="cyberPHAForm" method="POST" action="{% url 'OTRisk:save_cyberpha' %}" >
         {% csrf_token %}
            <div class="row">
            <p></p><p></p><p></p>
             <h3 class="text-center">Assessment Manager</h3>
            <p class="text-center">Enter information about the assessment site and scope</p>
                <!--user form fields left side -->
                <div class="col-md-6">
                    <div class="row">
                        <label class="form-label" for="industry"> Industry Sector</label>
                        <select id="industry" name="industry" class="form-select form-control-lg" onchange="updateIndustrySession()">
                          <option value="">Select the industry sector</option>
                            {% for industry in industry %}
                                <option value="{{ industry.Industry }}">{{ industry.Industry }}</option>
                            {% endfor %}
                        </select>
                        <script>
                        function updateIndustrySession() {
                            var selectedIndustry = document.getElementById('industry').value;
                            sessionStorage.setItem('industry', selectedIndustry);
                        }
                    </script>
                    </div>
                    <div class="row">
                        <label class="form-label" for="facilityType">Facility Type</label>
                        <select id="facilityType" name="facilityType" class="form-select form-control-lg">
                          <option value="">Select the facility Type</option>
                            {% for facilityTypes in facilityTypes %}
                                <option value="{{ facilityTypes.FacilityType }}">{{ facilityTypes.FacilityType }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="row">
                        <label class="form-label" for="plantName">Facility Name</label>
                        <input type="text" id="plantName" name="plantName" class="form-control form-control-lg" required/>
                        <div class="invalid-feedback">Please enter a facility name</div>
                    </div>
                    <div class="row">
                        <label class="form-label" for="siteemps">Employees on Site</label>
                        <input type="text" id="siteemps" name="siteemps" class="form-control form-control-lg" required/>
                        <div class="invalid-feedback">Please enter number of employees on site</div>
                    </div>
                    <label class="form-label" for="unit">Unit</label>
                    <select id="unit" name="unit" class="form-select form-control-lg">
                    <option value="">Select the in-scope unit </option>
                        {% for units in units %}
                            <option value="{{ units.PlantUnits }}">{{ units.PlantUnits }}</option>
                        {% endfor %}
                    </select>

                    <label class="form-label" for="zone">Zone</label>
                    <select id="zone" name="zone" class="form-select form-control-lg">
                      <option value="">Select the in-scope zone </option>
                        {% for zones in zones %}
                            <option value="{{ zones.PlantZone }}">{{ zones.PlantZone }}</option>
                        {% endfor %}
                    </select>

                    <label class="form-label" for="node">Node</label>
                    <select id="node" name="node" class="form-select form-control-lg">
                      <option value="">Select the node type</option>
                        {% for nodes in nodes %}
                            <option value="{{ nodes.NodeType }}">{{ nodes.NodeType }}</option>
                        {% endfor %}
                    </select>

                    <label class="form-label" for="facilityAddress">Facility Address</label>
                    <textarea class="form-control form-control-lg" id="txtfacilityAddress" name="txtfacilityAddress" rows="3" onblur="initMap()"></textarea>
                    <script>
                      //  $(document).ready(function() {
                      //      $('#unit').select2();
                       //     $('#zone').select2();
                      //      $('#node').select2();
                      //      $('#industry').select2();
                      //      $('#facilityType').select2();
                      //  });
                    </script>
                    <input type="hidden" id="editMode" name="editMode"  value="0">
                    <input type="hidden" id="recordId" name="recordId" value="">

                </div>
                <!--user form fields right side -->
                <div class="col-md-6">
                    <label class="form-label" for="leader">Assessment Leader</label>
                    <input type="text" id="leader" name="leader" class="form-control form-control-lg" required/>

                    <label class="form-label" for="facilityLeader">Facility Leader</label>
                    <input type="text" id="facilityLeader" name="facilityLeader" class="form-control form-control-lg" required/>

                    <label class="form-label" for="email">Assessment Leader Email</label>
                    <input type="email" class="form-control" id="email" name="email" aria-describedby="emailHelp" />
                    <div id="emailHelp" class="form-text">Best contact email address</div>

                    <label class="form-label" for="txtstartdate">Start Date</label>
                    <input type="date" id="txtstartdate" name="txtstartdate" class="form-control form-control-lg" required/>

                    <label class="form-label" for="txtenddate">Target End Date</label>
                    <input type="date" id="txtenddate" name="txtenddate" class="form-control form-control-lg" />

                    <label class="form-label" for="txtComment">Additional information</label>
                    <textarea class="form-control form-control-lg" id="txtComment" name="txtComment" rows="4"></textarea>
                    <br>
                    <button id="add-new-record-btn" type="submit" data-bs-toggle="modal"  class="btn btn-primary btn-lg"  data-bs-target="#confirmationModal">Save Details</button>
                    <button id="clear" type="button" data-bs-toggle="modal"  class="btn btn-primary btn-lg" data-bs-target="#confirmationModal" onclick="clearForm()">Clear Form</button>
                    <script>

                         function clearForm() {

                            document.getElementById('plantName').value = '';
                            document.getElementById('leader').value = '';
                            document.getElementById('facilityLeader').value = '';
                            document.getElementById('email').value = '';
                            document.getElementById('txtComment').value = '';
                            document.getElementById('recordId').value = 0;
                        }

                    </script>
                    <!--<button type="button" class="btn btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#confirmationModal">Save Scenario</button> -->
                </div>
                <br>

            </div>

    </form>
 </div>

      <div class="col-md-4">
      <br><br><br>Select a record in the table below to begin an assessment:
            <div id="CyberPHAList">
            <!-- Table listing current records in tblCyberPHA -->
                <div class="table-container small-font">
                    <table id="tblcyberPHAList" class="table table-striped table-bordered shadow-sm p-3 mb-5 bg-white rounded">
                        <thead class="thead-dark">
                        <tr>
                            <th></th>
                            <th>Facility Name</th>
                            <th>Facility Type</th>
                            <th>Leader</th>
                            <th>Start</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                         </thead>
                        <tbody>
                        <!-- Django code to iterate over tblCyberPHA records -->
                            {% for cyberPHA in tblCyberPHAList %}
                            <tr data-id="{{ cyberPHA.ID }}" class="table-light">
                                <td>{{ cyberPHA.ID }}</td>
                                <td>{{ cyberPHA.FacilityName }}</td>
                                <td>{{ cyberPHA.FacilityType }}</td>
                                <td>{{ cyberPHA.PHALeader }}</td>
                                <td>{{ cyberPHA.AssessmentStartDate }}</td>
                                <td>{{ cyberPHA.AssessmentStatus }}</td>
                                <td>
                                    <button onclick="PHAeditmode({{ cyberPHA.ID }})" class="btn btn-primary">Edit</button>
                                    <a href="{% url 'OTRisk:deletecyberpha' cyberPHA.ID %}" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this record? (Note that if you proceed, the record will be virtually deleted and can be recovered if necessary)')">Del</a>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>


                    <script>


                    function PHAeditmode(id) {
                        fetch(`/OTRisk/PHAeditmode/${id}`)
                        .then(response => response.json())
                        .then(data => {
                            document.getElementById('editMode').value = "1";
                            document.getElementById('recordId').value = id;
                            // Populate form fields with the data retrieved from the server
                            document.getElementById('industry').value = data.Industry;

                            sessionStorage.setItem('industry', data.Industry);
                            document.getElementById('facilityType').value = data.FacilityType;
                            document.getElementById('plantName').value = data.FacilityName;
                            document.getElementById('siteemps').value = data.EmployeesOnSite;
                            document.getElementById('unit').value = data.AssessmentUnit;
                            document.getElementById('node').value = data.AssessmentNode;
                            document.getElementById('zone').value = data.AssessmentZone;
                            document.getElementById('leader').value = data.PHALeader;
                            document.getElementById('facilityLeader').value = data.FacilityOwner;
                            document.getElementById('email').value = data.PHALeaderEmail;
                            document.getElementById('txtstartdate').value = data.AssessmentStartDate;
                            document.getElementById('txtenddate').value = data.AssessmentEndDate;
                            document.getElementById('txtComment').value = data.Notes;
                            document.getElementById('txtfacilityAddress').value = data.facilityAddress;
                            sessionStorage.setItem('FacilityName', data.FacilityName);
                            sessionStorage.setItem('FacilityAddress', data.facilityAddress);
                            sessionStorage.setItem('FacilityType', data.FacilityType);
                            sessionStorage.setItem('EmployeesOnSite', data.EmployeesOnSite);
                        });
                    }

                  // Get a reference to the table
                  const table = document.getElementById('tblcyberPHAList');

                  // Add event listener for row click
                  table.addEventListener('click', function(event) {

                    // Check if a row was clicked
                    if (event.target.tagName === 'TD') {
                      // Retrieve the row data
                      const row = event.target.parentNode;
                      const id = row.dataset.id;
                      const facilityName = row.cells[1].textContent;
                      const facilityType = row.cells[2].textContent;
                      const unit = row.cells[3].textContent;
                      const zone = row.cells[4].textContent;
                      const node = row.cells[5].textContent;

                      // Set session variables using JavaScript or make an AJAX request to the server
                      // Example using JavaScript sessionStorage:
                      sessionStorage.setItem('clickedRowId', id);
                      sessionStorage.setItem('clickedRowFacilityName', facilityName);
                      sessionStorage.setItem('clickedRowFacilityType', facilityType);


                      var activeCyberPHA = sessionStorage.getItem('active-cyberpha');

                      // Redirect to another page
                      window.location.href = "{% url 'OTRisk:assess_cyberpha' %}?active_cyberpha=" + activeCyberPHA;
                    }
                  });
                </script>
                </div>
            </div>
      </div>

        <div class="col-md-4">
           <!-- <input id="address" type="text" value=""> -->
            <!-- <input type="button" value="Geocode" onclick="initMap()"> -->
            <div id="map" style="width: 100%; height: 400px;"></div>
        </div>


    <script>
      var map;
      function initMap() {
        var geocoder = new google.maps.Geocoder();
        geocodeAddress(geocoder);

        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 18,
      mapTypeId: google.maps.MapTypeId.SATELLITE

        });
      }

      function geocodeAddress(geocoder) {
        var address = document.getElementById('txtfacilityAddress').value;
        geocoder.geocode({'address': address}, function(results, status) {
          if (status === 'OK') {
            map.setCenter(results[0].geometry.location);
            new google.maps.Marker({
              map: map,
              position: results[0].geometry.location
            });
          }
        });
      }
    </script>


</body>
</html>
