{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnzenOT - GRC for OT</title>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">

    <!--<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJu4p9r_vFL9g5nzctO4yLbNxjK08q4G0&loading=async&callback=initMap"></script>-->
     <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css"
     integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY="
     crossorigin=""/>
     <!-- Make sure you put this AFTER Leaflet's CSS -->
 <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"
     integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo="
     crossorigin=""></script>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-bundle.min.js'%}"></script>
    <script src="{% static 'anychart/dist/js/anychart-heatmap.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-sunburst.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-pie.min.js' %}"></script>

  <script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
  <script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>

  <script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.3.15/proj4.js"></script>
  <link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
  <link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'css/otriskstyle.css' %}">
<style>
    /* General table styles */
.table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif; /* Standard web-safe font */
    color: #333; /* Dark grey text for better readability */
    background-color: #fff; /* White background for a clean look */
}

/* Header styles */
.table th {
    background-color: #f0f0f2; /* Soft grey background */
    color: #333; /* Dark grey text */
    padding: 12px 15px;
    font-weight: normal; /* Avoid bold to maintain a sleek look */
    text-transform: none; /* Normal casing for a modern feel */
    border-bottom: 2px solid #e1e1e1; /* Subtle bottom border */
    cursor: pointer; /* Indicates the header is clickable for sorting */
}

/* Hover effect for headers */
.table th:hover {
    background-color: #dcdce0; /* Slightly darker on hover for interaction feedback */
}

/* Row and cell styles */
.table td {
    padding: 12px 15px;
    border-bottom: 1px solid #e1e1e1; /* Light grey border for separation */
}

/* Hover effect for rows */
.table tr:hover {
    background-color: #f9f9fb; /* Very light grey background on hover */
}

/* Color coding for PHA Score */
.pha-score {
    border-radius: 10px;
    padding: 5px;
    text-align: center;
    color: #fff; /* White text for all levels for readability */
    font-weight: bold;
}

.low { background-color: #4CAF50; } /* Green */
.low-medium { background-color: #8BC34A; } /* Light Green */
.medium { background-color: #FFEB3B; color: #333; } /* Yellow with dark text */
.medium-high { background-color: #FF9800; } /* Orange */
.high { background-color: #F44336; } /* Red */
.very-high { background-color: #D32F2F; } /* Dark Red */

/* Styling for selected rows */
.selected {
    background-color: #cce4ff; /* Light blue for selection */
}

/* Ensure hidden inputs do not affect layout */
input[type="hidden"] {
    display: none;
}


    /* Base Styles for Modern Look */
    :root {
        --font-primary: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        --color-primary: #e3e3e3;
        --color-secondary: #495057;
        --color-background: #14547a;
        --color-link-hover: #000000;
        --color-text: #343a40;
        --color-text-light: #6c757d;
        --border-radius: 8px;
    }

    body, html {
        font-family: var(--font-primary);
    }

    /* News Feed Styles for a Modern, High-Tech Look */
    .news-header {
        color: var(--color-primary);
        font-size: 24px;
        font-weight: 600;
        margin-bottom: 24px;
    }

    .news-container {
        background-color: var(--color-background);
        border-radius: var(--border-radius);
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        padding: 20px;
        max-height: 600px;
        overflow-y: auto;
    }

    .news-list {
        list-style: none;
        padding: 0;
    }

    .news-item {
        border-bottom: 1px solid #e1e4e8;
        padding-bottom: 15px;
        margin-bottom: 15px;
    }

    .news-item:last-child {
        border-bottom: none;
    }

    .news-link {
        color: var(--color-primary);
        font-weight: 500;
        font-size: 18px;
        text-decoration: none;
        transition: color 0.2s ease-in-out;
    }

    .news-link:hover {
        color: var(--color-link-hover);
        text-decoration: none; /* Consider keeping underlines off for a cleaner look */
    }

    .news-date {
        font-size: 14px;
        color: var(--color-text-light);
        margin-top: 5px;
    }

    .news-summary {
        font-size: 15px;
        color: var(--color-text);
        margin-top: 10px;
        line-height: 1.6;
    }
    .news-logo {
    max-width: 100%; /* Ensures the image does not exceed the container's width */
    height: auto; /* Keeps the image's aspect ratio intact */
    display: block; /* Removes any default inline spacing */
    margin: 0 auto 20px; /* Centers the image and adds some space below */
}
    #impactScore_gauge {
        height: 30vh; /* Adjust this value based on your needs */
        width: 100%; /* Ensures the chart container fills the width of its parent */
    }

    #groupLineChartContainer {
    width: 100%;     /* Takes the full width of its parent */
    height: 60vh;    /* Adjust based on your layout needs */
    min-height: 300px; /* Provides a minimum height for smaller screens */
}
/* Ensure each column and group container have the same width and height */
.row .col-md-4 {
    display: flex;
    flex-direction: column;
}

.group-container {
    background: #6c757d; /* Light grey background, can be changed */
    border: 1px solid #ccc; /* Add a subtle border */
    margin: 8px;
    flex-grow: 1; /* Allows the container to grow to fill the column if needed */
    display: flex;
    flex-direction: column;
    justify-content: space-between; /* Distributes space evenly */
    height: 100%; /* Full height of the parent column */
}

.group-header, .group-body {
    padding: 10px;
    font-size: 1em;
}

.group-body {
    overflow-y: auto; /* Adds scroll to the body if content exceeds the container height */
    flex-grow: 1; /* Allows the body to grow and take up available space */
}

.cyberpha-item {
    display: flex;
    align-items: center; /* Centers items vertically */
    margin-bottom: 5px; /* Adds space between items */
}

.cube-icon {
    margin-right: 5px; /* Space between icon and text */
}

</style>

</head>
<body style="background-color: #464748">
<script>
   sessionStorage.clear();
    localStorage.clear();

</script>
<div class="container-fluid">

    <div class="row">
        {% include 'menu_bar.html' %}
        <!-- Main content area, including sub-menu and tabs -->
        <div class="col-md-9 col-lg-10">
            <!-- Top Strip -->
            <div class="top-strip">
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-7">
                    <h1 class="page-title">Dashboard@AnzenOT</h1>
                    </div>

                    <div class="col-md-3"></div>
                </div>
            </div>
        <div class="sub-menu">
            <br><br><br><br><br><br><br><br><br><br>
        <ul>
            <li><a href="#" data-tab="tab11">Locations</a></li>
            <li><a href="#" data-tab="tab5">QRAW</a></li>
            <li><a href="#" data-tab="tab4" id="scenarioTabLink">Risk Groups</a></li>
            <li><a href="#" data-tab="tab2">Compliance</a></li>
            <!-- <li><a href="#" data-tab="tab6">Moderator Queue</a></li> -->
            <li><a href="#" data-tab="tab8"></a></li>
            <li><a href="#" data-tab="tab9"></a></li>
            <li><a href="#" data-tab="tab10"></a></li>
        </ul>
    </div>


    <div class="custom-main-content" >
    <div class="tab-content tab-link active"  id="tab11">
        <div class="form-group form-sim" >
            <!-- Container for the map -->

        <div class="form-group">
            {{ unique_facility_count }} Facilities  {{ total_facility_revenue }} Revenue
        </div>
       <div class="row">

            <!-- Bootstrap column for the map -->
            <div class="col-md-6">
                <div id="facility-map" style="height: 37vh;"></div>
            </div>
            <div class="col-md-6">
                <div class="card-body" style="height: 37vh; overflow-y: auto;">
                    <table id="headertable1" class="table small-font" style="transform: scale(1); transform-origin: top left; width: 200%; font-size: 0.8em;">

                    <thead>
                        <tr>

                            <th>Site</th>
                            <th>Leader</th>
                            <th>Unit</th>
                            <th>Zone</th>
                            <th>Last Update</th>
                            <th>PHA Score</th>
                        </tr>
                    </thead>
                    <tbody style="font-size: 0.8em;"> <!-- Slightly larger font size for better readability -->
                        {% for pha in phas %}
                        <tr data-id="{{ pha.ID }}">

                            <td><a href="/OTRisk/iotaphamanager/{{ pha.ID }}/">{{ pha.FacilityName }}</a></td>
                            <td>{{ pha.PHALeader }}</td>
                            <td>{{ pha.AssessmentUnit }}</td>
                            <td>{{ pha.AssessmentZone }}</td>
                        <td>
                                                 <div>{{ pha.updater_name }}</div><div> {{ pha.last_update }}</div>
                                             </td>
                            <td>
                                <div style="border-radius: 20px; text-align: center; padding: 5px; color: black;
                                    background-color: {% if pha.pha_score <= 16 %}#a0d8ef /* Sky Blue */
                                    {% elif pha.pha_score <= 33 %}#2ca9e1 /* Bluish Green */
                                    {% elif pha.pha_score <= 50 %}#fdfd96 /* Soft Yellow */
                                    {% elif pha.pha_score <= 66 %}#f4c430 /* Sand */
                                    {% elif pha.pha_score <= 83 %}#dc143c /* Crimson */
                                    {% else %}#663399 /* Dark Purple */{% endif %}">
                                    {% if pha.pha_score <= 16 %}Low ( {{ pha.pha_score }} )
                                    {% elif pha.pha_score <= 33 %}Low/Medium ( {{ pha.pha_score }} )
                                    {% elif pha.pha_score <= 50 %}Medium ( {{ pha.pha_score }} )
                                    {% elif pha.pha_score <= 66 %}Medium/High ( {{ pha.pha_score }} )
                                    {% elif pha.pha_score <= 83 %}High ( {{ pha.pha_score }} )
                                    {% else %}Very High ( {{ pha.pha_score }} ) {% endif %}
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <script type="text/javascript">

            $(document).ready(function () {
                if ($.fn.dataTable.isDataTable('#headertable1')) {
                    $('#headertable1').DataTable().destroy();
                }
                $('#headertable1').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "pageLength": 15
                });
            });


                $(document).ready(function () {
                    if ($.fn.dataTable.isDataTable('#phaTable')) {
                        $('#phaTable').DataTable().destroy();
                    }
                    $('#phaTable').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "pageLength": 10
                        // No need for drawCallback here
                    });
                });
</script>

            </div>
                </div>
        </div>
        <br><br>
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="group-header" >
                                Risk Exposure (CyberPHA)
                            </div>
                                <div class="group-body" style="font-size: 1.5em">
                                    <img src="{% static 'images/bluedollar.png' %}" style="height:2em">  {{ formatted_sle }}
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="group-header">
                                Risk Exposure (QRAW)
                            </div>
                                <div class="group-body" style="font-size: 1.5em">
                                    <img src="{% static 'images/bluedollar.png' %}" style="height:2em"> {{ formatted_scenario_cost }}
                                </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <div class="group-header">
                             Open Action Items
                        </div>
                            <div class="group-body" style="font-size: 1.5em">
                                <img src="{% static 'images/orangeaction.png' %}" style="height:2em"> {{ ra_actions_records_count }}
                        </div>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <div class="group-header">
                             Total CyberPHAs
                            </div>
                            <div class="group-body" style="font-size: 1.5em">
                                <img src="{% static 'images/yellowcount.png' %}" style="height:2em"> {{ cyberpha_count }}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                           <div class="group-header">
                             CyberPHA Scenarios
                        </div>
                            <div class="group-body" style="font-size: 1.5em">
                                <img src="{% static 'images/yellowcount.png' %}" style="height:2em"> {{ cyberpha_scenario_count }}
                        </div>
                            </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                        <div class="group-header">
                             Open Risk Assessments
                        </div>
                            <div class="group-body" style="font-size: 1.5em">
                                <img src="{% static 'images/yellowcount.png' %}" style="height:2em"> {{ open_raws_count }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div id="heatmapContainer" style="width:100%; height:100%;"></div>
            </div>

        </div>



        <script>
            window.initMap = function() {
                var map = L.map('facility-map', {
                    attributionControl: false,
                    minZoom: 2,
                    maxZoom: 18
                }).setView([0, 0], 2);

                L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                    maxZoom: 18
                }).addTo(map);

                // Assuming facilities_data is passed correctly to the template and parsed
                const facilities = JSON.parse('{{ facilities_data|safe }}');

                // Check and plot each facility
                facilities.forEach(facility => {
                    if (facility.facilityLat && facility.facilityLong) {
                         var iconUrl = facility.WeatherAlerts.length > 0
                            ? '{% static "images/map_marker_red.svg" %}'
                            : '{% static "images/map_marker_blue.svg" %}';
                        // Determine the marker color based on weather alerts
                        var iconColor = facility.WeatherAlerts.length > 0 ? 'red' : 'blue';
                        var icon = new L.Icon({
                            iconUrl: iconUrl,
                            iconSize: [20, 30], // Reduced from [30, 50] to half
                            iconAnchor: [6, 20.5], // Adjusted to fit the new icon size
                            popupAnchor: [1, -34], // You might need to adjust this too if the popup positioning looks off
                            shadowSize: [20.5, 20.5]
                        });

                        var marker = L.marker([facility.facilityLat, facility.facilityLong], {
                            icon: icon,
                            title: facility.FacilityName // Tooltip text that appears on hover
                        }).addTo(map);

                        // Generate alert message details for the popup
                        var alertMessages = '';
                        if (facility.WeatherAlerts.length > 0) {
                            facility.WeatherAlerts.forEach(alert => {
                                alertMessages += `<br><strong>Alert:</strong> ${alert.event} - ${alert.description}`;
                            });
                        }

                        // Bind the popup with facility name and potentially any alert details
                        marker.bindPopup(`<b>${facility.FacilityName} </b><br>Coordinates: ${facility.facilityLat}, ${facility.facilityLong}${alertMessages}`);

                        // Click event to redirect to a detailed page
                        marker.on('click', function() {
                            var url = `/OTRisk/pha_reports/${facility.ID}/`;
                            window.location.href = url;
                        });
                    }
                });

                // Adjust map bounds to show all markers
                var group = L.featureGroup(facilities.map(facility => L.marker([facility.facilityLat, facility.facilityLong])));
                map.fitBounds(group.getBounds());
            };

            document.addEventListener('DOMContentLoaded', initMap);
        </script>


        </div>
    </div>
    <div class="tab-content tab-link active"  id="tab1">

        <script>
         anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");
         anychart.onDocumentReady(function () {

             // create data
             var heatmapStructure = [
    {x: "Low", y: "Very High", fill: "#E69F00", value: 0},  // Orange
    {x: "Low/Medium", y: "Very High", fill: "#E69F00", value: 0},  // Orange
    {x: "Medium", y: "Very High", fill: "#E69F00", value: 0},  // Orange
    {x: "Medium/High", y: "Very High", fill: "#E69F00", value: 0},  // Orange
    {x: "High", y: "Very High", fill: "#E69F00", value: 0},  // Orange
    {x: "Very High", y: "Very High", fill: "#E69F00", value: 0},  // Orange

    {x: "Low", y: "High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Low/Medium", y: "High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Medium", y: "High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Medium/High", y: "High", fill: "#E69F00", value: 0},  // Orange
    {x: "High", y: "High", fill: "#E69F00", value: 0},  // Orange
    {x: "Very High", y: "High", fill: "#E69F00", value: 0},  // Orange

    {x: "Low", y: "Medium/High", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Low/Medium", y: "Medium/High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Medium", y: "Medium/High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Medium/High", y: "Medium/High", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "High", y: "Medium/High", fill: "#E69F00", value: 0},  // Orange
    {x: "Very High", y: "Medium/High", fill: "#E69F00", value: 0},  // Orange

    {x: "Low", y: "Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Low/Medium", y: "Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Medium", y: "Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Medium/High", y: "Medium", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "High", y: "Medium", fill: "#56B4E9", value: 0},  // Sky Blue
    {x: "Very High", y: "Medium", fill: "#E69F00", value: 0},  // Orange

    {x: "Low", y: "Low/Medium", fill: "#F0E442", value: 0},  // Bright Yellow
    {x: "Low/Medium", y: "Low/Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Medium", y: "Low/Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Medium/High", y: "Low/Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "High", y: "Low/Medium", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Very High", y: "Low/Medium", fill: "#E69F00", value: 0},  // Orange

    {x: "Low", y: "Low", fill: "#F0E442", value: 0},  // Bright Yellow
    {x: "Low/Medium", y: "Low", fill: "#F0E442", value: 0},  // Bright Yellow
    {x: "Medium", y: "Low", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Medium/High", y: "Low", fill: "#009E73", value: 0},  // Bluish Green
    {x: "High", y: "Low", fill: "#009E73", value: 0},  // Bluish Green
    {x: "Very High", y: "Low", fill: "#E69F00", value: 0},  // Orange
];


             function updateHeatmapStructure(heatmap_data) {
                heatmapStructure.forEach(function(cell) {
                    if (heatmap_data[cell.y] && heatmap_data[cell.y][cell.x]) {
                        cell.value = heatmap_data[cell.y][cell.x];
                    }
                });
            }

            var heatmapDataFromServer = {{ heatmap_data|safe }};
            updateHeatmapStructure(heatmapDataFromServer);

            // Create a chart and set the data
            var chart = anychart.heatMap(heatmapStructure);
             chart.background().fill("#5E6266");
            var credits = chart.credits();
            credits.enabled(false);
             // Disable tooltips
             chart.tooltip(false);

             // Set the chart title
             chart.title("Scenario Residual Risk vs Likelihood Heatmap")
             .title().fontColor("white");

            chart.labels().fontSize(14);
             // Set the x-axis title
             chart.xAxis().title("Likelihood")
                 .title().fontColor("white");
             chart.xAxis().labels().fontColor("white");
             chart.xAxis().orientation("bottom");
             // Set the y-axis title
             chart.yAxis().title("Residual Risk")
                .title().fontColor("white");
             chart.yAxis().labels().fontColor("white");
             chart.yAxis().labels(["Very High", "High", "Medium/High", "Medium", "Low/Medium", "Low"]);
            chart.labels().fontColor("black");
             // Set the container id
             chart.container("heatmapContainer");

             // Initiate drawing the chart
             chart.draw();
             chart.listen("pointClick", function(e){
                var x = e.point.get("x");
                var y = e.point.get("y");
                var value = e.point.get("value");
                if(value > 0) { // Check if the cell value is greater than 0
                    // Make AJAX call to fetch related tblCyberPHAHeader records
                    fetchRelatedRecords(x, y);
                }
            });
             chart.listen("pointMouseOver", function(e) {
                    var value = e.point.get('value');
                    if (value > 0) {
                        // If value > 0, we want to change the cursor to 'pointer'
                        heatmapContainer.style.cursor = 'pointer';
                    }
                });

            chart.listen("pointMouseOut", function(e) {
                // Reset the cursor when the mouse leaves a point
                heatmapContainer.style.cursor = 'default';
            });

         });
        function fetchRelatedRecords(x, y) {
            $.ajax({
                url: '/OTRisk/get_heatmap_records', // Update this to the path of your Django view
                type: 'GET',
                data: {
                    'x': x,
                    'y': y
                },
                success: function(response) {
                    // Handle the response. For example, display the data in a modal or a new div
                    console.log(response); // For debugging
                    // You can call a function here to display the data
                    displayData(response);
                },
                error: function(error) {
                    console.log(error); // For debugging
                }
            });
        }

        function displayData(response) {
    // Assuming the actual data array is nested under the 'data' property of the response object
    var data = response.data; // Adjust this line to correctly reference the array

    // Find the container where the table will be displayed
    var container = document.getElementById('heatmapTableContainer');

    // Clear previous contents
    container.innerHTML = '';

    // Create a table element with the specified classes
    var table = document.createElement('table');
    table.className = 'table small-font compact'; // Adjusted class names to match the provided styles
    table.id = 'headertable';

    // Create the header row
    var thead = document.createElement('thead');
    var headerRow = document.createElement('tr');

    // Define the headers
    var headers = ['ID', 'Title', 'Facility', 'Scenario', 'Residual Risk'];
    headers.forEach(headerText => {
        var header = document.createElement('th');
        header.textContent = headerText;
        header.className = 'th'; // Apply class to header as per provided styles
        headerRow.appendChild(header);
    });

    thead.appendChild(headerRow);
    table.appendChild(thead);

    // Create the body of the table
    var tbody = document.createElement('tbody');
    tbody.style.fontSize = "10px"; // Apply font size as per provided styles

    // Add rows for each record
   data.forEach(item => {
    var row = document.createElement('tr');
    row.className = "selectable-row"; // Apply class to row as per provided styles

    // Create a cell for each piece of data
    var cellHeaderID = document.createElement('td');
    cellHeaderID.textContent = item.tblCyberPHAHeader_ID;
    row.appendChild(cellHeaderID);

    var cellTitle = document.createElement('td');
    cellTitle.textContent = item.title;
    row.appendChild(cellTitle);

    var cellFacilityName = document.createElement('td');
    cellFacilityName.textContent = item.FacilityName;
    row.appendChild(cellFacilityName);

    var cellScenario = document.createElement('td');
    cellScenario.textContent = item.scenario;
    row.appendChild(cellScenario);

    var cellRRA = document.createElement('td');
    cellRRA.textContent = item.RRA;
    row.appendChild(cellRRA);

    // Make the row clickable
    row.addEventListener('click', function() {
        // Construct the URL with the item's tblCyberPHAHeader_ID
        var url = `/OTRisk/pha_reports/${item.tblCyberPHAHeader_ID}/`; // Adjust the URL pattern as needed
        window.location.href = url; // Redirect the user to the URL
    });

    // Append the row to the tbody
    tbody.appendChild(row);
});


    // Append the tbody to the table
    table.appendChild(tbody);

    // Append the table to the container
    container.appendChild(table);

    // Show the tab containing the heatmap table
    $('.tab-content').removeClass('active').hide();
    $('#tab9').addClass('active').show();
}



        </script>
        <div class="form-group">
            <div class="row" style="height:250px">
                <div class="col-md-4">
                   <div id="raw_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
                <div class="col-md-4">
                    <div id="residual_risk_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
                <div class="col-md-4">
                    <div id="pha_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
            </div>
        </div>

    </div>

    <div class="tab-content tab-link " id="tab2">
        <h2>Compliance</h2>

        <div class="form-group">
            <div class="row" >
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <table id="complianceTable" class="table small-font" style="transform: scale(1); transform-origin: top left; width: 200%; font-size: 0.8em;">
    <thead>
        <tr>
            <th>Compliance Regulation</th>
            <th>Relevant Scenario Count</th>
            <th>URL</th>
        </tr>
    </thead>
    <tbody style="color:#000">
        {% for item in compliance_summary %}
            <tr data-regulation="{{ item.regulation|escape }}">
                <td>{{ item.regulation }}</td>
                <td>{{ item.count }}</td>
                <td><a href="{{ item.url }}" target="_blank">Link</a></td>
            </tr>
        {% endfor %}
    </tbody>
</table>

                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

    <!-- Tab 2 Content -->
    <div class="tab-content tab-link" id="tab3">
        <h2>CyberPHA Assessments</h2>
        <div class="form-group form-sim" >
            <div class="card shadow flex-fill">
                <div class="card-body">



                </div>
            </div>
        </div>
    </div>

    <!-- Tab 3 Content -->
    <div class="tab-content tab-link" id="tab4">
        <h2>Risk Groups</h2>
        <div class="form-group">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col text-center text-white">
            CyberPHA Group Assignments<br>
        </div>

        <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row">
   {% for group in groups_with_cyberphas %}
<div class="col-md-4">
    <div class="group-container" data-group-id="{{ group.id }}" onclick="getGroupReport(this.getAttribute('data-group-id'))">
        <div class="group-header">
            {{ group.group_name }}
        </div>
        <div class="group-body">
            {% for cyberpha in group.cyberphas %}
                <div class="cyberpha-item">
                    <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube">
                    <span class="facility-name">{{ cyberpha.facility_name }}</span>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% empty %}
    <p>No groups found.</p>
{% endfor %}


    </div>
</div>
<script>
function getGroupReport(groupId) {
    // Fetch detailed data for the selected group
    $.ajax({
        url: '/OTRisk/get_group_report',  // Ensure this URL is correct in your application context
        data: { 'group_id': groupId },
        success: function(data) {

            drawLineChart(data.avg_scores, 'groupLineChartContainer', data.group_name, false);

            // Show the active tab
            $('.tab-content').removeClass('active').hide();
            $('#tab8').addClass('active').show();
        }
    });

    // Fetch scores for all groups for comparison
    $.ajax({
        url: '/OTRisk/get_all_groups_scores',  // This is the new endpoint to fetch average scores for all groups
        success: function(response) {
            populateGroupList(response.allGroupsData, groupId);
        }
    });
}

function drawLineChart(data, container, groupName, add) {
    var chartContainer = document.getElementById(container);

    // Initialize the chart only if it hasn't been already
    if (!chartContainer.anychartInstance) {
        var chart = anychart.line();
        chart.title("Group Business Impact Analysis Comparison")
            .title().fontColor('#FFFFFF'); // White title for contrast

        chart.background().fill("#000000"); // Set the background to black

        // Setting up the scales
        chart.yScale().minimum(0).maximum(10);

        // Configure grids
        chart.yGrid().enabled(true);
        chart.yGrid().stroke({ color: "#888888", thickness: 1, dash: '5 5' });

        chart.xGrid().enabled(true);
        chart.xGrid().stroke({ color: "#888888", thickness: 1, dash: '5 5' });

        // Legend settings
        chart.legend().enabled(true);
        chart.legend().fontColor('#FFFFFF');
        chart.legend().position('top');
        chart.legend().align('center');

        chart.container(container);
        chart.draw();

        // Disable credits
        var credits = chart.credits();
        credits.enabled(false);

        // Store the chart instance for future reference
        chartContainer.anychartInstance = chart;
        chartContainer.usedColors = []; // Initialize used colors tracking
        chartContainer.colorIndex = 0; // Initialize color index
    }

    var chart = chartContainer.anychartInstance;

    // Function to get and manage colors
    function getColor() {
        var colors = [
            '#EAD1DC', '#F4D03F', '#5DADE2', '#A569BD', '#58D68D',
            '#F5B041', '#DC7633', '#85C1E9', '#CD6155', '#EB984E'
        ];
        if (chartContainer.colorIndex >= colors.length) {
            chartContainer.colorIndex = 0; // Reset color index if all colors are used
        }
        return colors[chartContainer.colorIndex++];
    }

    if (add) {
        // Adding a series to the existing chart
        var series = chart.line(data.map(item => ({x: item.name, value: item.value})));
        series.name(groupName)
            .stroke('3px ' + getColor());
    } else {
        // Clear all series and add a new one
        chart.removeAllSeries();
        chartContainer.colorIndex = 0; // Reset color index when starting fresh
        var series = chart.line(data.map(item => ({x: item.name, value: item.value})));
        series.name(groupName)
            .stroke('3px ' + getColor());
    }
}


function populateGroupList(groupsData, currentGroupId) {
    var listContainer = document.getElementById('otherGroupsList');
    listContainer.innerHTML = '';  // Clear previous entries

    groupsData.forEach(group => {
        var listItem = document.createElement('div');
        var label = document.createElement('label');
        label.textContent = group.group_name + ': ';
        var selectButton = document.createElement('input');
        selectButton.type = 'checkbox';
        selectButton.dataset.groupId = group.id;  // Store group ID in dataset for easy access
        selectButton.onchange = function() {
            drawLineChart(group.avg_scores, 'groupLineChartContainer', group.group_name, this.checked);
        };

        listItem.appendChild(label);
        listItem.appendChild(selectButton);
        listContainer.appendChild(listItem);

        // Automatically check the checkbox for the current group but don't redraw the chart
        if (parseInt(group.id) === parseInt(currentGroupId)) {
            selectButton.checked = true;
        }
    });
}




</script>

    </div>

    <!-- Tab 4 Content -->
    <div class="tab-content tab-link" id="tab5">
    <h2>Quick Risk Assessment Worksheets (QRAW)</h2>
    <div class="card-body">
        <table id="headertable2" class="table small-font">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Assessment</th>
                    <th>Business Unit</th>
                    <th>Status</th>
                    <th>Trigger</th>
                    <th>Scenario Count</th>
                </tr>
            </thead>
            <tbody style="font-size: 14px;">
                {% for worksheet in ra_worksheets_with_scenario_count %}
                    <tr >
                        <td>{{ worksheet.RATitle }}</td>
                        <td>{{ worksheet.RADescription }}</td>
                        <td>{{ worksheet.BusinessUnit }}</td>
                        <td>{{ worksheet.StatusFlag }}</td>
                        <td>{{ worksheet.RATrigger }}</td>
                        <td>{{ worksheet.scenario_count }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="4">No records found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <script type="text/javascript">

            $(document).ready(function () {
                if ($.fn.dataTable.isDataTable('#headertable2')) {
                    $('#headertable2').DataTable().destroy();
                }
                $('#headertable2').DataTable({
                    "paging": true,
                    "lengthChange": false,
                    "searching": false,
                    "ordering": true,
                    "info": true,
                    "autoWidth": false,
                    "pageLength": 15
                });
            });
        </script>
    </div>
</div>


    <div class="tab-content tab-link" id="tab6">
        <h2>Moderator Queue</h2>
          <div class="form-group">
            <!-- Worksheets Approval Section -->
            <div class="card shadow flex-fill">
                <div class="card-body">
                <div class="worksheets-approval-section">
                    <h4 style="color: white">Worksheets for Moderation</h4>
                    {% if worksheets_to_approve == "No moderations waiting" %}
                        <p>No approvals for action.</p>
                    {% else %}
                        <ul>
                            {% for worksheet in worksheets_to_approve %}
                                <li style="color: white">
                                    <strong>Title:</strong> {{ worksheet.RATitle }}<br>
                                    <strong>Date:</strong> {{ worksheet.RADate }}<br>
                                    <strong>Status:</strong> {{ worksheet.StatusFlag }}<br>
                                    <!-- Add link to view or approve the worksheet -->

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                </div>
            </div>

        </div>
    </div>

    <div class="tab-content tab-link" id="tab8">
    <h2>Risk Group Report</h2>
    <div class="form-group">
        <div class="row">
            <div class="col-md-3">

                <div id="otherGroupsList" style="max-height: 100%; overflow-y: auto;">
                    <!-- Dynamically filled with JavaScript -->
                </div>
            </div>
            <div class="col-md-9">
                <div id="groupLineChartContainer">
                    <!-- Line chart will be rendered here -->
                </div>
            </div>
        </div>

    </div>
</div>


    <div class="tab-content tab-link" id="tab9">
        <h2>Heatmap Report</h2>
         <div id="heatmapTableContainer"></div>

     </div>
     <div class="tab-content tab-link" id="tab10">
        <h2>Scenario Compliance Report for </h2>
         <div id="scenarioComplianceContainer"></div>

     </div>

</div>
</div>
    </div>
</div>
<script>
document.addEventListener("DOMContentLoaded", function() {
    // Select all tab links within the sub-menu
    const tabLinks = document.querySelectorAll('.sub-menu a[data-tab]');

    tabLinks.forEach(link => {
        link.addEventListener('click', function(e) {
            e.preventDefault();

            // Get the ID of the tab content to show
            const targetTab = link.getAttribute('data-tab');

            // Hide all tab contents
            document.querySelectorAll('.tab-content').forEach(tabContent => {
                tabContent.style.display = 'none';
            });

            // Remove 'active' class from all tab links
            tabLinks.forEach(link => {
                link.classList.remove('active');
            });

            // Show the target tab content and add 'active' class to the clicked tab link
            document.getElementById(targetTab).style.display = 'block';
            link.classList.add('active');
        });
    });

    // Optionally, automatically click the first tab to show it on page load
    if(tabLinks.length > 0) {
        tabLinks[0].click();
    }
});
</script>

<script>
$(document).ready(function() {
    $('.group-container').hide().fadeIn(1000);
});


function formatCurrency(value) {
    value = parseInt(value);
    if (value >= 1000000) {
    return `$${(value / 1000000).toFixed(1)}m`;
    } else if (value >= 1000) {
    return `$${(value / 1000).toFixed(1)}k`;
    } else {
    return `$${value}`;
    }
}


document.addEventListener('DOMContentLoaded', (event) => {
    const sleCells = document.querySelectorAll('.sle-cell');
    sleCells.forEach(cell => {
        cell.textContent = formatCurrency(cell.textContent);
    });
});
</script>

<script>
anychart.onDocumentReady(function() {
    var pie_data = {{ bia_summary|safe }};
    let chart_data = [];
    for (let [key, value] of Object.entries(pie_data)) {
        chart_data.push({x: key, value: value});
    }

    if (chart_data.length === 0) {
        document.getElementById('raw_bia_container').innerHTML = 'No QRAW Assessments';
    } else {
        var chart = anychart.pie(chart_data);
        var colors = {
            'Low': 'green',
            'Low/Medium': '#ADFF2F', // Green-yellow
            'Medium': '#ffcc00',
            'Medium/High': '#FFA500', // Orange
            'High': '#c7471e',
            'Very High': '#ef4710'
        };
        var chartColors = [];
        for (let item of chart_data) {
            chartColors.push(colors[item.x]);
        }
        chart.background().fill("#464748");
        chart.palette(chartColors);
        chart.labels().format("{%Value}");
        chart.labels().fontSize(16);
        chart.title("QRAW BIA Summary");
        chart.innerRadius("40%");
        var credits = chart.credits();
        credits.enabled(false);
        chart.bounds(0, 0, "100%", "100%");
        chart.container("raw_bia_container");
        chart.draw();
    }
});

anychart.onDocumentReady(function() {
    var pie_data = {{ pha_risk_summary|safe }};
    let chart_data = [];
    for (let [key, value] of Object.entries(pie_data)) {
        chart_data.push({x: key, value: value});
    }

    var chart = anychart.pie(chart_data);
    var colors = {
        'Low': 'green',
        'Low/Medium': '#ADFF2F',  // Green-yellow
        'Medium': '#ffcc00',
        'Medium/High': '#FFA500',  // Orange
        'High': '#c7471e',
        'Very High': '#ef4710'
    };
    var chartColors = [];
    for (let item of chart_data) {
        chartColors.push(colors[item.x]);
    }
    chart.background().fill("#464748");
    chart.palette(chartColors);
    chart.labels().format("{%Value}");
     chart.labels().fontSize(16);
    chart.title("CyberPHA Residual Risks");
    chart.innerRadius("30%");
    var credits = chart.credits();
    credits.enabled(false);
    chart.container("residual_risk_container");
    chart.draw();

});

anychart.onDocumentReady(function() {
    var pie_data = {{ pha_bia_summary|safe }};
    let chart_data = [];
    for (let [key, value] of Object.entries(pie_data)) {
        chart_data.push({x: key, value: value});
    }

    var chart = anychart.pie(chart_data);
    var colors = {
        'Low': 'green',
        'Low/Medium': '#ADFF2F',  // Green-yellow
        'Medium': '#ffcc00',
        'Medium/High': '#FFA500',  // Orange
        'High': '#c7471e',
        'Very High': '#ef4710'
    };
    var chartColors = [];
    for (let item of chart_data) {
        chartColors.push(colors[item.x]);
    }
    chart.background().fill("#464748");
    chart.palette(chartColors);
    chart.labels().format("{%Value}");
     chart.labels().fontSize(16);
    chart.title("CyberPHA BIA Summary");
    chart.innerRadius("30%");
    var credits = chart.credits();
    credits.enabled(false);
    chart.container("pha_bia_container");
    chart.draw();

});


$(document).ready( function () {
    $('#myTable').DataTable({
        "pageLength": 5
    });
} );


$(document).ready(function() {
    $('#dataTable').DataTable({
        "pageLength": 5, // Set the length of the pagination
        "searching": false // Disable searching
    });
});

$(document).ready(function() {
    var table = $('#complianceTable').DataTable({
        "searching": false,
        "pageLength": 10
    });

    $('#complianceTable tbody').on('click', 'tr', function(e) {
        if (!$(e.target).is('a')) { // Exclude clicks on the URL link
            var regulation = $(this).data('regulation');
            $.ajax({
                url: '/OTRisk/get_scenarios_for_regulation/',
                data: {
                    'regulation_name': regulation
                },
                dataType: 'json',
                success: function(data) {
                    var container = document.getElementById('scenarioComplianceContainer');
                    // Clear previous contents
                    container.innerHTML = '';

                    // Update the H2 element
                    document.querySelector('#tab10 h2').textContent = 'Scenario Compliance Report for ' + regulation;

                    // Create a table element with the specified classes
                    var table = document.createElement('table');
                    table.className = 'table small-font compact'; // Adjusted class names to match the provided styles
                    table.id = 'headertable'; // Ensure this ID is unique

                    // Create the header row
                    var thead = document.createElement('thead');
                    var headerRow = document.createElement('tr');

                    // Define the headers
                    var headers = ['CyberPHA ID', 'Title', 'Scenario'];
                    headers.forEach(headerText => {
                        var header = document.createElement('th');
                        header.textContent = headerText;
                        header.className = 'th'; // Apply class to header as per provided styles
                        headerRow.appendChild(header);
                    });

                    thead.appendChild(headerRow);
                    table.appendChild(thead);

                    // Create the body of the table
                    var tbody = document.createElement('tbody');

                    // Add rows for each record
                    data.forEach(item => {
                        var row = document.createElement('tr');
                        row.className = "selectable-row"; // Apply class to row as per provided styles

                        // Create a cell for CyberPHA ID, Title, and Scenario
                        var cellCyberPHAID = document.createElement('td');
                        cellCyberPHAID.textContent = item.CyberPHA__ID;
                        row.appendChild(cellCyberPHAID);

                        var cellTitle = document.createElement('td');
                        cellTitle.textContent = item.CyberPHA__title;
                        row.appendChild(cellTitle);

                        var cellScenario = document.createElement('td');
                        cellScenario.textContent = item.Scenario;
                        row.appendChild(cellScenario);
                         row.addEventListener('click', function() {
                            // Construct the URL with the item's tblCyberPHAHeader_ID
                            var url = `/OTRisk/pha_reports/${item.CyberPHA__ID}/`; // Adjust the URL pattern as needed
                            window.location.href = url; // Redirect the user to the URL
                        });
                        tbody.appendChild(row);

                    });

                    table.appendChild(tbody);
                    container.appendChild(table);
                    $('.tab-content').removeClass('active').hide();
                    $('#tab10').addClass('active').show();
                }

            });
        }
    });
});

function drawGauge(score, container, gauge_title) {

    clearContainer(container);
    // Create data set with our score
    var dataSet = anychart.data.set([score]);

    // Create a circular gauge chart
    var gauge = anychart.gauges.circular();
    anychart.theme('monochrome');
    var credits = gauge.credits();
    credits.enabled(false);

    gauge.background().fill("#333");

    // Set gauge settings
    gauge.data(dataSet).padding('4%');
    gauge.startAngle(270);
    gauge.sweepAngle(180);

    // Set axis scale settings
    var scale = gauge.axis().scale();
    scale.minimum(0)
        .maximum(100)
        .ticks()
        .interval(10);

    // Set the look of the bar that presents data
    gauge.bar(0)
        .position('i')
        .fill('#F0673B .9')
        .stroke('#F0673B')
        .radius(65);

    gauge.title(gauge_title);
    gauge.title().fontColor("#FFFFFF");
    gauge.title().fontSize(10);



    // Draw the chart
    gauge.container(container).draw();
}

function clearContainer(containerId) {
    var container = document.getElementById(containerId);
    while (container.firstChild) {
        container.removeChild(container.firstChild);
    }
}

// Function to draw a bar chart with AnyChart
function drawBarChart(data) {
    clearContainer('impactScore_gauge');
    // Create an instance of AnyChart and set the type to bar
    var chart = anychart.column();
    chart.title("Group Average BIA Scores");
    chart.palette(anychart.palettes.provence);
    chart.yScale().minimum(0).maximum(10);
    // Create a data set with the impact scores
    var dataSet = anychart.data.set([
        ['Safety', data.avg_imageSafety],
        ['Danger', data.avg_impactDanger],
        ['Production', data.avg_impactProduction],
        ['Finance', data.avg_imageFinance],
        ['Reputation', data.avg_impactReputation],
        ['Environment', data.avg_impactEnvironment],
        ['Regulation', data.avg_imageRegulation],
        ['Data', data.avg_impactData],
        ['Supply', data.avg_impactSupply]
    ]);

    // Add data
        chart.data(dataSet);
        var credits = chart.credits();
        credits.enabled(false);
        // Configure the scales
        chart.yScale().minimum(0).maximum(10);
        chart.xAxis().labels().rotation(45);
        // Set the titles for the axes
        chart.xAxis().title("Impact Factors");
        chart.yAxis().title("Average Scores");

    // Set the container id for the chart
    chart.container('impactScore_gauge');

    // Draw the chart
    chart.draw();
}

</script>


</body>
</html>