{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <title>AnzenOT</title>
    <link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'anychart/dist/js/anychart-bundle.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-heatmap.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-sunburst.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-pie.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
    <style>

.doughnut_container {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc; /* border color */
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* shadow effect */
        border-radius: 4px; /* rounded corners (optional) */
    }

.navbar {
    background-color: #464748;
    border-bottom: 1px solid #000;
    height: 50px; /* Fixed height */
    position: relative;
}

.owl-logo {
    height: 60px; /* Set a fixed height for the image */
    width: auto; /* Maintain aspect ratio */
    position: relative;
    top: 50%; /* Center vertically in the navbar */
    transform: translateY(-30%); /* Adjust vertical position */
    margin-bottom: -20px; /* Negative margin to overlap */
}


.navbar-brand, .nav-link {
    color: #d3d1cd; /* White text for clear visibility on initial view */
}

.menu-item {
    border-right: 1px solid #4B6B6B; /* Subtle line between items */
    font-size: 14px; /* Adjust font size */
}

.menu-item:last-child {
    border-right: none; /* Remove border for the last item */
}

.menu-item:hover, .dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0; /* Light grey text on hover */
}

.nav-link:hover, .dropdown-item {
    color: #E0E0E0; /* Light grey text on hover */
}

.dropdown-menu {
    background-color: #464748; /* Dark Slate Grey */
    border: none;
}

.dropdown-item {
    color: #FFFFFF; /* White text for clear visibility */
}

.dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0;}

     .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

    .inner-card {
        background-color: white;
        border-radius: 10px;
        margin: 10px 10px 20px 10px;
        height: 70%;
    }
    .card-title-light {
        font-weight: lighter;
    }
.form-group {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #5E6266; /* Lighter shade of #464748 */
    padding: 15px; /* Optional: for internal spacing */
}
.form-sim {
    max-width: 100%; /* Ensures select does not exceed container width */
    width: auto; /* Optional: Ensures select width is based on content up to max-width */
}


.custom-table-style th,
.custom-table-style td {
    color: white;
}

.custom-table-style .thead-dark th {
    background-color: #464748;
}
.card-body {
    background-color: #464748; /* Dark background */
}

.card-body .custom-table-style th,
.card-body .custom-table-style td {
    color: white; /* White text */
}

.card-body .custom-table-style .thead-dark th {
    background-color: #464748; /* Dark background for table header */
}
.group-container {
    background: linear-gradient(to bottom right, #464748, #57595b); /* Gradient background */
    border: 1px solid #666; /* Darker border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow */
    padding: 15px;
    margin-bottom: 20px; /* Increased space between containers */
    border-radius: 5px; /* Rounded corners */
}

.group-header {
    color: #d3d1cd; /* Lighter color for contrast */
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777; /* Subtle bottom border */
    font-size: 1.2em; /* Larger font size */
}

.group-body {
    color: #e0e0e0; /* Slightly lighter text color */
    font-family: 'Arial', sans-serif; /* Modern font */
}

.cyberpha-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
.cyberpha-item:hover {
    background-color: #3a3c3e; /* Hover effect */
    border-radius: 3px;
    padding: 5px;
}
.cube-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 10px;
}

.facility-name {
    font-size: 0.9em;
}


    </style>
</head>
<body style="background-color: #464748">
<script>
   sessionStorage.clear();
    localStorage.clear();

</script>


<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom rounded">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}">
            &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="{% static 'images/anzen_owl.png' %}" class="owl-logo" style="width: 18%; height: 18%">
        </a>
        <h6 class="my-auto text-center flex-grow-1 navbar-brand"><img src="{% static 'images/anzen_noowl.png' %}" style="width: 15%; height: 15%"> Dashboard</h6>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-calculator"></i> QRAW</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:scenario_sim' %}"><i class="bi bi-bricks"></i> Scenario Builder</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:ra_actions_view_default' %}"><i class="bi-file-earmark-easel"></i> Actions</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:risk_register' %}"><i class="bi-file-earmark-easel"></i> Risk Register</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:list_frameworks' %}"><i class="bi-file-earmark-easel"></i> Assessments</a>
                </li>
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:setup_org' %}">Set Defaults</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
              <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:upload_questionnaire' %}">Upload Questionnaires</a></li>
                  {% if user.is_staff %}
                    <!-- Links visible only to superusers -->
                    <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
                      <li><a class="dropdown-item"  style="font-size: 12px;" href="{% url 'OTRisk:organization_form' %}">Manage Organizations</a></li>

                      <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
                    {% endif %}

              </ul>

        </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'accounts:profile' %}">
    <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
    </a>
    </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'logout' %}">
    <i class="bi bi-box-arrow-right"></i> Logout
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>

<div class="row" style="height: 10px">
    <div class="col-md-1 " ></div>
    <div class="col-md-10 ">
</div>
    <div class="col-md-1 "></div>
</div>

<div class="row" >
    <div class="col-md-1"></div>

    <div class="col-md-5 ">
        <div class="form-group form-sim" >
            <div id="heatmapContainer" style="width:100%; height:400px;"></div>
        </div>
        <script>
         anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");
         anychart.onDocumentReady(function () {

             // create data
             var heatmapStructure = [
                 {x: "Low", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Low/Medium", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Medium", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Medium/High", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "High", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Very High", y: "Very High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "High", fill: "#ff9933", value: 0},
                 {x: "Low/Medium", y: "High", fill: "#ff9933", value: 0},
                 {x: "Medium", y: "High", fill: "#ff9933", value: 0},
                 {x: "Medium/High", y: "High", fill: "#ff4b33", value: 0},
                  {x: "High", y: "High", fill: "#ff4b33", value: 0},
                 {x: "Very High", y: "High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "Medium/High", fill: "#ffcc00", value: 0},
                 {x: "Low/Medium", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "Medium", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "Medium/High", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "High", y: "Medium/High", fill: "#ff4b33", value: 0},
                  {x: "Very High", y: "Medium/High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Low/Medium", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Medium", fill: "#ff9933", value: 0},
                 {x: "High", y: "Medium", fill: "#ff9933", value: 0},
                 {x: "Very High", y: "Medium", fill: "#ff4b33", value: 0},

                  {x: "Low", y: "Low/Medium", fill: "#5eff00", value: 0},
                 {x: "Low/Medium", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "High", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Very High", y: "Low/Medium", fill: "#ff4b33", value: 0},

                  {x: "Low", y: "Low", fill: "#5eff00", value: 0},
                 {x: "Low/Medium", y: "Low", fill: "#5eff00", value: 0},
                 {x: "Medium", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "High", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "Very High", y: "Low", fill: "#ff4b33", value: 0},


             ];

             function updateHeatmapStructure(heatmap_data) {
                heatmapStructure.forEach(function(cell) {
                    if (heatmap_data[cell.y] && heatmap_data[cell.y][cell.x]) {
                        cell.value = heatmap_data[cell.y][cell.x];
                    }
                });
            }

            var heatmapDataFromServer = {{ heatmap_data|safe }};
            updateHeatmapStructure(heatmapDataFromServer);

            // Create a chart and set the data
            var chart = anychart.heatMap(heatmapStructure);
            chart.background().fill("#464748");
            var credits = chart.credits();
            credits.enabled(false);
             // Disable tooltips
             chart.tooltip(false);

             // Set the chart title
             chart.title("Scenario Residual Risk vs Likelihood Heatmap")
             .title().fontColor("white");

            chart.labels().fontSize(14);
             // Set the x-axis title
             chart.xAxis().title("Likelihood")
                 .title().fontColor("white");
             chart.xAxis().labels().fontColor("white");
             chart.xAxis().orientation("bottom");
             // Set the y-axis title
             chart.yAxis().title("Residual Risk")
                .title().fontColor("white");
             chart.yAxis().labels().fontColor("white");
             chart.yAxis().labels(["Very High", "High", "Medium/High", "Medium", "Low/Medium", "Low"]);
            chart.labels().fontColor("white");
             // Set the container id
             chart.container("heatmapContainer");

             // Initiate drawing the chart
             chart.draw();
         });

        </script>
        <br>
        <div class="form-group">
            <div class="row" >
                <div class="col-md-3 ">
                    <div class="group-container">
                        <div class="group-header" >
                            Open Risk Exposure (CyberPHA)
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube">  {{ formatted_sle }}
                            </div>
                        </div>

                </div>
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             Open Risk Exposure (QRAW)
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ formatted_scenario_cost }}
                            </div>
                        </div>


                </div>
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             Open Action Items
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ ra_actions_records_count }}
                        </div>
                    </div>


                </div>
                <div class="col-md-3 ">

                     <div class="group-container">
                        <div class="group-header">
                             Open Risk Assessments
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ open_raws_count }}
                        </div>
                    </div>

                </div>
            </div>
            <div class="row" >
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             Total Risk Assessments
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ raw_count }}
                        </div>
                    </div>

                </div>
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             Risk Scenarios
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ scenarios_count }}
                        </div>
                    </div>


                </div>
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             Total CyberPHAs
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ cyberpha_count }}
                        </div>
                    </div>

                </div>
                <div class="col-md-3 ">

                    <div class="group-container">
                        <div class="group-header">
                             CyberPHA Scenarios
                        </div>
                            <div class="group-body">
                                <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube"> {{ cyberpha_scenario_count }}
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <br>
        <div class="form-group">
            <div class="row" style="height:250px">
                <div class="col-md-4">
                   <div id="raw_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
                <div class="col-md-4">
                    <div id="residual_risk_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
                <div class="col-md-4">
                    <div id="pha_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                </div>
            </div>
        </div>

    </div>
    <div class="col-md-5 ">
        <div class="form-group">
            <!-- Worksheets Approval Section -->
            <div class="card shadow flex-fill">
                <div class="card-body">
                <div class="worksheets-approval-section">
                    <h4 style="color: white">Worksheets for Moderation</h4>
                    {% if worksheets_to_approve == "No moderations waiting" %}
                        <p>No approvals for action.</p>
                    {% else %}
                        <ul>
                            {% for worksheet in worksheets_to_approve %}
                                <li style="color: white">
                                    <strong>Title:</strong> {{ worksheet.RATitle }}<br>
                                    <strong>Date:</strong> {{ worksheet.RADate }}<br>
                                    <strong>Status:</strong> {{ worksheet.StatusFlag }}<br>
                                    <!-- Add link to view or approve the worksheet -->

                                </li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                </div>
            </div>

        </div>

        <div class="form-group form-sim" >
            <div class="card shadow flex-fill">
                <div class="card-body">
                    <label for="headertable" class="form-label">CyberPHA Assessments</label>
                    <table id="phaTable" class="table small-font" style="background-color: #464748">
                    <thead class="thead-dark">
                        <tr>
                        <th>ID</th>
                        <th>Site</th>
                        <th>Unit</th>
                        <th>Zone</th>
                        <th>PHA Score</th>
                        </tr>
                    </thead>
                    <tbody style="background-color: #464748">
                        {% for pha in phas %}
                        <tr style="background-color: #464748">
                        <td style="color: white">{{ pha.ID }}</td>
                        <td style="color: white"><a href="/OTRisk/iotaphamanager/{{ pha.ID }}/" style="color: white">{{ pha.FacilityName }}</a></td>
                        <td style="color: white">{{ pha.AssessmentUnit }}</td>
                        <td style="color: white">{{ pha.AssessmentZone }}</td>
                         <td>
                            {% if pha.pha_score <= 16 %}
                                <div style="background-color: green; border-radius: 20px; text-align: center; color: black">Low</div>
                            {% elif pha.pha_score <= 33 %}
                                <div style="background-color: lightgreen; border-radius: 20px; text-align: center; color: black">Low/Medium</div>
                            {% elif pha.pha_score <= 50 %}
                                <div style="background-color: yellow; border-radius: 20px; text-align: center; color: black">Medium</div>
                            {% elif pha.pha_score <= 66 %}
                                <div style="background-color: orange; border-radius: 20px; text-align: center; color: black">Medium/High</div>
                            {% elif pha.pha_score <= 83 %}
                                <div style="background-color: red; border-radius: 20px; text-align: center; color: black">High</div>
                            {% else %}
                                <div style="background-color: darkred; border-radius: 20px; text-align: center; color: black">Very High</div>
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <script type="text/javascript">
                $(document).ready(function () {
                    if ($.fn.dataTable.isDataTable('#phaTable')) {
                        $('#phaTable').DataTable().destroy();
                    }
                    $('#phaTable').DataTable({
                        "paging": true,
                        "lengthChange": false,
                        "searching": false,
                        "pageLength": 10
                        // No need for drawCallback here
                    });
                });
</script>


                </div>
            </div>
        </div>

<div class="form-group">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col text-center text-white">
            CyberPHA Group Assignments<br>
        </div>

        <div class="col-md-1"></div>
    </div>
    <br>
    <div class="row">
        {% for group in groups_with_cyberphas %}
        <div class="col-md-4">
            <div class="group-container">
                <div class="group-header">
                    {{ group.group_name }}
                </div>
                <div class="group-body">
                    {% for cyberpha in group.cyberphas %}
                        <div class="cyberpha-item">
                            <img src="{% static 'images/redcube.png' %}" class="cube-icon" alt="Red Cube">
                            <span class="facility-name">{{ cyberpha.facility_name }}</span>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        {% empty %}
            <p>No groups found.</p>
        {% endfor %}
    </div>
</div>
<script>
$(document).ready(function() {
    $('.group-container').hide().fadeIn(1000);
});
</script>


    </div>

    <div class="col-md-1"></div>
</div>




<script>

        function formatCurrency(value) {
        value = parseInt(value);
        if (value >= 1000000) {
            return `$${(value / 1000000).toFixed(1)}m`;
            } else if (value >= 1000) {
            return `$${(value / 1000).toFixed(1)}k`;
            } else {
            return `$${value}`;
        }
    }


    document.addEventListener('DOMContentLoaded', (event) => {
        const sleCells = document.querySelectorAll('.sle-cell');
        sleCells.forEach(cell => {
            cell.textContent = formatCurrency(cell.textContent);
        });
    });
</script>
<br>
<div class="row d-flex" style="height:100%;">
    <div class="col-md-1 " style="background-color: white"></div>
        <div class="col-md-5 d-flex" style="display: flex; flex-direction: column;">

</div>  <!-- cyberpha assessment table -->
        <div class="col-md-5 d-flex" style="display: flex; flex-direction: column;">

        </div>  <!-- cyberpha scenario table -->

    <div class="col-md-1 " style="background-color: white">
</div>

<div class="row" style="height: 10px">
    <div class="col"></div>
</div>




                <script>
                anychart.onDocumentReady(function() {
                    var pie_data = {{ bia_summary|safe }};
                    let chart_data = [];
                    for (let [key, value] of Object.entries(pie_data)) {
                        chart_data.push({x: key, value: value});
                    }

                    if (chart_data.length === 0) {
                        document.getElementById('raw_bia_container').innerHTML = 'No QRAW Assessments';
                    } else {
                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F', // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500', // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }
                        chart.background().fill("#464748");
                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                        chart.labels().fontSize(16);
                        chart.title("QRAW BIA Summary");
                        chart.innerRadius("40%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.bounds(0, 0, "100%", "100%");
                        chart.container("raw_bia_container");
                        chart.draw();
                    }
                });
            </script>


                <script>
                    anychart.onDocumentReady(function() {
                        var pie_data = {{ pha_risk_summary|safe }};
                        let chart_data = [];
                        for (let [key, value] of Object.entries(pie_data)) {
                            chart_data.push({x: key, value: value});
                        }

                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F',  // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500',  // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }
                        chart.background().fill("#464748");
                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                         chart.labels().fontSize(16);
                        chart.title("CyberPHA Residual Risks");
                        chart.innerRadius("30%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.container("residual_risk_container");
                        chart.draw();

                    });
                </script>



                <script>
                    anychart.onDocumentReady(function() {
                        var pie_data = {{ pha_bia_summary|safe }};
                        let chart_data = [];
                        for (let [key, value] of Object.entries(pie_data)) {
                            chart_data.push({x: key, value: value});
                        }

                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F',  // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500',  // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }
                        chart.background().fill("#464748");
                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                         chart.labels().fontSize(16);
                        chart.title("CyberPHA BIA Summary");
                        chart.innerRadius("30%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.container("pha_bia_container");
                        chart.draw();

                    });
                </script>








<script>

$(document).ready( function () {
    $('#myTable').DataTable({
        "pageLength": 5
    });
} );


function getAssessment(id) {
    // Your code here
    console.log(id);
}
function getPHA(id) {
    // Your code here
    console.log(id);
}


    $(document).ready(function() {
        $('#dataTable').DataTable({
            "pageLength": 5, // Set the length of the pagination
            "searching": false // Disable searching
        });
    });


</script>

</div>
</body>
</html>