{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>iOTa</title>
    <link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'anychart/dist/js/anychart-bundle.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-heatmap.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-sunburst.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-pie.min.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>


     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
    <style>
        .no-gap {
            padding-left: 2px;
            padding-right: 2px;
            margin-bottom: 2px;
        }

        #sunburstcontainer {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc; /* border color */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* shadow effect */
        border-radius: 4px; /* rounded corners (optional) */
    }
        .doughnut_container {
        width: 100%;
        height: 100%;
        border: 1px solid #ccc; /* border color */
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* shadow effect */
        border-radius: 4px; /* rounded corners (optional) */
    }

       .navbar-scroll .nav-link,
        .navbar-scroll .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
          color: #000000;
        }

        /* Color of the navbar BEFORE scroll */
        .navbar-scroll {
          background-color: #ffffff;
            text-decoration-color: #000000;
        }


        /* Color of the links AFTER scroll */
        .navbar-scrolled .nav-link,
        .navbar-scrolled .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
          color: #262626;
        }

        .navbar-logo {
        position: absolute;
        top: 5px; /* Adjust this as needed */
        left: 5px; /* Adjust this as needed */
        height: 100px; /* Adjust this as needed */
        z-index: 10;
        }

            .col-md-2 {
        place-items: center;
        background-color: lightgrey;
    }

     .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

         .stat-card {
        background-color: lightgrey;
    }
    .inner-card {
        background-color: white;
        border-radius: 10px;
        margin: 10px 10px 20px 10px;
        height: 70%;
    }
    .card-title-light {
        font-weight: lighter;
    }

    </style>
</head>
<body>
<script>
   sessionStorage.clear();
    localStorage.clear();

</script>


<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom border-dark rounded">
  <div class="container-fluid d-flex justify-content-between">
   <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}"><img src="{% static 'images/iota - white 1.png' %}" style="height: 140px; width: 140px" class="navbar-logo" alt="">   </a>
      <h6 class="my-auto text-center flex-grow-1">Dashboard</h6>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link"  style="font-size: 12px;" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-journal-text"></i> Risk Assessment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:scenario_sim' %}"><i class="bi bi-bricks"></i>Scenario Builder</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:ra_actions_view_default' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:risk_register' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Risk Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:list_frameworks' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Assessments</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 12px;">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:setup_org' %}">Set Defaults</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
              <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:upload_questionnaire' %}">Upload Questionnaires</a></li>
                  {% if user.is_staff %}
                    <!-- Links visible only to superusers -->
                    <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
                      <li><a class="dropdown-item"  style="font-size: 12px;" href="{% url 'OTRisk:organization_form' %}">Manage Organizations</a></li>

                      <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
                    {% endif %}

              </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}" style="font-size: 12px;">
                <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

    <div class="row" style="height: 10px">
        <div class="col-md-1 " style="background-color: white"></div>
        <div class="col-md-10 ">

       </div>
        <div class="col-md-1 "></div>
    </div> <!-- dark grey stripe -->

<div class="row" >
    <div class="col-md-1" style="background-color: white"></div>

    <div class="col-md-5 ">
        <div id="heatmapContainer" style="width:100%; height:400px;"></div>
        <script>
         anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");
         anychart.onDocumentReady(function () {

             // create data
             var heatmapStructure = [
                 {x: "Low", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Low/Medium", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Medium", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Medium/High", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "High", y: "Very High", fill: "#ff4b33", value: 0},
                 {x: "Very High", y: "Very High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "High", fill: "#ff9933", value: 0},
                 {x: "Low/Medium", y: "High", fill: "#ff9933", value: 0},
                 {x: "Medium", y: "High", fill: "#ff9933", value: 0},
                 {x: "Medium/High", y: "High", fill: "#ff4b33", value: 0},
                  {x: "High", y: "High", fill: "#ff4b33", value: 0},
                 {x: "Very High", y: "High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "Medium/High", fill: "#ffcc00", value: 0},
                 {x: "Low/Medium", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "Medium", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "Medium/High", y: "Medium/High", fill: "#ff9933", value: 0},
                 {x: "High", y: "Medium/High", fill: "#ff4b33", value: 0},
                  {x: "Very High", y: "Medium/High", fill: "#ff4b33", value: 0},

                 {x: "Low", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Low/Medium", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium", y: "Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Medium", fill: "#ff9933", value: 0},
                 {x: "High", y: "Medium", fill: "#ff9933", value: 0},
                 {x: "Very High", y: "Medium", fill: "#ff4b33", value: 0},

                  {x: "Low", y: "Low/Medium", fill: "#5eff00", value: 0},
                 {x: "Low/Medium", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "High", y: "Low/Medium", fill: "#ffcc00", value: 0},
                 {x: "Very High", y: "Low/Medium", fill: "#ff4b33", value: 0},

                  {x: "Low", y: "Low", fill: "#5eff00", value: 0},
                 {x: "Low/Medium", y: "Low", fill: "#5eff00", value: 0},
                 {x: "Medium", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "Medium/High", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "High", y: "Low", fill: "#ffcc00", value: 0},
                 {x: "Very High", y: "Low", fill: "#ff4b33", value: 0},


             ];

             function updateHeatmapStructure(heatmap_data) {
                heatmapStructure.forEach(function(cell) {
                    if (heatmap_data[cell.y] && heatmap_data[cell.y][cell.x]) {
                        cell.value = heatmap_data[cell.y][cell.x];
                    }
                });
            }

            var heatmapDataFromServer = {{ heatmap_data|safe }};
            updateHeatmapStructure(heatmapDataFromServer);

            // Create a chart and set the data
             var chart = anychart.heatMap(heatmapStructure);
            var credits = chart.credits();
            credits.enabled(false);
             // Disable tooltips
             chart.tooltip(false);

             // Set the chart title
             chart.title("Scenario Residual Risk vs Likelihood Heatmap");
            chart.labels().fontSize(16);
             // Set the x-axis title
             chart.xAxis().title("Likelihood");
             chart.xAxis().orientation("bottom");
             // Set the y-axis title
             chart.yAxis().title("Residual Risk");
             chart.yAxis().labels(["Very High", "High", "Medium/High", "Medium", "Low/Medium", "Low"]);

             // Set the container id
             chart.container("heatmapContainer");

             // Initiate drawing the chart
             chart.draw();
         });

        </script>
        <br>




        <div class="row" >
            <div class="col-md-3 ">
                <div class="card shadow-lg inner-card">
                    <div class="card-body">
                        <div class="row">
                            <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Open Risk Exposure (CyberPHA):</h6>

                        </div>
                        <div class="row">
                            <h5 class="card-text text-center text-black">{{ formatted_sle }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
                <div class="card shadow-lg inner-card">
                    <div class="card-body">
                        <div class="row">
                            <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Open Risk Exposure (QRAW):</h6>
                        </div>
                        <div class="row">
                            <h5 class="card-text text-center text-black">{{ formatted_scenario_cost }}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
               <div class="card shadow-lg inner-card">
                    <div class="card-body">
                        <div class="row">
                            <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Open Action Items:</h6>
                        </div>
                        <div class="row">
                            <h5 class="card-text text-center text-black"><a class="nav-link" href="{% url 'OTRisk:ra_actions_view_default' %}" tabindex="-1" >{{ ra_actions_records_count }}</a></h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 ">
               <div class="card shadow-lg inner-card">
                    <div class="card-body">
                        <div class="row">
                            <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Open Risk Assessments:</h6>
                        </div>
                        <div class="row">
                            <h5 class="card-text text-center text-black">{{ open_raws_count }}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-3 ">
                <div class="card shadow-lg" style="background-color: white; border-radius: 10px; margin: 10px 10px 20px 10px; height: 70%;">
            <div class="card-body">
                <div class="row">
                   <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Total Risk Assessments:</h6>
                </div>
                <div class="row">
                    <h5 class="card-text text-center text-black">{{ raw_count }}</h5>
                </div>
                <div class="row">
                    <h5 class="text-center"></h5>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-3 ">
                <div class="card shadow-lg" style="background-color: white; border-radius: 10px; margin: 10px 10px 20px 10px; height: 70%;">
            <div class="card-body">
                <div class="row">
                    <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Risk Scenarios:</h6>
                </div>
                <div class="row">
                    <h5 class="card-text text-center text-black">{{ scenarios_count }}</h5>
                </div>
                <div class="row">
                    <h5 class="text-center"></h5>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-3 ">
               <div class="card shadow-lg" style="background-color: white; border-radius: 10px; margin: 10px 10px 20px 10px; height: 70%;">
            <div class="card-body">
                <div class="row">
                    <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">Total CyberPHAs:</h6>
                </div>
                <div class="row">
                    <h5 class="card-text text-center text-black">{{ cyberpha_count }}</h5>
                </div>
                <div class="row">
                    <h5 class="text-center"></h5>
                </div>
            </div>
        </div>
            </div>
            <div class="col-md-3 ">
               <div class="card shadow-lg" style="background-color: white; border-radius: 10px; margin: 10px 10px 20px 10px; height: 70%;">
            <div class="card-body">
                <div class="row">
                    <h6 class="card-title text-center text-black card-title-light" style="font-size: 12px;">CyberPHA Scenarios:</h6>
                </div>
                <div class="row">
                    <h5 class="card-text text-center text-black">{{ cyberpha_scenario_count }}</h5>
                </div>
                <div class="row">
                    <h5 class="text-center"></h5>
                </div>
            </div>
        </div>
            </div>
        </div>
    </div>
    <div class="col-md-5 ">
        <div id="sunburstcontainer" style="width:100%; height:100%;"></div>

        <script>
            anychart.onDocumentReady(function() {
                var data = {{ sunburst_processed_data|safe }};
                var chart = anychart.sunburst(data, "as-tree");
                chart.title("Country > Industry > Facility Type");

                chart.labels().fontSize(16);

                // Modifying the label text to display only first 5 letters
                chart.labels().format(function() {
                    var label = this.getData("name");
                    if (label.length > 5) {
                        return label.substr(0, 5) + "...";  // If you want to add ellipsis for truncated labels
                    }
                    return label;
                });
                var credits = chart.credits();
                credits.enabled(false);
                chart.container("sunburstcontainer");
                chart.draw();
            });
        </script>

    </div>

    <div class="col-md-1"></div>
</div>



<script>

        function formatCurrency(value) {
        value = parseInt(value);
        if (value >= 1000000) {
            return `$${(value / 1000000).toFixed(1)}m`;
            } else if (value >= 1000) {
            return `$${(value / 1000).toFixed(1)}k`;
            } else {
            return `$${value}`;
        }
    }


    document.addEventListener('DOMContentLoaded', (event) => {
        const sleCells = document.querySelectorAll('.sle-cell');
        sleCells.forEach(cell => {
            cell.textContent = formatCurrency(cell.textContent);
        });
    });
</script>
<br>
<div class="row d-flex" style="height:100%;">
    <div class="col-md-1 " style="background-color: white"></div>
        <div class="col-md-5 d-flex" style="display: flex; flex-direction: column;">
            <div class="card shadow flex-fill">
                <div class="card-body">
                    <label for="headertable" class="form-label">CyberPHA Assessments</label>
                    <table id="phaTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th>ID</th>
                        <th>Site</th>
                        <th>Unit</th>
                        <th>Zone</th>
                        <th>PHA Score</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pha in phas %}
                        <tr>
                        <td>{{ pha.ID }}</td>
                        <td><a href="/OTRisk/iotaphamanager/{{ pha.ID }}/">{{ pha.FacilityName }}</a></td>
                        <td>{{ pha.AssessmentUnit }}</td>
                        <td>{{ pha.AssessmentZone }}</td>
                         <td>
                            {% if pha.pha_score <= 16 %}
                                <div style="background-color: green; border-radius: 20px; text-align: center;">Low</div>
                            {% elif pha.pha_score <= 33 %}
                                <div style="background-color: lightgreen; border-radius: 20px; text-align: center;">Low/Medium</div>
                            {% elif pha.pha_score <= 50 %}
                                <div style="background-color: yellow; border-radius: 20px; text-align: center;">Medium</div>
                            {% elif pha.pha_score <= 66 %}
                                <div style="background-color: orange; border-radius: 20px; text-align: center;">Medium/High</div>
                            {% elif pha.pha_score <= 83 %}
                                <div style="background-color: red; border-radius: 20px; text-align: center;">High</div>
                            {% else %}
                                <div style="background-color: darkred; border-radius: 20px; text-align: center;">Very High</div>
                            {% endif %}
                        </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                    <script type="text/javascript">
                       $(document).ready( function () {
                            if ( $.fn.dataTable.isDataTable('#phaTable') ) {
                                // If table is already a DataTable, destroy it first
                                $('#phaTable').DataTable().destroy();
                            }
                            // Now, reinitialize the DataTable
                            $('#phaTable').DataTable({
                                "paging": true,
                                "lengthChange": false,
                                "searching": false,
                                "pageLength": 10
                            });
                        });

                </script>
                </div>
            </div>
</div>  <!-- cyberpha assessment table -->
        <div class="col-md-5 d-flex" style="display: flex; flex-direction: column;">
            <div class="card shadow flex-fill">
                <div class="card-body">
                    <label for="headertable" class="form-label">CyberPHA Scenarios</label>
                    <table id="scenarioTable" class="table">
                    <thead class="thead-dark">
                        <tr>
                        <th>ID</th>
                        <th>Scenario</th>
                        <th>Risk</th>
                        <th>Event Cost (Median)</th>
                        <th>Risk Register</th>
                        <th>Residual Risk</th>
                        <th>Likelihood</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for scenario in scenarios %}
                        <tr>
                        <td>{{ scenario.ID }}</td>
                        <td><i>{{ scenario.Scenario }}</i></td>
                        <td>{{ scenario.RiskCategory }}</td>
                        <td class="sle-cell">{{ scenario.sle }}</td>
                        <td>
                            {% if scenario.risk_register %}
                                <img src="{% static 'images/check.png' %}" alt="Check Icon" style="height: 1.5rem">
                            {% else %}
                                <img src="{% static 'images/cross.png' %}" alt="Cross Icon" style="height: 1em">
                            {% endif %}
                        </td>


                        <td>
                            {% if scenario.RRa == "Low" %}
                                <div style="background-color: green; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% elif scenario.RRa == "Low/Medium" %}
                                <div style="background-color: lightgreen; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% elif scenario.RRa == "Medium" %}
                                <div style="background-color: yellow; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% elif scenario.RRa == "Medium/High" %}
                                <div style="background-color: orange; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% elif scenario.RRa == "High" %}
                                <div style="background-color: red; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% elif scenario.RRa == "Very High" %}
                                <div style="background-color: darkred; border-radius: 20px; text-align: center;">{{ scenario.RRa }}</div>
                            {% endif %}
                        </td>
                         <td>
                            {% if scenario.likelihood <= 16 %}
                                <div style="background-color: green; border-radius: 20px; text-align: center;">Low</div>
                            {% elif scenario.likelihood <= 33 %}
                                <div style="background-color: lightgreen; border-radius: 20px; text-align: center;">Low/Medium</div>
                            {% elif scenario.likelihood <= 50 %}
                                <div style="background-color: yellow; border-radius: 20px; text-align: center;">Medium</div>
                            {% elif scenario.likelihood <= 66 %}
                                <div style="background-color: orange; border-radius: 20px; text-align: center;">Medium/High</div>
                            {% elif scenario.likelihood <= 83 %}
                                <div style="background-color: red; border-radius: 20px; text-align: center;">High</div>
                            {% else %}
                                <div style="background-color: darkred; border-radius: 20px; text-align: center;">Very High</div>
                            {% endif %}
                        </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>

                    <script type="text/javascript">
                $(document).ready( function () {
                $('#scenarioTable').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "pageLength": 10
                });
                });
                </script>
                </div>
            </div>
        </div>  <!-- cyberpha scenario table -->

    <div class="col-md-1 " style="background-color: white">
</div>

<div class="row" style="height: 10px">
    <div class="col"></div>
</div>

<div class="row" style="height:400px">
    <div class="col-md-1 "  style="background-color: white"></div>
    <div class="col-md-10"  style="background-color: white">
        <div class="row" style="height:300px">
            <div class="col-md-4 no-gap">

                <div id="raw_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                <script>
                anychart.onDocumentReady(function() {
                    var pie_data = {{ bia_summary|safe }};
                    let chart_data = [];
                    for (let [key, value] of Object.entries(pie_data)) {
                        chart_data.push({x: key, value: value});
                    }

                    if (chart_data.length === 0) {
                        document.getElementById('raw_bia_container').innerHTML = 'No QRAW Assessments';
                    } else {
                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F', // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500', // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }

                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                        chart.labels().fontSize(16);
                        chart.title("QRAW BIA Summary");
                        chart.innerRadius("30%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.container("raw_bia_container");
                        chart.draw();
                    }
                });
            </script>


            </div>
            <div class="col-md-4 no-gap">

                <div id="residual_risk_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                <script>
                    anychart.onDocumentReady(function() {
                        var pie_data = {{ pha_risk_summary|safe }};
                        let chart_data = [];
                        for (let [key, value] of Object.entries(pie_data)) {
                            chart_data.push({x: key, value: value});
                        }

                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F',  // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500',  // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }

                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                         chart.labels().fontSize(16);
                        chart.title("CyberPHA Residual Risks");
                        chart.innerRadius("30%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.container("residual_risk_container");
                        chart.draw();

                    });
                </script>

            </div>
            <div class="col-md-4 no-gap">

                <div id="pha_bia_container" style="width:100%; height:100%;" class="doughnut_container"></div>
                <script>
                    anychart.onDocumentReady(function() {
                        var pie_data = {{ pha_bia_summary|safe }};
                        let chart_data = [];
                        for (let [key, value] of Object.entries(pie_data)) {
                            chart_data.push({x: key, value: value});
                        }

                        var chart = anychart.pie(chart_data);
                        var colors = {
                            'Low': 'green',
                            'Low/Medium': '#ADFF2F',  // Green-yellow
                            'Medium': '#ffcc00',
                            'Medium/High': '#FFA500',  // Orange
                            'High': '#c7471e',
                            'Very High': '#ef4710'
                        };
                        var chartColors = [];
                        for (let item of chart_data) {
                            chartColors.push(colors[item.x]);
                        }

                        chart.palette(chartColors);
                        chart.labels().format("{%Value}");
                         chart.labels().fontSize(16);
                        chart.title("CyberPHA BIA Summary");
                        chart.innerRadius("30%");
                        var credits = chart.credits();
                        credits.enabled(false);
                        chart.container("pha_bia_container");
                        chart.draw();

                    });
                </script>

            </div>
        </div>
    </div>
    <div class="col-md-1 "  style="background-color: white"></div>
</div>
</div>
<div class="row">

    <div class="col-md-1"></div>

        <div class="col">
            CyberPHA Group Assignments
        </div>

    <div class="col-md-1"></div>
</div>
<div class="row">

    <div class="col-md-1"></div>
{% for group in groups_with_cyberphas %}
    <div class="col-md-2">
    <div class="card border-primary mb-3">
        <div class="card-header bg-primary text-white">
            {{ group.group_name }}
        </div>
        <div class="card-body text-primary">
            <ul class="list-group list-group-flush">
                {% for cyberpha in group.cyberphas %}
                    <li class="list-group-item">{{ cyberpha.facility_name }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
{% empty %}
    <p>No groups found.</p>
{% endfor %}
<div class="col-md-1"></div>
</div>

<br>

<div class="row" style="height:400px">
    <div class="col-md-1 "  style="background-color: white"></div>
    <div class="col-md-10">
<div class="card-body">
    <label for="auditLogTable" class="form-label">Audit Logs</label>
    <table id="auditLogTable" class="table">
        <thead class="thead-dark">
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Timestamp</th>
                <th>User Action</th>
                <th>User IP Address</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            {% for log in last_100_logs %}
            <tr>
                <td>{{ log.id }}</td>
                <td>{{ log.user }}</td>
                <td>{{ log.timestamp }}</td>
                <td>{{ log.user_action }}</td>
                <td>{{ log.user_ipaddress }}</td>
                <!-- Add more data cells as needed -->
            </tr>
            {% empty %}
            <tr>
                <td colspan="5">No audit logs found</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

    </div>
    <div class="col-md-1 "  style="background-color: white"></div>
</div>

<script>

$(document).ready( function () {
    $('#myTable').DataTable({
        "pageLength": 5
    });
} );


function getAssessment(id) {
    // Your code here
    console.log(id);
}
function getPHA(id) {
    // Your code here
    console.log(id);
}


    $(document).ready(function() {
        $('#dataTable').DataTable({
            "pageLength": 5, // Set the length of the pagination
            "searching": false // Disable searching
        });
    });


</script>


</body>
</html>