{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Dashboard Home</title>
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
     <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script>
        $('select').selectpicker();
    </script>
    {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}

    <style>
        .custom-btn {
                width: 150px;  /* Adjust this value as needed */
                height: 50px;  /* Adjust this value as needed */
            }


        #headertable tbody tr:hover {
        background-color: #f5f5f5; /* Change this to the color you want */
        }

       .navbar-scroll .nav-link,
        .navbar-scroll .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
          color: #ffffff;
        }

        /* Color of the navbar BEFORE scroll */
        .navbar-scroll {
          background-color: #000000;
            text-decoration-color: #FFFFFF;
        }


        /* Color of the links AFTER scroll */
        .navbar-scrolled .nav-link,
        .navbar-scrolled .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
          color: #262626;
        }

        .navbar-logo {
        position: absolute;
        top: 5px; /* Adjust this as needed */
        left: 5px; /* Adjust this as needed */
        height: 100px; /* Adjust this as needed */
        z-index: 10;
        }

            .col-md-2 {
        place-items: center;
        background-color: lightgrey;
    }

    .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

        .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        display: none; /* Initially hidden */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .selectable-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;  /* Optional: to give a slight background change on hover */
}

    </style>
</head>
<body style="background-color: black">
<script>
fetch('https://restcountries.com/v3.1/all')
    .then(response => response.json())
    .then(data => {
        // Sort the countries alphabetically
        data.sort((a, b) => a.name.common.localeCompare(b.name.common));

        // Populate the dropdown
        data.forEach(country => {
            const countryName = country.name.common;
            $('#countrySelector').append(new Option(countryName, countryName));
        });
    })
    .then(() => {
        $('#countrySelector').select2();
    })
    .catch(error => {
        console.error("There was an error fetching the country list:", error);
    });
</script>
<nav class="navbar navbar-expand-lg navbar-scroll fixed-top shadow-0 border-bottom border-dark rounded">
  <div class="container-fluid d-flex justify-content-between">
   <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}"><img src="/static/images/logo1-2.jpg" style="height: 140px; width: 140px" class="navbar-logo" alt="">  </a>
      <h4 class="my-auto text-center flex-grow-1"><font color="white">CyberPHA Header</font></h4>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-journal-text"></i> Risk Assessment</a>
        </li>
       <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
        </li>
           <li class="nav-item">
          <a class="nav-link" href="{% url 'OTRisk:ra_actions_view' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Reports</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a  class="dropdown-item" href="{% url 'OTRisk:add_scenario' %}">Scenario Manager</a></li>
                  <li><a  class="dropdown-item" href="{% url 'OTRisk:add_consequence' %}">Consequence Manager</a></li>
              </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}">
                <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<form name="frmHeader" id="frmRAW" method="POST" action="{% url 'OTRisk:iotaphamanager' %}">
{% csrf_token %}
<br><br>


<div class="row" style="height: 10px; padding-top: 20px; background-color: black">
    <div class="col-md-1" style="background-color: black"></div>
    <div class="col-md-10" style="background-color: darkgray"></div>

    <div class="col-md-1 " style="background-color: black"></div>
</div> <!-- dark grey stripe -->
<div class="row" style="height: 10px">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
     <div class="row" style="background-color: darkgray; height: 10px"></div>
   </div>
    <div class="col-md-1 " style="background-color: darkgray;"></div>
</div> <!-- dark grey stripe -->

<div class="row">
    <div class="col-md-1 bg-black"></div>
    <div class="col-md-1" style="background-color: darkgray"></div>
    <div class="col-md-9 bg-white">
        <br>
        <label for="headertable" class="form-label">Select a record in the table to view and edit the CyberPHA</label>
        <table id="headertable" class="table table-striped table-bordered small-font">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Site</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Zone</th>
                <th>Leader</th>
                <th>Date</th>
                <!-- Add more <th> elements for each field in the RAWorksheet model -->
            </tr>
        </thead>
        <tbody>
            {% for pha_header_records in pha_header_records %}
                <tr data-id="{{ pha_header_records.ID }}" class="selectable-row">
                    <td>{{ pha_header_records.ID }}</td>
                    <td>{{ pha_header_records.title }}</td>
                    <td>{{ pha_header_records.FacilityName }}</td>
                    <td>{{ pha_header_records.FacilityType }}</td>
                    <td>{{ pha_header_records.AssessmentUnit }}</td>
                    <td>{{ pha_header_records.AssessmentZone }}</td>
                    <td>{{ pha_header_records.PHALeader }}</td>
                    <td>{{ pha_header_records.AssessmentStartDate|date:"m/d/Y" }}</td>
                    <!-- Add more <td> elements for each field in the RAWorksheet model -->
                </tr>
            {% endfor %}
        </tbody>
        </table>
        <script>
            $(document).ready(function() {
            $('#headertable').on('click', 'tbody tr', function () {
                var recordId = $(this).data('id');  // get the ID of the clicked row
                sessionStorage.setItem('activeCyberPHA', recordId);
                // Set the value of the hidden text field
                document.getElementById('txtHdnCyberPHAID').value = recordId;
                $.ajax({
                    url: '/OTRisk/get_headerrecord',  // the URL of the view that will handle the request
                    data: {
                        'record_id': recordId
                    },
                    dataType: 'json',
                    success: function (data) {

                        $('#txtTitle').val(data.title);
                        $('#txtLeader').val(data.leader);
                        $('#selIndustry').val(data.industry);
                        $('#txtUnit').val(data.unit);
                        $('#txtFacility').val(data.facility);
                        $('#txtLeaderEmail').val(data.leaderemail);
                        $('#selFacilityType').val(data.facilitytype);
                        $('#selZone').val(data.zone);
                        $('#txtStartDate').val(data.startdate);
                        $('#txtEndDate').val(data.enddate);
                        $('#txtSafetySummary').val(data.safetysummary);
                        $('#txtChemical').val(data.chemicalsummary);
                        $('#txtPhysical').val(data.physicalsummary);
                        $('#txtOther').val(data.othersummary);
                        $('#txtAddress').val(data.address);
                        $('#countrySelector').val(data.country).trigger('change');
                        console.log("Country from data:", data.country);

                        // $('#btnformSubmit').prop('disabled', true);

                        sessionStorage.setItem('sessionIndustry', data.industry);
                        sessionStorage.setItem('sessionFacilityType', data.facilitytype);
                        sessionStorage.setItem('sessionFacility', data.facility);
                        sessionStorage.setItem('sessionCountry', data.country);


                    }
                });
            });
        });



    </script>
    </div> <!-- table view of existing risk assessments -->

    <div class="col-md-1" style="background-color: darkgray;"></div>
</div>

<div class="row" style="height: 10px">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
     <div class="row" style="background-color: darkgray; height: 10px"></div>
   </div>
    <div class="col-md-1 " style="background-color: darkgray;"></div>
</div> <!-- dark grey stripe -->

<div class="row" style="height: 10px">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
     <div class="row" style="background-color: darkgray; height: 10px"></div>
   </div>
    <div class="col-md-1 " style="background-color: darkgray;"></div>
</div> <!-- dark grey stripe -->
    <input type="hidden" name="txtHdnCyberPHAID" id="txtHdnCyberPHAID" value="0">
{% if new_record_id %}
    <script>
        // Set the value of the hidden textbox field
        document.querySelector('input[name="txtHdnCyberPHAID"]').value = "{{ new_record_id }}";

        // Store the value in the local session storage
        sessionStorage.setItem('activeCyberPHA', "{{ new_record_id }}");
    </script>

{% endif %}
<div class="row small-font">
    <div class="col-md-1 bg-black"></div>
    <div class="col-md-1" style="background-color: darkgray"></div>
    <div class="col-md-3 bg-white">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtTitle">Title</label><input type="text" class="form-control" name="txtTitle" id="txtTitle" value="{{ current_pha_header.title }}"  required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtLeader">Leader</label><input type="text" class="form-control" name="txtLeader" id="txtLeader" value="{{ current_pha_header.PHALeader }} "required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="selIndustry">Industry</label>
                <select class="form-control" name="selIndustry" id="selIndustry">
                    <option> -- Select Industry -- </option>
                    {% for industry in industries %}
                        <option value="{{ industry.Industry }}"
                                {% if current_pha_header.Industry == industry.Industry %}selected{% endif %}>
                            {{ industry.Industry }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtUnit">Unit</label><input type="text" class="form-control" name="txtUnit" id="txtUnit" value="{{ current_pha_header.AssessmentUnit }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtStartDate">Start Date</label><input type="date" class="form-control" name="txtStartDate" id="txtStartDate" value="{{ current_pha_header.AssessmentStartDate }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtAddress">Address</label>
                <textarea class="form-control" rows="2" name="txtAddress" id="txtAddress" style="resize: none" required>{{ current_pha_header.facilityAddress }}</textarea>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 bg-white">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtFacility">Facility</label><input type="text" class="form-control" name="txtFacility" id="txtFacility" value="{{ current_pha_header.FacilityName }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtLeaderEmail">Leader Email</label><input type="text" class="form-control" name="txtLeaderEmail" id="txtLeaderEmail" value="{{ current_pha_header.PHALeaderEmail }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="selFacilityType">Facility Type</label>
                <select class="form-control" name="selFacilityType" id="selFacilityType">
                    <option> -- Select Facility Type -- </option>
                    {% for facilities in facilities %}
                            <option value="{{ facilities.FacilityType }}"
                            {% if current_pha_header.FacilityType == facilities.FacilityType %}selected{% endif %}>
                            {{  facilities.FacilityType }}</option>
                        {% endfor %}
                </select>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="selZone">Zone</label>
                <select class="form-control" name="selZone" id="selZone">
                    <option> -- Select Plant Zone -- </option>
                    {% for zone in zones %}
                        <option value="{{ zone.PlantZone }}"
                        {% if current_pha_header.AssessmentZone == zone.PlantZone %}selected{% endif %}>
                            {{ zone.PlantZone }}</option>
                    {% endfor %}
                </select>
                <script>
                    $(document).ready(function() {
                        $('#selZone').select2();
                    });
                </script>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtEndDate">End Date</label><input type="date" class="form-control" name="txtEndDate" id="txtEndDate" value="{{ current_pha_header.AssessmentEndDate }}">
            </div>
        </div>

    <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <label for="country">Country</label><a href="#" data-bs-toggle="modal" data-bs-target="#countryModal">❓</a><br><select id="countrySelector" name="countrySelector" style="width: 400px;"></select>

            </div>
        </div>

    </div>

    <div class="col-md-3 row" style="background-color: darkgray">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <button id="risk-assessment-btn" type="button" class="btn btn-link">Assess Facility Profile</button><br>
                <div class="spinner" id="loadingSpinner"></div>

                <p style="font-size: 10px">A valid address, industry, and facility name must be entered for the risk profile to be accurately assessed. Profiles are generated by a machine-learning algorithm and may slightly vary given the same inputs at different times</p>
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <label for="txtSafetySummary">Safety Summary:</label><textarea rows="3" name="txtSafetySummary" id="txtSafetySummary" class="form-control" style="resize: none" >{{ current_pha_header.safetySummary }}</textarea>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <label for="txtChemical">Chemical Storage:</label><textarea rows="3" name="txtChemical" id="txtChemical" class="form-control" style="resize: none" >{{ current_pha_header.chemicalSummary }}</textarea>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <label for="txtPhysical">Physical Security:</label><textarea rows="3" name="txtPhysical" id="txtPhysical" class="form-control" style="resize: none" >{{ current_pha_header.physicalSummary }}</textarea>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                        <label for="txtOther">Other Local Risks:</label><textarea rows="3" name="txtOther" id="txtOther" class="form-control" style="resize: none" >{{ current_pha_header.otherSummary }}</textarea>
                    </div>
                </div>
            </div>
        </div>

    <script>
        // AJAX function call on button click
        $(document).ready(function () {
            $("#risk-assessment-btn").click(function () {
                // Call the function to assess the risk
                assessRisk();

            });
        });

        // AJAX function to call the Django view
        function assessRisk() {
            $('#loadingSpinner').show();
            // Gather the necessary data for the AJAX request (impact scores and scenario information)
            let address = document.getElementById('txtAddress').value;
            let facilityType = document.getElementById('selFacilityType').value;
            let industry = document.getElementById('selIndustry').value;
            let country = document.getElementById('countrySelector').value;
            let facility = document.getElementById('txtFacility').value;

            // Make the AJAX call to the Django view using a separate endpoint for risk assessment
            $.ajax({
                type: "GET",
                url: "{% url 'OTRisk:facility_risk_profile' %}",  // URL for the Django view
                data: {
                    // Pass the impact scores and scenario information as parameters
                    industry: industry,
                    facility_type: facilityType,
                    address: address,
                    country: country,
                    facility: facility
                },
                success: function (response) {

                    // Write the response data to the textboxes
                    document.getElementById('txtSafetySummary').value = response.safety_summary;
                    document.getElementById('txtChemical').value = response.chemical_summary;
                    document.getElementById('txtPhysical').value = response.physical_security_summary;
                    document.getElementById('txtOther').value = response.other_summary;
                     $('#loadingSpinner').hide();

                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX call
                    console.error(error);
                    $('#loadingSpinner').hide();
                },
            });
        }

    </script>




    </div>
    <div class="col-md-1" style="background-color: darkgray;"></div>
</div>


<div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-10 ">
         <div class="row" style="background-color: darkgray; height: 200px; ">
             <div class="col-md-1 text-left">
             </div>
             <div class="col-md-2 text-left" style="background-color: darkgray">
             </div>
             <div class="col-md-3 text-left"></div>
            <div class="col-md-6 text-right">
                <button type="submit" id="btnformSubmit" class="btn btn-primary custom-btn">Save Header </button>
                <button type="button" class="btn btn-primary  custom-btn" id="resetButton"> New CyberPHA</button>
                <script>
                $(document).ready(function() {
                    $('#resetButton').on('click', function() {
                        // Reset textboxes and textareas
                        $('#txtTitle, #txtLeader, #txtUnit, #txtStartDate, #txtAddress, #txtFacility, #txtLeaderEmail, #txtEndDate, #txtSafetySummary, #txtChemical, #txtPhysical, #txtOther').val('');

                        // Reset select dropdowns
                        $('#selIndustry, #selFacilityType, #selZone').prop('selectedIndex', 0);
                        $('#btnformSubmit').prop('disabled', false);

                        //reset session variables
                        sessionStorage.setItem('activeCyberPHA', '0');
                        // Set the value of the hidden text field
                        document.getElementById('txtHdnCyberPHAID').value = '0';

                    });
                });

            </script>
                <button type="button" class="btn btn-primary custom-btn" id="scenarioButton">Add Scenarios</button>

                <script>
                     $(document).ready(function() {
                        $('#scenarioButton').on('click', function() {
                            window.location.href = "{% url 'OTRisk:assess_cyberpha' %}?active_cyberpha=" + sessionStorage.getItem('activeCyberPHA');
                        });
                     });
                </script>

             </div>
        </div>

       </div>
        <div class="col-md-1 " style="background-color: darkgray;"></div>
    </div> <!-- dark grey stripe with submit/reset buttons-->



</form>

<script>
    $(document).ready(function(){
    $('#headertable').dataTable( {
        "pageLength": 5,
            "lengthChange": false

    } );
});

</script>

<div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModal_Label">Country Selection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Selecting the correct country in which the facility is located improves the accuracy of the scenario event cost estimation</p>
        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

</body>
</html>