{% load static %}
{% load custom_filters %}

<!DOCTYPE html>
<!--suppress ALL -->
<html lang="">
<head>
    <title>iOTa</title>
    <link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">

 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js">

     <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="{% static 'anychart/dist/js/anychart-bundle.min.js' %}"></script>
  <!-- <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-core.min.js" type="text/javascript"></script>
  <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-circular-gauge.min.js" type="text/javascript"></script> -->
    {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}

    <style>


    body {
        font-size: 12px;
    }
        html, body, #container {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        .currency-input {
            text-align: right; /* Aligns the number to the right */
        }

        .custom-btn {
                width: 150px;  /* Adjust this value as needed */
                height: 50px;  /* Adjust this value as needed */
                background-color: white;
                border: 1px solid grey;
                color: black; /* Set the text color to black */
            }
       .custom-btn:hover {
        background-color: #f7f7f7; /* Slightly darker background on hover */
        border: 1px solid #d0d0d0; /* Slightly darker border on hover */
    }

        #headertable tbody tr:hover {
        background-color: #f5f5f5; /* Change this to the color you want */
        }

       .navbar-scroll .nav-link,
        .navbar-scroll,
        .navbar-scroll .navbar-brand {
          color: #000000;
        }

        /* Color of the navbar BEFORE scroll */
        .navbar-scroll {
          background-color: #FFFFFF;
            text-decoration-color: #000000;
        }


        /* Color of the links AFTER scroll */
        .navbar-scrolled .nav-link,
        .navbar-scrolled .navbar-toggler-icon,
        .navbar-scroll .navbar-brand {
          color: #262626;
        }

        .navbar-logo {
        position: absolute;
        top: 5px; /* Adjust this as needed */
        left: 5px; /* Adjust this as needed */
        height: 100px; /* Adjust this as needed */
        z-index: 10;
        }

            .col-md-2 {
        place-items: center;
        background-color: lightgrey;
    }

    .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

        .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        display: none; /* Initially hidden */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .selectable-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;  /* Optional: to give a slight background change on hover */
}

.highlighted {
        background-color: #85a4e7 !important;
        color: white !important;
    }
    body {
        font-size: 12px;
    }

        .icon-text {
        font-size: 24px; /* Adjust as needed */
    }

    .icon-text img {
        vertical-align: middle;
        height: 1em; /* This will make the image the same height as the text */
    }
    </style>
</head>
<body style="background-color: white">
<script>

anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");


sessionStorage.setItem('activeCyberPHA','');
sessionStorage.setItem('sessionCountry','');
sessionStorage.setItem('sessionFacility','');
sessionStorage.setItem('sessionFacilityType','');
sessionStorage.setItem('sessionIndustry','');

fetch('https://restcountries.com/v3.1/all')
    .then(response => response.json())
    .then(data => {
        // Sort the countries alphabetically
        data.sort((a, b) => a.name.common.localeCompare(b.name.common));

        // Add a blank option as the default
        $('#countrySelector').append(new Option('', ''));

        // Populate the dropdown
        data.forEach(country => {
            const countryName = country.name.common;
            $('#countrySelector').append(new Option(countryName, countryName));
        });
    })
    .then(() => {
        $('#countrySelector').select2({
            placeholder: "Select a country", // This will display the placeholder text
            allowClear: true // This allows users to clear the selected value
        });
    })
    .catch(error => {
        console.error("There was an error fetching the country list:", error);
    });

    //disable all controls and reset local session variable when form loads
    document.addEventListener('DOMContentLoaded', function() {
        document.getElementById("txtTitle").setAttribute('disabled', true);
        document.getElementById("txtLeader").setAttribute('disabled', true);
        document.getElementById("selIndustry").setAttribute('disabled', true);
        document.getElementById("txtUnit").setAttribute('disabled', true);
        document.getElementById("txtStartDate").setAttribute('disabled', true);
        document.getElementById("txtAddress").setAttribute('disabled', true);
        document.getElementById("txtFacility").setAttribute('disabled', true);
        document.getElementById("txtLeaderEmail").setAttribute('disabled', true);
        document.getElementById("selFacilityType").setAttribute('disabled', true);
        document.getElementById("selZone").setAttribute('disabled', true);
        document.getElementById("txtEndDate").setAttribute('disabled', true);
        document.getElementById("txtEmployees").setAttribute('disabled', true);
        document.getElementById("cyber_insurance").disabled = true;
        document.getElementById("annual_revenue").setAttribute('disabled', true);
        document.getElementById("shift_model").setAttribute('disabled', true);
        document.getElementById("countrySelector").setAttribute('disabled', true);
        document.getElementById("txtSafetySummary").setAttribute('disabled', true);
        document.getElementById("txtChemical").setAttribute('disabled', true);
        document.getElementById("txtPhysical").setAttribute('disabled', true);
        document.getElementById("txtOther").setAttribute('disabled', true);
        document.getElementById("txtCompliance").setAttribute('disabled', true);
         $('#risk-assessment-btn').prop('disabled', true);
         $('#btnformSubmit').prop('disabled', true);
         $('#scenarioButton').prop('disabled', true);
         $('#generatePPT').prop('disabled', true);
});

    function clearContainer(containerId) {
    var container = document.getElementById(containerId);
    while (container.firstChild) {
        container.removeChild(container.firstChild);
    }
}

    function drawGauge(score) {

    clearContainer('pha_gauge');
    // Create data set with our score
    var dataSet = anychart.data.set([score]);

    // Create a circular gauge chart
    var gauge = anychart.gauges.circular();
    var credits = gauge.credits();
    credits.enabled(false);
    // Set gauge settings
    gauge.data(dataSet).padding('4%');
    gauge.startAngle(270);
    gauge.sweepAngle(180);

    // Set axis scale settings
    var scale = gauge.axis().scale();
    scale.minimum(0)
        .maximum(100)
        .ticks()
        .interval(10);

    // Set the look of the bar that presents data
    gauge.bar(0)
        .position('i')
        .fill('#F0673B .9')
        .stroke('#F0673B')
        .radius(65);
    gauge.title("PHA Profile Rating (/100)");
    // Draw the chart
    gauge.container('pha_gauge').draw();
}

function drawControlGauge(score) {

    clearContainer('control_gauge');
    // Create data set with our score
    var dataSet = anychart.data.set([score]);

    // Create a circular gauge chart
    var gauge = anychart.gauges.circular();
    var credits = gauge.credits();
    credits.enabled(false);
    // Set gauge settings
    gauge.data(dataSet).padding('4%');
    gauge.startAngle(270);
    gauge.sweepAngle(180);

    // Set axis scale settings
    var scale = gauge.axis().scale();
    scale.minimum(0)
        .maximum(100)
        .ticks()
        .interval(10);

    // Set the look of the bar that presents data
    gauge.bar(0)
        .position('i')
        .fill('#F0673B .9')
        .stroke('#F0673B')
        .radius(65);
    gauge.title("Control Effectiveness %");
    // Draw the chart
    gauge.container('control_gauge').draw();
}

</script>

<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom border-dark rounded">
  <div class="container-fluid d-flex justify-content-between">
   <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}"><img src="{% static 'images/iota - white 1.png' %}" style="height: 140px; width: 140px" class="navbar-logo" alt="">   </a>
      <h6 class="my-auto text-center flex-grow-1 icon-text">
    <img src="{% static 'images/gears1.png' %}" alt=""> CyberPHA
</h6>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">

        <li class="nav-item">
          <a class="nav-link"  style="font-size: 12px;" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-journal-text"></i> Risk Assessment</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
        </li>
          <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:ra_actions_view_default' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Actions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="font-size: 12px;" href="{% url 'OTRisk:risk_register' %}" tabindex="-1" ><i class="bi-file-earmark-easel"></i> Risk Register</a>
        </li>

        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="font-size: 12px;">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:add_scenario' %}">Scenario Manager</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:add_consequence' %}">Consequence Manager</a></li>
                  <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
                  {% if user.is_staff %}
                    <!-- Links visible only to superusers -->
                    <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
                      <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
                    {% endif %}

              </ul>

        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'accounts:profile' %}" style="font-size: 12px;">
                <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
            </a>
        </li>

          <li class="nav-item">
            <a class="nav-link" href="{% url 'logout' %}">
                <i class="bi bi-box-arrow-right"></i> Logout
            </a>
        </li>
      </ul>
    </div>
  </div>

</nav>

<form name="frmHeader" id="frmRAW" method="POST" action="{% url 'OTRisk:iotaphamanager' %}">
{% csrf_token %}

<div class="row">
    <div class="col-md-1 bg-white"></div>
    <div class="col-md-10 bg-white">
        <label for="headertable" class="form-label">Select a record in the table to view and edit the CyberPHA</label>
        <table id="headertable" class="table table-striped table-bordered small-font compact">
        <thead style="background-color: #2c2c2c; color: white">
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Site</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Zone</th>
                <th>Leader</th>
                <th>Date</th>
                <th>Scenarios</th>
                <th>Actions</th>
                <th></th>
                <!-- Add more <th> elements for each field in the RAWorksheet model -->
            </tr>
        </thead>
        <tbody style="font-size: 10px">
            {% for pha_header_records in pha_header_records %}
                <tr data-id="{{ pha_header_records.ID }}" class="selectable-row">
                    <td>{{ pha_header_records.ID }}</td>
                    <td>{{ pha_header_records.title }}</td>
                    <td>{{ pha_header_records.FacilityName }}</td>
                    <td>{{ pha_header_records.FacilityType }}</td>
                    <td>{{ pha_header_records.AssessmentUnit }}</td>
                    <td>{{ pha_header_records.AssessmentZone }}</td>
                    <td>{{ pha_header_records.PHALeader }}</td>
                    <td>{{ pha_header_records.AssessmentStartDate|date:"m/d/Y" }}</td>
                    <td>{{ pha_header_records.scenario_count }}</td>
                     <td>
                        {% if pha_header_records.ra_action_count > 0 %}
                            <a href="{% url 'OTRisk:ra_actions_view_pha' pha_id=pha_header_records.ID %}">{{ pha_header_records.ra_action_count }}</a>

                        {% else %}
                            {{ pha_header_records.ra_action_count }}
                        {% endif %}
                    </td>
                    <td>
                        {% if pha_header_records.scenario_count != 0 %}
                            <a class="dropdown-item" href="{% url 'OTRisk:pha_reports'  cyber_pha_header_id=pha_header_records.ID  %}">Report</a>
                        {% else %}

                        {% endif %}
                    </td>
                    <!-- Add more <td> elements for each field in the RAWorksheet model -->
                </tr>
            {% endfor %}
        </tbody>
        </table>

        <script>
        $(document).ready(function() {
            $('#headertable').on('click', 'tbody tr.selectable-row', function() {
            // Remove 'highlighted' class from all other rows
            $('tr.selectable-row').removeClass('highlighted');

            // Add 'highlighted' class to the clicked row
            $(this).addClass('highlighted');
            });
        });
            function formatAsCurrency(value) {
                // Strip any non-digit characters
                let cleanedValue = String(value).replace(/\D/g, '');

                // Convert the number to a currency format
                return parseInt(cleanedValue).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0 });
            }

            $(document).ready(function() {
            $('#headertable').on('click', 'tbody tr', function () {
                let recordId = $(this).data('id');  // get the ID of the clicked row
                sessionStorage.setItem('activeCyberPHA', recordId);
                // Set the value of the hidden text field
                document.getElementById('txtHdnCyberPHAID').value = recordId;
                $.ajax({
                    url: '/OTRisk/get_headerrecord',  // the URL of the view that will handle the request
                    data: {
                        'record_id': recordId
                    },
                    dataType: 'json',
                    success: function (data) {

                        $('#txtTitle').val(data.headerrecord.title);
                        $('#txtLeader').val(data.headerrecord.leader);
                        $('#selIndustry').val(data.headerrecord.industry);
                        $('#txtUnit').val(data.headerrecord.unit);
                        $('#txtFacility').val(data.headerrecord.facility);
                        $('#txtLeaderEmail').val(data.headerrecord.leaderemail);
                        $('#selFacilityType').val(data.headerrecord.facilitytype);
                        $('#selZone').val(data.headerrecord.zone);
                        $('#txtStartDate').val(data.headerrecord.startdate);
                        $('#txtEndDate').val(data.headerrecord.enddate);
                        $('#txtSafetySummary').val(data.headerrecord.safetysummary);
                        $('#txtChemical').val(data.headerrecord.chemicalsummary);
                        $('#txtPhysical').val(data.headerrecord.physicalsummary);
                        $('#txtOther').val(data.headerrecord.othersummary);
                        $('#txtCompliance').val(data.headerrecord.compliancesummary);
                        $('#txtAddress').val(data.headerrecord.address);
                        $('#countrySelector').val(data.headerrecord.country).trigger('change');
                        $('#shift_model').val(data.headerrecord.shift_model);
                        $('#txtEmployees').val(data.headerrecord.EmployeesOnSite);
                        $('#annual_revenue').val(formatAsCurrency(data.headerrecord.annual_revenue));
                        $('#cyber_insurance').val(data.headerrecord.cyber_insurance);
                         $('#hdn_pha_score').val(data.headerrecord.pha_score);

                        drawGauge(data.headerrecord.pha_score);

                        drawControlGauge(data.control_effectiveness);

                        sessionStorage.setItem('sessionIndustry', data.headerrecord.industry);
                        sessionStorage.setItem('sessionFacilityType', data.headerrecord.facilitytype);
                        sessionStorage.setItem('sessionFacility', data.headerrecord.facility);
                        sessionStorage.setItem('sessionCountry', data.headerrecord.country);
                        var pha_score = data.headerrecord.pha_score;

                        // Enable the controls
                        $('#txtTitle, #txtLeader, #txtUnit, #txtStartDate, #txtAddress, #txtFacility, #txtLeaderEmail, #txtEndDate, #txtSafetySummary, #txtChemical, #txtPhysical, #txtOther, #txtCompliance, #selFacilityType, #cyber_insurance, #shift_model, #annual_revenue, #txtEmployees, #selIndustry, #selZone, #countrySelector, #btnformSubmit,  #risk-assessment-btn, #scenarioButton, #generatePPT').prop('disabled', false);
                        $('#btnformSubmit').prop('disabled', false);
                        $('#scenarioButton').prop('disabled', false);

                         $('#generatePPT').prop('disabled', false);

                         $.each(data.control_assessments, function(index, assessment) {
                            var controlId = assessment.mitigation_id;
                            var effectivenessPercentage = assessment.effectiveness_percentage;
                            var weighting = assessment.weighting;

                            // Set slider value based on controlId
                            $('#mitigation_' + controlId).val(effectivenessPercentage);
                            // Update displayed value
                            $('#mitigationValue_' + controlId).text(effectivenessPercentage);

                            $('#weighting_' + controlId).val(weighting);

                         });
                    }
                });
            });
        });



    </script>
    </div> <!-- table view of existing risk assessments -->

    <div class="col-md-1" style="background-color: white;"></div>
</div>

<div class="row">
    <div class="col-md-1" style="background-color: white"></div>
    <div class="col-md-3" style="background-color: white"></div>
    <div class="col-md-4" style="background-color: white">

    <button type="submit" id="btnformSubmit" class="custom-btn"><i class="bi bi-file-earmark-plus"></i> Save</button>
<script>
    // Add an event listener to the "Save Header" button
    document.getElementById('btnformSubmit').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the form submission (if it's within a form)

        // Show a SweetAlert confirmation dialog
        swal({
            title: "Confirm Save?",
            text: "Are you sure you want to save the header information?",
            icon: "warning",
            buttons: ["Cancel", "Save"],
            dangerMode: true,
        })
        .then((willSave) => {
            if (willSave) {
                // User confirmed, continue with the form submission
                document.forms['frmRAW'].submit(); // Replace 'yourFormName' with your form's name or ID
            } else {
                // User canceled the action
                // You can add additional code here if needed
            }
        });
    });
</script>
        <button type="button" class="custom-btn" id="resetButton"><i class="bi bi-plus-circle"></i> New</button>
        <script>
        $(document).ready(function() {
            $('#resetButton').on('click', function() {
                // Reset textboxes and textareas
                $('#txtTitle, #txtLeader, #txtUnit, #txtStartDate, #txtAddress, #txtFacility, #txtLeaderEmail, #txtEndDate, #txtSafetySummary, #txtChemical, #txtPhysical, #txtEmployees, #annual_revenue, #cyber_insurance, #shift_model, #txtOther, #txtCompliance').val('');

                // Reset select dropdowns
                $('#selIndustry, #selFacilityType, #selZone').prop('selectedIndex', 0);

                // Enable the controls
                $('#txtTitle, #txtLeader, #txtUnit, #txtStartDate, #txtAddress, #txtFacility, #txtLeaderEmail, #txtEndDate, #txtSafetySummary, #txtChemical, #txtPhysical, #txtOther, #txtCompliance, #selFacilityType, #selIndustry, #selZone, #shift_model, #txtEmployees, #annual_revenue, #cyber_insurance, #countrySelector, #btnformSubmit, #risk-assessment-btn').prop('disabled', false);
                $('#btnformSubmit').prop('disabled', false);

                //reset session variables
                sessionStorage.setItem('activeCyberPHA', '0');
                // Set the value of the hidden text field
                document.getElementById('txtHdnCyberPHAID').value = '0';

            });
        });

        </script>
        <button type="button" class="custom-btn" id="scenarioButton"><i class="bi bi-pencil-square"></i> Scenarios</button>
        <script>
             $(document).ready(function() {
                $('#scenarioButton').on('click', function() {
                    window.location.href = "{% url 'OTRisk:assess_cyberpha' %}?active_cyberpha=" + sessionStorage.getItem('activeCyberPHA');
                });
             });
        </script>
        <button id="generatePPT" class=" custom-btn"><i class="bi bi-printer"></i> Print</button>
    </div>
    <div class="col-md-3" style="background-color: white"></div>
    <div class="col-md-1" style="background-color: white"></div>
</div>


<div class="row" style="height: 10px">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
     <div class="row" style="background-color: white; height: 10px"></div>
   </div>
    <div class="col-md-1 " style="background-color: white;"></div>
</div> <!-- dark grey stripe -->

<div class="row" style="height: 10px">
    <div class="col-md-1 "></div>
    <div class="col-md-10 ">
     <div class="row" style="background-color: white; height: 10px"></div>
   </div>
    <div class="col-md-1 " style="background-color: white;"></div>
</div> <!-- dark grey stripe -->
    <input type="hidden" name="txtHdnCyberPHAID" id="txtHdnCyberPHAID" value="0">
{% if new_record_id %}
    <script>
        // Set the value of the hidden textbox field
        document.querySelector('input[name="txtHdnCyberPHAID"]').value = "{{ new_record_id }}";

        // Store the value in the local session storage
        sessionStorage.setItem('activeCyberPHA', "{{ new_record_id }}");
    </script>

{% endif %}
<div class="row small-font">
    <div class="col-md-1 bg-white"></div>
    <div class="col-md-3 bg-white">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtTitle">Title</label><input type="text" class="form-control" name="txtTitle" id="txtTitle" value="{{ current_pha_header.title }}"  required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtLeader">Leader</label><input type="text" class="form-control" name="txtLeader" id="txtLeader" value="{{ current_pha_header.PHALeader }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="selIndustry">Industry</label>
                <select class="form-control" name="selIndustry" id="selIndustry">
                    <option value=""> -- Select Industry -- </option>
                    {% for industry in industries %}
                        <option value="{{ industry.Industry }}"
                                {% if current_pha_header.Industry == industry.Industry %}selected{% endif %}>
                            {{ industry.Industry }}
                        </option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtUnit">Unit</label><input type="text" class="form-control" name="txtUnit" id="txtUnit" value="{{ current_pha_header.AssessmentUnit }}" required>
            </div>
        </div>

        <div class="card mb-3 shadow-sm">
    <div class="card-body">
        <label for="shift_model">Shift Model</label>
        <select class="form-control" name="shift_model" id="shift_model" required>
            <option value="">Select Shift Model</option>
            {% for model in SHIFT_MODELS %}
                <option value="{{ model.0 }}" {% if current_pha_header.shift_model == model.0 %}selected{% endif %}>{{ model.1 }}</option>
            {% endfor %}
        </select>
    </div>
</div>
    <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="annual_revenue">Facility Annual Revenue</label>
                <input type="text" class="form-control currency-input" name="annual_revenue" id="annual_revenue" value="{{ annual_revenue_str|default:'0' }}" required>
                <script>
                    document.addEventListener("DOMContentLoaded", function() {
                        const currencyInput = document.getElementById('annual_revenue');

                        currencyInput.addEventListener('input', function(e) {
                            // Strip any non-digit characters
                            let value = e.target.value.replace(/\D/g, '');

                            // Convert the number to a currency format
                            e.target.value = parseInt(value).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0 });
                        });
                    });
                </script>

            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtStartDate">Start Date</label><input type="date" class="form-control" name="txtStartDate" id="txtStartDate" value="{{ current_pha_header.AssessmentStartDate }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtAddress">Facility Address</label>
                <textarea class="form-control" rows="2" name="txtAddress" id="txtAddress" style="resize: none" required>{{ current_pha_header.facilityAddress }}</textarea>
            </div>
        </div>
        <br>

    </div>
    <div class="col-md-3 bg-white">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtFacility">Facility</label><input type="text" class="form-control" name="txtFacility" id="txtFacility" value="{{ current_pha_header.FacilityName }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtLeaderEmail">Leader Email</label><input type="text" class="form-control" name="txtLeaderEmail" id="txtLeaderEmail" value="{{ current_pha_header.PHALeaderEmail }}" required>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="selFacilityType">Facility Type</label>
                <select class="form-control" name="selFacilityType" id="selFacilityType">
                    <option value=""> -- Select Facility Type -- </option>
                    {% for facilities in facilities %}
                            <option value="{{ facilities.FacilityType }}"
                            {% if current_pha_header.FacilityType == facilities.FacilityType %}selected{% endif %}>
                            {{  facilities.FacilityType }}</option>
                        {% endfor %}
                </select>
                <script>
                    $(document).ready(function() {
                        $('#selFacilityType').select2();
                    });

                </script>
            </div>
        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">    <label for="selZone">Zone</label>
                <select class="form-control" name="selZone" id="selZone">
                    <option value = ""> -- Select Plant Zone -- </option>
                    {% for zone in zones %}
                        <option value="{{ zone.PlantZone }}"
                        {% if current_pha_header.AssessmentZone == zone.PlantZone %}selected{% endif %}>
                            {{ zone.PlantZone }}</option>
                    {% endfor %}
                </select>

            </div>

        </div>
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtEmployees">Employees on Site</label><input type="text" class="form-control" name="txtEmployees" id="txtEmployees" value="{{ current_pha_header.EmployeesOnSite }}">
            </div>
        </div>
        <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <label for="cyber_insurance">Cyber Insurance</label>
                <select class="form-control" name="cyber_insurance" id="cyber_insurance">
                    <option value=""> -- Select Insurance -- </option>
                    <option value="0" {% if current_pha_header.cyber_insurance == 'false' %}selected{% endif %}>No</option>
                    <option value="1" {% if current_pha_header.cyber_insurance == 'true' %}selected{% endif %}>Yes</option>
                </select>
            </div>




        </div>


        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
                <label for="txtEndDate">End Date</label><input type="date" class="form-control" name="txtEndDate" id="txtEndDate" value="{{ current_pha_header.AssessmentEndDate }}">
            </div>
        </div>

    <div class="card mb-3 shadow-sm">
            <div class="card-body">
                <label for="countrySelector">Country</label><a href="#" data-bs-toggle="modal" data-bs-target="#countryModal">❓</a><br><select id="countrySelector" name="countrySelector" style="width: 400px;"></select>

            </div>
        </div>
        <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#assessmentModal">
                        Add Control Assessment
                    </button>
                    <br>
                    <p>Submit an assessment of the effectiveness of this facilities current ICS controls (aligned with the Mitre ATT&CK framework for ICS Mitigations)</p>
                </div>
        </div>
    </div>

    <div class="col-md-4 row" style="background-color: white">
        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
            <div class="card-body">
               <button id="risk-assessment-btn" type="button" class="btn btn-link" style="text-decoration: none;
">
                    <img src="{% static 'images/facility1.png' %}" alt="" class="align-bottom" style="max-height: 2rem; margin-left: 5px;">
                    Assess Facility Profile
                </button>

                <br>
                <div class="spinner" id="loadingSpinner"></div>

                <p style="font-size: 10px">A valid address, industry, and facility name must be entered for the risk profile to be accurately assessed. Profiles are generated by a machine-learning algorithm and may slightly vary given the same inputs at different times</p>
                <div class="row">
                    <div class="col-md-6">
                        <div id="pha_gauge"></div>

                    </div>
                    <div class="col-md-6">
                        <div id="control_gauge"></div>
                    </div>
                </div>

                <input type="hidden" id="hdn_pha_score" name="hdn_pha_score" value="{{ pha_header_records.pha_score }}">
                <script>
                    drawGauge({{ current_pha_header.pha_score }});
                    drawControlGauge(0);
                </script>

                <div class="card mb-3 shadow-sm">
    <div class="card-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" id="myTabs" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="safety-tab" data-toggle="tab" href="#safety" role="tab" aria-controls="safety" aria-selected="true"><i class="bi bi-cone-striped"></i> Safety</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="chemical-tab" data-toggle="tab" href="#chemical" role="tab" aria-controls="chemical" aria-selected="false"><i class="bi bi-radioactive"></i> Chemical</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="physical-tab" data-toggle="tab" href="#physical" role="tab" aria-controls="physical" aria-selected="false"><i class="bi bi-shield-exclamation"></i> Physical Security</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false"><i class="bi bi-pc-display-horizontal"></i> OT Assets</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="other-tab" data-toggle="tab" href="#compliance" role="tab" aria-controls="other" aria-selected="false"><i class="bi bi-pc-display-horizontal"></i> Compliance</a>
            </li>
        </ul>

        <!-- Tab panes -->
        <div class="tab-content mt-3">
            <div class="tab-pane active" id="safety" role="tabpanel" aria-labelledby="safety-tab">
                <label for="txtSafetySummary">Safety Summary:</label>
                <textarea rows="20" name="txtSafetySummary" id="txtSafetySummary" class="form-control" style="resize: none; background-color: lightgrey ;" readonly>{{ current_pha_header.safetySummary }}</textarea>
            </div>
            <div class="tab-pane" id="chemical" role="tabpanel" aria-labelledby="chemical-tab">
                <label for="txtChemical">Chemical Storage:</label>
                <textarea rows="20" name="txtChemical" id="txtChemical" class="form-control" style="resize: none; background-color: lightgrey;" readonly>{{ current_pha_header.chemicalSummary }}</textarea>
            </div>
            <div class="tab-pane" id="physical" role="tabpanel" aria-labelledby="physical-tab">
                <label for="txtPhysical">Physical Security:</label>
                <textarea rows="20" name="txtPhysical" id="txtPhysical" class="form-control" style="resize: none; background-color: lightgrey;" readonly>{{ current_pha_header.physicalSummary }}</textarea>
            </div>
            <div class="tab-pane" id="other" role="tabpanel" aria-labelledby="other-tab">
                <label for="txtOther">OT Assets:</label>
                <textarea rows="25" name="txtOther" id="txtOther" class="form-control" style="resize: none; background-color: lightgrey;" readonly>{{ current_pha_header.otherSummary }}</textarea>
            </div>
            <div class="tab-pane" id="compliance" role="tabpanel" aria-labelledby="other-tab">
                <label for="txtCompliance">Compliance:</label>
                <textarea rows="20" name="txtCompliance" id="txtCompliance" class="form-control" style="resize: none; background-color: lightgrey;" readonly>{{ current_pha_header.complianceSummary }}</textarea>
            </div>


        </div>
    </div>
</div>
                </div>

        </div>

    <script>
$("#generatePPT").click(function(e) {
    e.preventDefault();  // This prevents the default form submission

    $.ajax({
        type: "POST",
        url: "{% url 'OTRisk:generate_ppt' %}",
        data: {
            FacilityName: $("#txtFacility").val(),
            txtSafetySummary: $("#txtSafetySummary").val(),
            txtChemical: $("#txtChemical").val(),
            txtPhysical: $("#txtPhysical").val(),
            txtOther: $("#txtOther").val(),
            txtCompliance: $("#txtCompliance").val(),
            csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val() // Ensure CSRF token is sent with POST request
        },
        dataType: "json",
        success: function(response) {
            if (response.status === "success") {
                // Redirect to the provided download URL
                window.location.href = response.download_url;
            } else {
                alert("An error occurred: " + response.error);
            }
        },
        error: function(error) {
            alert("An error occurred: " + error.statusText);
        }
    });
});



$(document).ready(function() {
    $("#risk-assessment-btn").click(function() {
        var employeeCount = $("#txtEmployees").val();

        // Check if employeeCount is a number and greater than 0
        if ($.isNumeric(employeeCount) && parseInt(employeeCount) > 0) {
            // Prompt the user for confirmation
            swal({
                title: 'Warning',
                text: 'Generating the assessment profile can take up to a minute. Proceed?',
                icon: 'warning',
                buttons: true,
            }).then((result) => {
                if (result) {
                    // If the user confirms, call the function to assess the risk
                    assessRisk();
                }
            });
        } else {
            swal({
                icon: 'error',
                title: 'Risk Profile Error',
                text: 'Please enter a valid number of employees greater than 0'
            });
        }
    });
});


        // AJAX function to call the Django view
        function assessRisk() {
            $('#loadingSpinner').show();
            // Gather the necessary data for the AJAX request (impact scores and scenario information)
            let address = document.getElementById('txtAddress').value;
            let facilityType = document.getElementById('selFacilityType').value;
            let industry = document.getElementById('selIndustry').value;
            let country = document.getElementById('countrySelector').value;
            let facility = document.getElementById('txtFacility').value;
            let shift_model = document.getElementById('shift_model').value;
            let employees = document.getElementById('txtEmployees').value;

            // Make the AJAX call to the Django view using a separate endpoint for risk assessment
            $.ajax({
                type: "GET",
                url: "{% url 'OTRisk:facility_risk_profile' %}",  // URL for the Django view
                data: {
                    // Pass the impact scores and scenario information as parameters
                    industry: industry,
                    facility_type: facilityType,
                    address: address,
                    country: country,
                    facility: facility,
                    shift_model: shift_model,
                    employees: employees
                 },
                success: function (response) {

                    // Write the response data to the textboxes
                    document.getElementById('txtSafetySummary').value = response.safety_summary;
                    document.getElementById('txtChemical').value = response.chemical_summary;
                    document.getElementById('txtPhysical').value = response.physical_security_summary;
                    document.getElementById('txtOther').value = response.other_summary;
                    document.getElementById('txtCompliance').value = response.compliance_summary;
                    document.getElementById('hdn_pha_score').value = response.pha_score;
                    drawGauge(response.pha_score);

                     $('#loadingSpinner').hide();

                },
                error: function (xhr, status, error) {
                    // Handle any errors that occur during the AJAX call
                    console.error(error);
                    $('#loadingSpinner').hide();
                },
            });
        }

    </script>
    <br>





    </div>
    <div class="col-md-1" style="background-color: white;"></div>
</div>


<div class="row">
        <div class="col-md-1 "></div>
        <div class="col-md-10 ">
         <div class="row" style="background-color: white; height: 200px; ">
             <div class="col-md-1 text-left">
             </div>
             <div class="col-md-2 text-left" style="background-color: white">
             </div>
             <div class="col-md-3 text-left"></div>
            <div class="col-md-6 text-right">


             </div>
        </div>

       </div>
        <div class="col-md-1 " style="background-color: white;"></div>
    </div> <!-- dark grey stripe with submit/reset buttons-->



</form>

<script>
    $(document).ready(function(){
    $('#headertable').dataTable( {
        "pageLength": 5,
            "lengthChange": false

    } );
});

</script>

<div class="modal fade" id="countryModal" tabindex="-1" aria-labelledby="countryModal" aria-hidden="true">
  <div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="dataModal_Label">Country Selection</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Selecting the correct country in which the facility is located improves the accuracy of the scenario event cost estimation</p>
        <button type="button" class="btn btn-secondary mt-3" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- assessment_modal.html -->

<!-- Bootstrap Modal -->
<div class="modal fade" id="assessmentModal" tabindex="-1" role="dialog" aria-labelledby="assessmentModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document"> <!-- Increased modal size -->
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="assessmentModalLabel">Facility Control Assessment (Mitre ICS Mitigations)</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button><br>
      </div>

      <div class="modal-body">
        <form id="controlAssessmentForm">
<!-- Tabs Navigation -->
<ul class="nav nav-tabs" id="myTabs" role="tablist">
    {% for i in "123456"|make_list %}
        <li class="nav-item">
            <a class="nav-link {% if forloop.first %}active{% endif %}" id="tab-{{ forloop.counter }}" data-toggle="tab" href="#page-{{ forloop.counter }}" role="tab">{{ forloop.counter }}</a>
        </li>
    {% endfor %}
</ul>
<div class="tab-content small-font">
    {% for i in "123456"|make_list %}
        <div class="tab-pane fade {% if forloop.first %}show active{% endif %}" id="page-{{ forloop.counter }}" role="tabpanel">
            <div class="container mt-4">
                <div class="row">
                    {% if forloop.counter < 6 %}
                        {% if forloop.counter == 6 %}
                            {% with start_index=forloop.counter0|add:0 %}
                                {% with end_index=mitigations|length %}
                                    {% for mitigation in mitigations %}
                                        {% if forloop.counter0 >= start_index and forloop.counter0 < end_index %}
                                            <div class="col-md-6">
                                                <div class="form-group d-flex justify-content-between align-items-center">
                                                    <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                                        <div class="card-body">
                                                            <label for="mitigation_{{ mitigation.id }}" class="mb-0">{{ mitigation.name }}</label>
                                                            <div>
                                                                <input type="range" class="custom-range d-inline-block" style="width: 70%;" id="mitigation_{{ mitigation.id }}" name="mitigation_{{ mitigation.id }}" data-mitigation-id="{{ mitigation.id }}" min="0" max="100">
                                                                <span id="mitigationValue_{{ mitigation.id }}" class="ml-2">50</span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        {% else %}
                            {% with start_index=forloop.counter0|add:0|multiply:10 %}
                                {% with end_index=start_index|add:10 %}
                                    {% for mitigation in mitigations %}
                                        {% if forloop.counter0 >= start_index and forloop.counter0 < end_index %}
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                                        <div class="card-body d-flex justify-content-between align-items-center">
                                                            <label for="mitigation_{{ mitigation.id }}" class="mb-0" data-toggle="tooltip" data-placement="top" title="{{ mitigation.description }}">
                                                                <b>{{ mitigation.name }}</b>
                                                            </label>
                                                            <div>
                                                                <input type="range" class="custom-range d-inline-block" style="width: 70%;" id="mitigation_{{ mitigation.id }}" name="mitigation_{{ mitigation.id }}" data-mitigation-id="{{ mitigation.id }}" min="0" max="100">
                                                                <span id="mitigationValue_{{ mitigation.id }}" class="ml-2">50</span>
                                                                <br><br>
                                                                <label for="weighting_{{ mitigation.id }}" class="mb-0">Control Weighting:</label>
                                                                <input type="number" id="weighting_{{ mitigation.id }}" name="weighting_{{ mitigation.id }}" min="0" max="10" class="form-control" style="width: 70%;" value="5"/>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endwith %}
                            {% endwith %}
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
<button type="button" id="submitAssessment" class="btn btn-primary mt-3">Submit Assessment</button>
        </form>
      </div>
    </div>
  </div>
</div>


<script>
// Define the csrfSafeMethod function to check if a HTTP method is safe from CSRF protection
function csrfSafeMethod(method) {
    // These HTTP methods do not require CSRF protection
    return /^(GET|HEAD|OPTIONS|TRACE)$/.test(method);
}

// Define the getCookie function to retrieve the CSRF token from cookies
function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            // Check if this cookie name starts with the specified name
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

// Using jQuery
$(document).ready(function() {
    // Update the displayed value when the slider changes
    $("input[type='range']").on('input', function() {
        var id = $(this).attr('id').replace("mitigation_", "");
        $("#mitigationValue_" + id).text($(this).val());
    });

    // AJAX call to submit the assessment data
    $("#submitAssessment").click(function() {

        var cyberPHA = sessionStorage.getItem('activeCyberPHA');
        var formData = {};

        // Iterate through the sliders and add their values to formData
        $("input[type='range']").each(function() {
            var id = $(this).attr('id');
            var control_id = id.split('_')[1]; // Extract the control_id
            formData[control_id] = $(this).val(); // Remove "mitigation_" prefix
        });

        // Iterate through the weighting fields and add their values to formData
        $("input[id^='weighting_']").each(function() {
            var id = $(this).attr('id').replace("weighting_", "");
            formData["weighting_" + id] = $(this).val();
        });

        // Add cyberPHA to formData
        formData['cyberPHA'] = cyberPHA;
        var csrfToken = getCookie("csrftoken");

        // Include the CSRF token in the request headers
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrfToken);
                }
            }
        });
        $.ajax({
            type: 'POST',
            url: '/OTRisk/save_control_assessment/',
            data: formData,
            success: function(response) {
                if (response.status === "success") {
                    alert(response.message);
                    $("#assessmentModal").modal('hide');
                    drawControlGauge(response.control_effectiveness);
                } else {
                    alert("Error: " + response.message);
                }
            },
            error: function(error) {
                alert("An error occurred: " + error.statusText);
            }
        });
    });
});

</script>


</body>
</html>