{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AnzenOT - GRC for OT</title>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

        <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
<link rel="stylesheet" type="text/css" href="{% static 'css/otriskstyle.css' %}">
</head>
<body style="background-color: #464748">
<div class="container-fluid">
<div class="row">
    {% include 'menu_bar.html' %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-12  custom-main-content" >
    <div class="top-strip">
        <h1 class="page-title">Defaults@AnzenOT</h1>
    </div>

<div class="container mt-4">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="text-center">Default Settings for {{ user.userprofile.organization.name }}</h4>
                </div>
                <div class="card-body">
                    <form method="post" class="form-horizontal">
                        {% csrf_token %}

                        <!-- Dropdown Selector -->
                        <div class="form-group row mb-3">
                            <label for="connector_select" class="col-sm-4 col-form-label">Select Connector</label>
                            <div class="col-sm-8">
                                <select class="form-control" id="connector_select" name="connector_select">
                                    <option value="">Select Connector</option>
                                    <option value="darktrace">Darktrace</option>
                                    <option value="exalens">Exalens</option>
                                </select>
                            </div>
                        </div>

                        <!-- Business Unit Fields -->
                        <h5 class="text-center">Business Unit Information</h5>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_name.id_for_label }}" class="col-sm-4 col-form-label">Business Unit</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_name }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_address_line1.id_for_label }}" class="col-sm-4 col-form-label">Address Line 1</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_address_line1 }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_address_line2.id_for_label }}" class="col-sm-4 col-form-label">Address Line 2</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_address_line2 }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_address_line3.id_for_label }}" class="col-sm-4 col-form-label">Address Line 3</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_address_line3 }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_city.id_for_label }}" class="col-sm-4 col-form-label">City</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_city }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_state.id_for_label }}" class="col-sm-4 col-form-label">State</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_state }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_postcode.id_for_label }}" class="col-sm-4 col-form-label">Post Code/Zip</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_postcode }}
                            </div>
                        </div>
                        <div class="form-group row mb-3">
                            <label for="{{ form.business_unit_country.id_for_label }}" class="col-sm-4 col-form-label">Country</label>
                            <div class="col-sm-8">
                                {{ form.business_unit_country }}
                            </div>
                        </div>

                        <!-- Exalens Fields -->
                        <div id="exalensFields" style="display: none;">
                            <h5 class="text-center">Exalens Settings</h5>
                            <div class="form-group row mb-3">
                                <label for="{{ form.exalens_api_key.id_for_label }}" class="col-sm-4 col-form-label">{{ form.exalens_api_key.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.exalens_api_key }}
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="{{ form.exalens_client_id.id_for_label }}" class="col-sm-4 col-form-label">{{ form.exalens_client_id.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.exalens_client_id }}
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="{{ form.exalens_ip_address.id_for_label }}" class="col-sm-4 col-form-label">{{ form.exalens_ip_address.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.exalens_ip_address }}
                                </div>
                            </div>
                        </div>

                        <!-- Darktrace Fields -->
                        <div id="darktraceFields" style="display: none;">
                            <h5 class="text-center">Darktrace Settings</h5>
                            <div class="form-group row mb-3">
                                <label for="{{ form.darktrace_public_key.id_for_label }}" class="col-sm-4 col-form-label">{{ form.darktrace_public_key.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.darktrace_public_key }}
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="{{ form.darktrace_private_key.id_for_label }}" class="col-sm-4 col-form-label">{{ form.darktrace_private_key.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.darktrace_private_key }}
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label for="{{ form.darktrace_host.id_for_label }}" class="col-sm-4 col-form-label">{{ form.darktrace_host.label }}</label>
                                <div class="col-sm-8">
                                    {{ form.darktrace_host }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="col-sm-12 text-center">
                                <button type="submit" class="btn btn-primary" id="submitBtn">Save</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    var connectorSelect = document.getElementById('connector_select');
    var exalensFields = document.getElementById('exalensFields');
    var darktraceFields = document.getElementById('darktraceFields');

    connectorSelect.addEventListener('change', function() {
        if (connectorSelect.value === 'exalens') {
            exalensFields.style.display = 'block';
            darktraceFields.style.display = 'none';
        } else if (connectorSelect.value === 'darktrace') {
            darktraceFields.style.display = 'block';
            exalensFields.style.display = 'none';
        } else {
            exalensFields.style.display = 'none';
            darktraceFields.style.display = 'none';
        }
    });
});
</script>


<script>
document.getElementById('submitBtn').addEventListener('click', function(e) {
    e.preventDefault();

    // Function to reformat currency values to plain numbers
    function reformatCurrencyFields() {
        var currencyFields = ['id_annual_revenue', 'id_cyber_insurance', 'id_insurance_deductible'];
        currencyFields.forEach(function(fieldId) {
            var field = document.getElementById(fieldId);
            if (field && field.value) {
                // Remove non-numeric characters except the decimal point
                var numericValue = field.value.replace(/[^0-9.]/g, '');
                field.value = numericValue;
            }
        });
    }

    // Call the reformat function before submitting
    reformatCurrencyFields();

    swal.fire({
        title: "Save Defaults?",
        text: "Save organization defaults?",
         imageUrl: '/static/images/anzen_owl.png',
                imageWidth: 150, // Adjust as necessary
                imageHeight: 150, // Adjust as necessary
                background: '#000', // Black background
                color: '#fff', // Set text color to white
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes',
                cancelButtonText: 'Cancel',
                customClass: {
                    popup: 'swal2-custom-border' // Apply custom class to the popup/dialog
                }
    })
    .then((willSubmit) => {
        if (willSubmit) {
            document.querySelector('form').submit();
        }
    });
});
</script>


 <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        // Function to format numbers as currency
        function formatCurrency(value) {
            return parseFloat(value).toLocaleString('en-US', {
                style: 'currency',
                currency: 'USD',
                minimumFractionDigits: 2
            });
        }

        // Format fields on load
        document.querySelectorAll('input[type="text"][pattern="^\\d+(\\.?\\d{2})?$"]').forEach(function(input) {
            var value = input.value;
            if(value) input.value = formatCurrency(value);
        });

        // Format fields before submitting form
        document.querySelector('form').addEventListener('submit', function() {
            document.querySelectorAll('input[type="text"][pattern="^\\d+(\\.?\\d{2})?$"]').forEach(function(input) {
                var value = input.value.replace(/[^0-9.-]+/g,"");
                input.value = value; // Convert back to plain number for submission
            });
        });

        // Reformat on field blur
        document.querySelectorAll('input[type="text"][pattern="^\\d+(\\.?\\d{2})?$"]').forEach(function(input) {
            input.addEventListener('blur', function(e) {
                var value = e.target.value.replace(/[^0-9.-]+/g,"");
                e.target.value = formatCurrency(value);
            });
        });
    });

    function formatCurrency() {
    var currencyFields = ['id_annual_revenue', 'id_cyber_insurance', 'id_insurance_deductible'];
    currencyFields.forEach(function(fieldId) {
        var field = document.getElementById(fieldId);
        if (field && field.value) {
            field.value = parseFloat(field.value).toLocaleString('en-US', {
                style: 'currency',
                currency: 'USD',
            });
        }
    });
}
window.onload = formatCurrency;
</script>
</body>
</html>