{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AnzenOT - CyberPHA and OT Risk Management</title>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://d3js.org/d3.v6.min.js"></script>
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9z71m0_5oIR2tg4ygvOt61jCL-IgxlBI"></script>

    <!-- Bootstrap JS -->
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>

    <script src="{% static 'anychart/dist/js/anychart-bundle.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-heatmap.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-sunburst.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-pie.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-cartesian.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-radar.min.js' %}"></script>
    <script src="{% static 'anychart/dist/js/anychart-circular-gauge.min.js' %}"></script>

     <script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-linear-gauge.min.js" type="text/javascript"></script>

     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}
    <style>
 .form-group {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #5E6266; /* Lighter shade of #464748 */
    padding: 15px; /* Optional: for internal spacing */
}
@media (min-width: 992px) { /* Adjusting for Bootstrap's large devices breakpoint */
    .custom-main-content {
        width: calc(100% - 200px);
        max-width: calc(90vw - 200px);
        margin-left: 100px;
    }
}
 .top-strip {
    background-color: #464748; /* Same as body background for seamless integration */
    color: #d3d1cd; /* Text color */
    padding: 10px 20px; /* Adjust as needed */
    padding-left: 100px; /* Align with the end of the sidebar */
    width: calc(100% - 200px); /* Adjust based on the actual sidebar width */
    box-sizing: border-box;
}
 @media (max-width: 992px) {
    .top-strip {
        padding-left: 0;
        width: 100%;
    }
}
 .page-title {
    margin: 0; /* Remove default margins */
    font-size: 1.5rem; /* Adjust size as needed */
}


.scenario-item {
    width: 100%;
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}

  .sidebar {
        height: 100vh;
        background-color: #2D2E30; /* Darker shade for sidebar */
        padding: 20px 0;
        width: 200px; /* Reduced width */
    }
    .sidebar-logo {
        padding: 10px 15px;
        text-align: center;
    }
    .nav-sidebar {
        display: flex;
        flex-direction: column;
        padding-left: 0;
        list-style: none;
    }
    .nav-sidebar .nav-item {
        padding: 5px 10px;
        /* border-bottom: 1px solid  #fac330; /* Light orange line */
        margin: 0 10%;
    }
    .nav-sidebar .nav-link {
        color: #d3d1cd;
        border-radius: 0;
        transition: color 0.3s ease-in-out;
        font-size: 0.8em;
    }
    .nav-sidebar .nav-link:hover, .nav-sidebar .nav-link.active {
        background-color: #3A5F5F;
        color: #E0E0E0;
    }

.nav-link:hover, .dropdown-item {
    color: #E0E0E0; /* Light grey text on hover */
}

.dropdown-menu {
        background-color: #d3d1cd;
        border: none;
    }

.dropdown-item {
    color: #FFFFFF; /* White text for clear visibility */
}

.dropdown-item:hover, .dropdown-item:focus {
        background-color: #fac330; /* Light orange background for hovered dropdown items */
        color: #2D2E30;
    }
.scenario-link {
    display: block;
    width: 100%; /* Set width to 100% */
    padding: 5px;
    margin: 0; /* Remove any default margins */
    border: 0px solid transparent;
    border-right: none; /* Remove the right border */
    background-color: white;
    transition: background-color 0.3s, border-color 0.3s; /* Smooth transition for color changes */
    text-decoration: none; /* Remove underline from link */
    color: black; /* Set link text color */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
}



.scenario-link.highlighted {
    border-color: black;
    background-color: #5E6266;
    color: white;
}

body {
background-color: #464748;
color: #d3d1cd;
}

.scrollable-content {
    max-height: 300px;
    overflow-y: auto;
}



.equal-card .card-body {
    flex: 1; /* This will make sure the content takes up all available space */
}



            #action_table {
                border-collapse: collapse;
                width: 100%;
                background-color: #fff8e8;
            }

    #action_table th, #action_table td {
        border: 1px solid #ddd;
        padding: 8px;
    }

    #action_table th {
        padding-top: 12px;
        padding-bottom: 12px;
        text-align: left;
        background-color: #f2f2f2;
        color: black;
        border-bottom: 3px solid #ddd;
    }

    #action_table tr:hover {
        background-color: #f5f5f5;
    }

    /* 3D shading effect */
    #action_table {
        box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    }
</style>
</head>
<body style="background-color: #464748">
<script>anychart.licenseKey("iotarisk.com-f1ad231c-886c1b88");</script>
<div class="container-fluid">
<div class="row">
{% include 'menu_bar.html' %}
    <main role="main" class="col-md-10 ml-sm-auto col-lg-12  custom-main-content" >
    <div class="top-strip">
        <h1 class="page-title">CyberPHA Report@AnzenOT (Beta)</h1>
    </div>



<div class="row">

    <div class="col-md-11" id="pha_header">

        <div class="row">
            <div class="col-md-12">
                <p>
                    <H4 style="color: #d3d1cd; display: inline-block;">{{ cyber_pha_header.FacilityName }}</H4>
                    <h6 style="display: inline-block; color: #d3d1cd"> CyberPHA</h6>
            </div>
         </div>
        <div class="form-group">
            <div class="row"  style="font-size: 10px">
            <div class="col-md-4" style="font-size: 12px">
                <div class="row">
                    <div class="col-md-6" style="font-size: 14px; color: #d3d1cd">
                        Facility Type: {{ cyber_pha_header.FacilityType }}<br>
                        Industry: {{ cyber_pha_header.Industry }}<br>
                        Assessment Unit: {{ cyber_pha_header.AssessmentUnit }}<br>
                        Assessment Zone: {{ cyber_pha_header.AssessmentZone }}<br>
                        Assessment Start: {{ cyber_pha_header.AssessmentStartDate }} /
                        Assessment End: {{ cyber_pha_header.AssessmentEndDate }}
                    </div>
                    <div class="col-md-6" style="font-size: 12px">
                        <div class="card mb-3" style="background-color: #5E6266; border: 0px">
                            <div class="form-group" style="background-color: #464748">

                                <div id="pha_gauge" style="width: 100%; height: 100%;"></div>

                            </div>
                            <script type="text/javascript">
                            anychart.onDocumentReady(function() {
                            // Assume pha_score is a variable holding your PHA score
                            var pha_score = {{ cyber_pha_header.pha_score }};

                            // Create data for the gauge
                            var data = anychart.data.set([
                                ['PHA Score', pha_score]
                            ]);

                            // Create and configure the gauge chart
                            var gauge = anychart.gauges.circular();
                            gauge.data(data);

                            var credits = gauge.credits();
                            credits.enabled(false);
                            // Set gauge settings
                            gauge.data(data).padding('4%');
                            gauge.startAngle(270);
                            gauge.sweepAngle(180);

                            // Set axis scale settings
                            var scale = gauge.axis().scale();
                            scale.minimum(0)
                                .maximum(100)
                                .ticks()
                                .interval(10);

                            // Set the look of the bar that presents data
                            gauge.bar(0)
                                .position('i')
                                .fill('#F0673B .9')
                                .stroke('#F0673B')
                                .radius(65);
                            gauge.title("PHA Profile Rating (/100)");

                            gauge.container('pha_gauge').draw();
                        });
                            </script></div>
                    </div>
                </div>
                <div class="form-group">
                <div class="row">
                <div id="bia_container" style="width: 100%; height: 250px;"></div>


                     </div>
                </div>


            </div>
            <div class="col-md-8">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                        <div class="row">
                            <div class="col-md-3" style="color: #d3d1cd">
                                                      Estimated Event Costs
                                <div class="card mb-3 shadow-sm" style="background-color: #464748;">
                                    <div class="card-body">
                                        Low Estimate<br>
                                        <h6>{{ total_cost_impact_low }}</h6>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow-sm" style="background-color: #464748;">
                                    <div class="card-body">
                                        Most Likely<br>
                                        <h6>{{ total_cost_impact }}</h6>
                                    </div>
                                </div>
                                <div class="card mb-3 shadow-sm" style="background-color: #464748;">
                                    <div class="card-body">
                                        Worst Case<br>
                                        <h6>{{ total_cost_impact_high }}</h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-9">
                                <div class="card mb-2 shadow-sm">
                                    <div class="card-body text-center" style="color: #464748">
                                        Facility Profile
                                        <!-- Nav tabs -->
                                        <ul class="nav nav-tabs" id="myTabs" role="tablist">
                                            <li class="nav-item">
                                                <a class="nav-link active" id="safety-tab" data-toggle="tab" href="#safety" role="tab" aria-controls="safety" aria-selected="true">Safety</a>
                                            </li> <!-- safety summary -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="chemical-tab" data-toggle="tab" href="#chemical" role="tab" aria-controls="chemical" aria-selected="false">Chemical</a>
                                            </li> <!-- chemical summary -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="physical-tab" data-toggle="tab" href="#physical" role="tab" aria-controls="physical" aria-selected="false">Physical</a>
                                            </li> <!-- physical security summary -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="compliance-tab" data-toggle="tab" href="#compliance" role="tab" aria-controls="compliance" aria-selected="false">Compliance</a>
                                            </li> <!-- compliance summary -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="other-tab" data-toggle="tab" href="#other" role="tab" aria-controls="other" aria-selected="false">OT</a>
                                            </li> <!-- OT controls summary -->
                                            <li class="nav-item">
                                                <a class="nav-link" id="threats-tab" data-toggle="tab" href="#threats" role="tab" aria-controls="threats" aria-selected="false">Threats</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="insight-tab" data-toggle="tab" href="#insight" role="tab" aria-controls="insight" aria-selected="false">Insight</a>
                                            </li>
                                            <li class="nav-item">
                                                <a class="nav-link" id="strategy-tab" data-toggle="tab" href="#strategy" role="tab" aria-controls="strategy" aria-selected="false">Strategy</a>
                                            </li>
                                        </ul>

                                        <!-- Tab panes -->
                                        <div class="tab-content">
                                            <div class="tab-pane active text-left" id="safety" role="tabpanel" aria-labelledby="safety-tab">
                                            <div class="col scrollable-content">{{ safety_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="chemical" role="tabpanel" aria-labelledby="chemical-tab">
                                            <div class="col scrollable-content">{{ chemical_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="physical" role="tabpanel" aria-labelledby="physical-tab">
                                            <div class="col scrollable-content">{{ physical_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="compliance" role="tabpanel" aria-labelledby="compliance-tab">
                                            <div class="col scrollable-content">{{ compliance_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="other" role="tabpanel" aria-labelledby="other-tab">
                                            <div class="col scrollable-content">{{ other_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="threats" role="tabpanel" aria-labelledby="threats-tab">
                                            <div class="col scrollable-content">{{ threat_summary_html|safe }}</div>
                                        </div>
                                        <div class="tab-pane text-left" id="insight" role="tabpanel" aria-labelledby="insight-tab">
                                            <div class="col scrollable-content">{{ insight_summary_html|safe }}</div>
                                        </div>
                                         <div class="tab-pane text-left" id="strategy" role="tabpanel" aria-labelledby="strategy-tab">
                                            <div class="col scrollable-content">{{ strategy_summary_html|safe }}</div>
                                        </div>
                                        </div>
                                    </div> <!-- facility profile -->
                                </div>
                            </div>
                        </div>
                            </div>
                    </div>
                    <div class="col" style="color: #d3d1cd">
                        Facility Address: {{ cyber_pha_header.facilityAddress }}, {{ cyber_pha_header.country }}
                    <div id="map" style="width: 85%; height: 350px;"></div>
                </div>
                </div>
                <div class="form-group">
                <div class="row">
                    <div class="col">
                        <b style="color:white">Open Actions:</b>
                    <div id="action_container">
                        <table id="action_table">
                            <thead>
                                <tr>
                                    <th>Action Title</th>
                                    <th>Action Description</th>
                                    <th>Due Date</th>
                                </tr>
                            </thead>
                            <tbody>
                                <!-- Rows will be appended here by the script -->
                            </tbody>
                        </table>
                    </div>

                    <script>
                        var raActionsData = {{ ra_actions_json|safe }};

                        var tbody = document.querySelector('#action_table tbody');

                        raActionsData.forEach(function(action) {
                            var row = tbody.insertRow();
                            var cell1 = row.insertCell(0);
                            var cell2 = row.insertCell(1);
                            var cell3 = row.insertCell(2);
                            cell1.textContent = action.fields.actionTitle;
                            cell2.textContent = action.fields.actionDescription;
                            cell3.textContent = action.fields.actionDueDate;
                        });
                    </script>

                    </div>
                </div>
                </div>
            </div>
        </div>
        </div>

        <div class="row"  style="font-size: 10px">

        </div>
        <script>
    function initMap() {
        var geocoder = new google.maps.Geocoder();
        var address = "{{ cyber_pha_header.facilityAddress }}, {{ cyber_pha_header.country }}";

        geocoder.geocode({ 'address': address }, function(results, status) {
            if (status == 'OK') {
                var mapOptions = {
                    zoom: 18, // Start with maximum zoom
                    center: results[0].geometry.location,
                    mapTypeId: google.maps.MapTypeId.SATELLITE
                };

                var map = new google.maps.Map(document.getElementById('map'), mapOptions);

                var marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location
                });


            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    google.maps.event.addDomListener(window, 'load', initMap);
</script>

    </div>
    <div class="col-md-1"></div>
</div> <!-- BIA Summary and profile -->
<br>
<div class="row">

    <div class="col-md-3" style="padding-right: 0; padding-left: 0">
    <u><b style="color: #d3d1cd">Scenario's</b></u><br><br>
    {% for scenario in cyber_pha_scenarios %}
        <div class="scenario-item">
            <a href="#" data-id="{{ scenario.ID }}" class="scenario-link">{{ forloop.counter }}. {{ scenario.Scenario }}</a>
        </div>
    {% endfor %}
</div>


    <script>
    $(document).ready(function() {
        $('.scenario-link').on('click', function(e) {
            e.preventDefault(); // Prevents the default action of the link

            // Remove highlighted class from all links
            $('.scenario-link').removeClass('highlighted');

            // Add highlighted class to the clicked link
            $(this).addClass('highlighted');

            var scenarioId = $(this).data("id");  // Get the ID of the clicked scenario

            // Fetch the details of the scenario (assuming you have an endpoint to do this)
            $.ajax({
                url: `/OTRisk/get_scenario_report_details/?id=${scenarioId}`,
                method: "GET",
                success: function(data) {
                    // Generate the radar chart using the fetched data
                    generateRadarChart(data);
                    generateLineChart(data);
                    writeScenarioData(data);
                    let attack_tree_str = JSON.parse(data.attack_tree_text);
                    drawAttackTree(attack_tree_str);
                },
                error: function(error) {
                    console.error("Error fetching scenario data:", error);
                }
            });
        });

        // Automatically click on the first scenario link
        $('.scenario-link').first().trigger('click');
    });


    </script>


    <div class="col-8" style="border: 0px solid; padding-left: 0; background-color: #5E6266;">
        <div class="row" style="height: 5px"></div>

        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-4">
                <u style="color: white"><b>Consequences</b></u><br>
                <label id="lblConsequence" style="color:white"></label>
            </div>
            <div class="col-md-7">
                <div class="row">
                    <div class="col-md-9 text-center">
                        <b style="color:white">Estimated Single Event Costs</b>
                    </div>
                    <div class="col-md-3"></div>
                </div>
                <div class = "row">
                    <div class="col-md-3">
                        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                            <div class="card-body text-center">
                                Best Case<br>
                                <h5 style="color: #0a53be"><label id="sle_low"></label></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                            <div class="card-body text-center">
                                Median<br>
                                <h5 style="color: #0a53be"><label id="sle"></label></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="card mb-3 shadow-sm "> <!-- Bootstrap card with shadow -->
                            <div class="card-body text-center">
                                Worst Case<br>
                                <h5 style="color: #0a53be"><label id="sle_high"></label></h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>

            </div>



            <div class="col-md-3"></div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-4">
                <div class="form-group">
                <div id="radarChartContainer" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="form-group">
                <div id="lineChartContainer" style="width: 100%; height: 400px;"></div>
                </div>
            </div>
            <div class="col-md-3 d-flex flex-column justify-content-end" style="font-size: 10px;">
                <div class="card mb-3 shadow-sm "> <!-- Bootstrap card with shadow -->
                    <div class="card-body text-center" style="background-color: #f0f0f0; font-size: 12px">
                        Scenario Likelihood<br>
                        <h6><label id="scenario_likelihood"></label></h6>
                    </div>
                </div>
                <div class="card mb-3 shadow-sm "> <!-- Bootstrap card with shadow -->
                    <div class="card-body text-center" style="background-color: #f0f0f0; font-size: 12px">
                        Residual Risk<br>
                        <h6><label id="RRa"></label></h6>
                    </div>
                </div>
                <br><br><br>
                <u><b>Key:</b></u><br>
                UEL: Unmitigated Event Likelihood<br>
                RRu: Residual Risk Unmitigated<br>
                Sm: Severity Mitigated (with current controls)<br>
                MEL: Mitigated Exposure (with current controls)<br>
                RRm: Residual Risk (with current controls)<br><br><br>
            </div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <div class="form-group">
                <label style="color:white">Effect of OT Security Investments</label>
                <div id="investment_projection"></div>
                    </div>
            </div> <!-- recommended controls -->

            <div class="col-md-1"></div>

        </div>
        <div class="row">
            <div class="col-md-1"></div>

            <div class="col-md-10">
                <div class="form-group">
                <div id="attack_tree"></div>
                    </div>
            </div> <!-- recommended controls -->

            <div class="col-md-1"></div>

        </div>




    </div>
    <div class="col-md-1"></div>


</div>

<script>

function renderInvestmentImpact(investmentImpactText) {
    var bulletPoints = investmentImpactText.split('\n').filter(bp => bp.trim().length > 0);

    // Clear previous content
    $("#investment_projection").empty();

    // Create a container for the visualization
    var container = d3.select("#investment_projection")
        .style("display", "flex")
        .style("justify-content", "space-evenly")
        .style("align-items", "flex-start") // Align items at the start to manage varying heights
        .style("flex-wrap", "wrap") // Allow boxes to wrap in the container
        .style("padding", "20px")
        .style("gap", "20px") // Space between boxes
        .style("background-color", "#f0f0f0");

    bulletPoints.forEach(function(bp, index) {
        var box = container.append("div")
            .style("border", "2px solid #007BFF") // A vibrant, color-blind friendly border color
            .style("border-radius", "10px")
            .style("padding", "20px")
            .style("margin-bottom", "20px") // Margin at the bottom for spacing
            .style("background-color", "#ffffff") // White background for contrast
            .style("box-shadow", "0 8px 16px rgba(0,0,0,0.15)") // Deeper shadow for a sleek look
            .style("display", "flex")
            .style("flex-direction", "column")
            .style("justify-content", "space-between") // Distribute space evenly inside the box
            .style("align-items", "center")
            .style("text-align", "center") // Center align the text
            .attr("class", "investment-box") // Add a class for further manipulation
            .style("min-width", "240px") // Minimum width for each box
            .style("max-width", "300px") // Maximum width to ensure consistency
            .append("p")
            .text(bp)
            .style("margin-top", "10px") // Margin at the top inside the box
            .style("margin-bottom", "10px") // Margin at the bottom inside the box
            .style("font-size", "16px") // Enhanced font size for readability
            .style("color", "#333333") // Darker text color for better contrast
            .style("word-wrap", "break-word"); // Ensure text wraps within the box
    });

    // After all boxes are created, adjust their height to match the tallest box
    var maxHeight = d3.max(container.selectAll(".investment-box").nodes(), function(box) {
        return box.getBoundingClientRect().height;
    });

    // Set the container height to accommodate the tallest box with some padding
    container.selectAll(".investment-box").style("height", maxHeight + "px");
}
    anychart.onDocumentReady(function() {
        // Create data for AnyChart
        var data = [];
        {% for field, avg_value in impact_summary.items %}
            data.push({"x": "{{ field }}", "value": {{ avg_value }}});
        {% endfor %}

        // Create a chart
        var chart = anychart.column3d();

        // Add data to the chart
        chart.data(data);
        var credits = chart.credits();
        credits.enabled(false);
        // Set chart title
        chart.title("Business Impact Summary");
        chart.palette(anychart.palettes.provence);
        chart.yScale().minimum(0).maximum(10);

        // Draw the chart
        chart.container("bia_container");
        chart.draw();
    });

    $(document).ready(function() {
    $(".scenario-link").click(function(e) {
        e.preventDefault();  // Prevent the default link behavior

        var scenarioId = $(this).data("id");  // Get the ID of the clicked scenario

        // Fetch the details of the scenario (assuming you have an endpoint to do this)
        $.ajax({
            url: `/OTRisk/get_scenario_report_details/?id=${scenarioId}`,
             method: "GET",
            success: function(data) {
                // Generate the radar chart using the fetched data
                generateRadarChart(data);
                generateLineChart(data);
                writeScenarioData(data);

            },
            error: function(error) {
                console.error("Error fetching scenario data:", error);
            }
        });
    });
});

    function writeScenarioData(data) {
    var consequencesLabel = document.getElementById('lblConsequence');
        consequencesLabel.innerHTML = ''; // Clear existing content

        if (data.Consequences && data.Consequences.length > 0) {
            data.Consequences.forEach(function(consequence) {
                // Append each consequence to the label
                consequencesLabel.innerHTML += consequence.consequence_text + '<br>';
            });
        } else {
            // Handle the case where there are no consequences
            consequencesLabel.innerHTML = 'No consequences available.';
        }
    // document.getElementById('recommendations').value = data.recommendations;
    document.getElementById('sle_low').textContent = data.sle_low;
    document.getElementById('sle').textContent = data.sle;
    document.getElementById('sle_high').textContent = data.sle_high;
    document.getElementById('RRa').textContent = data.residual_risk;
    document.getElementById('scenario_likelihood').textContent = data.scenario_likelihood;
    renderInvestmentImpact(data.investment_impact);
}

function setSliderColor(slider) {

    let value = slider.value;
    let color;
    if (value <= 30) {
        color = "red";
    } else if (value <= 60) {
        color = "orange";
    } else if (value <= 80) {
        color = "yellow";
    } else {
        color = "green";
    }
    slider.style.setProperty("--thumb-color", color);  // Set the color variable
}
    function generateRadarChart(data) {
    anychart.onDocumentReady(function() {

        $('#radarChartContainer').empty();

        var chart = anychart.radar();

        var seriesData = [
            {x: "Safety", value: data.impactSafety},
            {x: "Danger", value: data.impactDanger},
            {x: "Production", value: data.impactProduction},
            {x: "Finance", value: data.impactFinance},
            {x: "Reputation", value: data.impactReputation},
            {x: "Environment", value: data.impactEnvironment},
            {x: "Regulation", value: data.impactRegulation},
            {x: "Data", value: data.impactData},
            {x: "Supply", value: data.impactSupply}
        ];
        var credits = chart.credits();
        credits.enabled(false);
        chart.line(seriesData);
        chart.background().fill("#f0f0f0");
        chart.yScale().minimum(0).maximum(10);
        chart.xGrid().palette(["gray 0.05", "gray 0.1"]);
        chart.yGrid().palette(["gray 0.05", "gray 0.1"]);
        var title = chart.title();
        title.text("Business Impact Analysis");
        title.orientation("top");
        title.align("center");
        title.enabled(true);
        chart.container('radarChartContainer');
        chart.draw();
    });
}

function generateLineChart(data) {
    anychart.onDocumentReady(function() {
        // Clear the current chart
        $('#lineChartContainer').empty();

        var chart = anychart.line();

        var seriesData = [
            {x: "UEL", value: data.UEL},
            {x: "RRU", value: data.RRU},
            {x: "SM", value: data.SM},
            {x: "MEL", value: data.MEL},
            {x: "RRM", value: data.RRM}
        ];

        chart.marker(seriesData);
        chart.yScale().minimum(0).maximum(10);
        chart.xGrid().palette(["gray 0.05", "gray 0.1"]);
        chart.yGrid().palette(["gray 0.05", "gray 0.1"]);
        // Customize y-axis labels
        var customLabels = ["", "", "Low", "", "", "Medium", "", "", "High", "", ""];
        chart.yAxis().labels().format(function() {
            return customLabels[this.value];
        });

        var credits = chart.credits();
        credits.enabled(false);
        chart.background().fill("#f0f0f0");
        var title = chart.title();
        title.text("Scenario Risk");
        title.orientation("top");
        title.align("center");
        title.enabled(true);
        chart.container('lineChartContainer');
        chart.draw();
    });
}

function convertSVGToPNG(svgElement, containerId) {
    var container = document.getElementById(containerId);
    var containerWidth = container.offsetWidth; // Use offsetWidth for full width including borders
    var containerHeight = container.offsetHeight; // Use offsetHeight for full height including borders

    // Serialize the SVG element to a string
    var xmlSerializer = new XMLSerializer();
    var svgString = xmlSerializer.serializeToString(svgElement);

    // Create a Blob from the SVG string
    var svgBlob = new Blob([svgString], {type: 'image/svg+xml;charset=utf-8'});
    var DOMURL = window.URL || window.webkitURL || window;
    var url = DOMURL.createObjectURL(svgBlob);

    // Create an Image element to load the SVG blob
    var img = new Image();
    img.onload = function() {
        // Calculate the scale factor based on the container's dimensions and the SVG's natural dimensions
        var scaleX = containerWidth / img.width;
        var scaleY = containerHeight / img.height;
        var scale = Math.min(scaleX, scaleY); // Use the smaller scale factor to ensure the entire SVG fits

        // Create a canvas element to draw the scaled SVG onto
        var canvas = document.createElement('canvas');
        canvas.width = img.width * scale; // Scale the canvas width
        canvas.height = img.height * scale; // Scale the canvas height
        var ctx = canvas.getContext('2d');

        // Draw the SVG image onto the canvas at the scaled size
        ctx.drawImage(img, 0, 0, canvas.width, canvas.height);

        // Convert the canvas to a PNG data URL
        var imgURI = canvas.toDataURL('image/png');

        // Set up the PNG image for insertion into the container
        var pngImage = new Image();
        pngImage.src = imgURI;
        pngImage.style.width = '100%'; // Make the image take up the full container width
        pngImage.style.height = 'auto'; // Auto-adjust the height to maintain aspect ratio

        // Clear the container and append the scaled PNG image
        container.innerHTML = '';
        container.appendChild(pngImage);

        // Clean up by revoking the object URL
        DOMURL.revokeObjectURL(url);
    };

    // Start loading the SVG blob as an image
    img.src = url;
}



function drawAttackTree(data) {
    var container = document.getElementById('attack_tree');
    var containerWidth = container.clientWidth;
    var svgWidth = containerWidth * 1.2;
    var margin = { top: 20, right: 120, bottom: 20, left: 300 };
    var width = svgWidth - margin.left - margin.right;
    var height = 800; // Increased height for better resolution

    d3.select(container).selectAll("svg").remove();

    var svg = d3.select(container).append("svg")
        .attr("width", "130%")
        .attr("viewBox", "0 0 " + svgWidth + " " + height)
        .attr("height", height)
        .style("display", "block")
        .style("margin", "auto")
        .style("background-color", "#253349C0") // Set the background color
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    var i = 0,
        duration = 750,
        root;

    var treemap = d3.tree()
        .size([height, width - margin.left - margin.right])
        .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2); });

    root = d3.hierarchy(data, function(d) { return d.children; });
    root.x0 = height / 2;
    root.y0 = 0;
    var colorScale = d3.scaleOrdinal(["#88CCEE", "#DDCC77", "#CC6677", "#882255", "#44AA99", "#117733", "#999933", "#AA4499"]);

    update(root);

    function update(source) {
        var treeData = treemap(root);

        var nodes = treeData.descendants(),
            links = treeData.descendants().slice(1);

        nodes.forEach(function(d) { d.y = d.depth * 180 });

        var node = svg.selectAll('g.node')
            .data(nodes, function(d) { return d.id || (d.id = ++i); });

        var nodeEnter = node.enter().append('g')
            .attr('class', 'node')
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        nodeEnter.append('circle')
            .attr('r', 10)
            .style("stroke", "black")
            .style("stroke-width", 1.5)
            .style("fill", function(d) { return colorScale(d.depth); });

        nodeEnter.append('text')
            .style("fill", "#FFFFFF") // Set label color to white
            .style("font-size", "14px")
            .style("font-weight", "bold")
            .attr("transform", "rotate(-10)")
            .attr("dy", ".35em")
            .attr("x", function(d) { return d.children ? -13 - this.getComputedTextLength() : 13; })
            .attr("text-anchor", function(d) { return d.children ? "end" : "start"; })
            .text(function(d) { return d.data.name; });

        var link = svg.selectAll('path.link')
            .data(links, function(d) { return d.id; });

        link.enter().insert('path', "g")
            .attr("class", "link")
            .style("stroke", "#96C5ECC0") // Set line color
            .style("stroke-width", 2)
            .style("fill", "none")
            // Removed the arrow marker reference
            .attr('d', function(d) {
                return "M" + d.y + "," + d.x
                    + "C" + (d.y + d.parent.y) / 2 + "," + d.x
                    + " " + (d.y + d.parent.y) / 2 + "," + d.parent.x
                    + " " + d.parent.y + "," + d.parent.x;
            });
    }

    var attackTreeDiv = document.getElementById('attack_tree');
    attackTreeDiv.style.display = 'block';
    attackTreeDiv.style.border = '1px solid #ccc';
    attackTreeDiv.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)';
    sessionStorage.setItem('attackTreeDrawn', 'true');

    var svgElement = container.querySelector('svg');
    convertSVGToPNG(svgElement, 'attack_tree');

}
</script>


</main>
</div>
</div>

</body>
</html>