{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>AnzenOT - GRC for OT</title>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">

    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">

    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- jQuery -->
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>

    <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>




     {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/otriskstyle.css' %}">
<style>
    /* Set the text color of all labels to white */
.dataTables_wrapper .dataTables_filter label,
.dataTables_wrapper .dataTables_length label,
.dataTables_wrapper .dataTables_paginate .paginate_button,
.dataTables_wrapper .dataTables_info {
    color: white;
}

</style>

</head>
<body style="background-color: #464748">
<div class="container-fluid">
    <div class="row">
       {% include 'menu_bar.html' %}

            <main role="main" class="col-md-10 ml-sm-auto col-lg-12  custom-main-content" >
            <div class="top-strip">
                <h1 class="page-title">Actions@AnzenOT (Beta)</h1>
            </div>
             <div class="container mt-5" >

                        <div class="row" style="height: 20px;">
                            <div class="col-md-1" ></div>
                            <div class="col-md-1" ></div>
                            <div class="col-md-8 " ></div>
                            <div class="col-md-1" ></div>
                            <div class="col-md-1 " ></div>
                        </div> <!-- dark grey stripe -->


            <div class="row">


                <div class="col-md-11 " >
                    <div class="form-group">
                    {% block content %}
                        <form method="post" action="" id="actionForm">

                            {% csrf_token %}
                            <input type="hidden"  name="action_id" id="actionId">
                            <table id="rawtable" class="table table-striped table-bordered">
                            <thead style="background-color: #2c2c2c; color: white">
                                <tr>
                                    <th>Source</th>
                                    <th>Title</th>
                                    <th>Owner</th>
                                    <th>Effort</th>
                                    <th>Difficulty</th>
                                    <th>Cost</th>
                                    <th>Status</th>
                                    <th>Description</th>
                                    <th>Due Date</th>

                                </tr>
                            </thead>
                            <tbody>
                                {% for record in ra_actions %}
                                   <tr data-id="{{ record.ID }}" class="selectable-row">
                                        <td>
                                            {% if record.phaID == 0 %}
                                                QRAW
                                            {% else %}
                                                CyberPHA
                                            {% endif %}
                                        </td>
                                        <td>{{ record.actionTitle  }}</td>
                                        <td>{{ record.actionOwner  }}</td>
                                        <td>{{ record.actionEffort  }}</td>
                                        <td>{{ record.actionDifficulty  }}</td>
                                        <td>{{ record.actionCost  }}</td>
                                        <td>{{ record.actionStatus  }}</td>
                                        <td>{{ record.actionDescription  }}</td>
                                        <td>{{ record.actionDueDate  }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>

                    </form>
                {% endblock %}
                    </div>
                </div>
                <div class="col-md-1 " ></div>
            </div>

            <div class="row small-font">


                <div class="col-md-11" >
                <div class="form-group">
                <!-- Display selected action details -->
                {% if selected_action %}
                    <div class="row small-font">
                        <div class="col-md-12">
                            <h4>Assessment Title: {{ ra_title }}</h4>
                        </div>
                    </div>
                    <div class="row small-font">
                        <div class="col-md-4">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtTitle">Title</label>
                                    <input type="text" class="form-control" name="txtTitle" id="txtTitle" required value="{{ selected_action.actionTitle }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtOwner">Owner</label>
                                    <input type="text" class="form-control" name="txtOwner" id="txtOwner" required value="{{ selected_action.actionOwner }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="selectStatus">Status (Click to change)</label>
                                    <Select class="form-control" name="selectStatus" id="selectStatus">
                                        <option value="" {% if not selected_action.actionStatus %}selected{% endif %}>-- Select Status --</option>
                                        <option value="Closed" {% if selected_action.actionStatus == "Closed" %}selected{% endif %}>Closed</option>
                                        <option value="In Progress" {% if selected_action.actionStatus == "In Progress" %}selected{% endif %}>In Progress</option>
                                        <option value="On Hold" {% if selected_action.actionStatus == "On Hold" %}selected{% endif %}>On Hold</option>
                                        <option value="Open" {% if selected_action.actionStatus == "Open" %}selected{% endif %}>Open</option>
                                    </Select>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row small-font">
                        <div class="col-md-6">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtDescription">Description</label>
                                    <textarea class="form-control" name="txtDescription" id="txtDescription" rows="2"  style="resize: none" readonly>{{ selected_action.actionDescription }}</textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtHistory">Action History</label>
                                    <textarea class="form-control" name="txtHistory" id="txtHistory" rows="2" readonly style="resize: none;">{{ selected_action.history }}</textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row small-font">
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtEffort">Effort</label>
                                    <input type="text" class="form-control" name="txtEffort" id="txtEffort" required value="{{ selected_action.actionEffort }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtDifficulty">Difficulty</label>
                                    <input type="text" class="form-control" name="txtDifficulty" id="txtDifficulty" required value="{{ selected_action.actionDifficulty }}">
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtCost">Cost</label>
                                    <input type="text" class="form-control" name="txtCost" id="txtCost" required value="{{ selected_action.actionCost }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txtDueDate">Due Date</label>
                                    <input type="date" class="form-control" name="txtDueDate" id="txtDueDate" required value="{{ selected_action.actionDueDate|date:"Y-m-d" }}" >
                                </div>
                            </div>
                        </div>


                    </div>
                    <div class="row small-font">
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outageSIS">Safety Outage</label>
                                    <input type="text" class="form-control" name="txt_outageSIS" id="txt_outageSIS" required value="{{ selected_action.outageSIS }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outageICS">ICS Outage</label>
                                    <input type="text" class="form-control" name="txt_outageICS" id="txt_outageICS" required value="{{ selected_action.outageICS }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outageEMS">EMS Outage</label>
                                    <input type="text" class="form-control" name="txt_outageEMS" id="txt_outageEMS" required value="{{ selected_action.outageEMS }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outageIT">IT Outage</label>
                                    <input type="text" class="form-control" name="txt_outageIT" id="txt_outageIT" required value="{{ selected_action.outageIT }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outagePS">PS Outage</label>
                                    <input type="text" class="form-control" name="txt_outagePS" id="txt_outagePS" required value="{{ selected_action.outagePS }}" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <label for="txt_outageWWW">Internet Outage</label>
                                    <input type="text" class="form-control" name="txt_outageWWW" id="txt_outageWWW" required value="{{ selected_action.outageWWW }}" readonly>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row small-font">
                    <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->


                    </div>




                    <div class="row small-font">
                        <div class="col-md-4"></div>
                        <div class="col-md-2">
                            <div class="card mb-3 shadow-sm"> <!-- Bootstrap card with shadow -->
                                <div class="card-body">
                                    <button class="form-control btn-primary" type="button" id="actionBtn">Save Changes</button>
                                    <button class="form-control btn-primary" type="button" id="exportCsvBtn">Export as .csv</button>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4"></div>
                    </div>
                {% endif %}
                    </div>
                </div>

            <div class="col-md-1 " ></div>
            </div>


            <script>
                $(document).ready(function() {
                    $('#rawtable').DataTable({
                        "pageLength": 5,
                    });

                    // Add click event to each action row
                    $('#rawtable').on('click', '.selectable-row', function() {
                    const actionId = this.getAttribute('data-id');
                    sessionStorage.setItem('selectedActionId', actionId);
                    document.getElementById('actionId').value = actionId;
                    document.getElementById('actionForm').submit();
                    });



                    $('#actionBtn').on('click', function() {
                        const actionStatus = $('#selectStatus').val();
                        let confirmMessage = "Do you want to save the changes?";
                        let closeAction = 0; // Default to 0, indicating the action is not closed

                        // If the action status is 'Closed', modify the confirmation message
                        if (actionStatus === "Closed") {
                            confirmMessage = "Do you want to mark the action as Closed and create a new snapshot?";
                            closeAction = 1; // Set to 1 if the user wants to close the action
                        }

                        // Prompt the user for confirmation with the appropriate message
                        const isConfirmed = confirm(confirmMessage);
                        if (!isConfirmed) {
                            return; // Exit if the user does not confirm
                        }
                        const actionDueDate = $('#txtDueDate').val();
                        const actionTitle = $('#txtTitle').val();
                        const actionDescription = $('#txtDescription').val();
                        const selectedActionId = sessionStorage.getItem('selectedActionId');

                        // Get CSRF token
                        const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;

                        $.ajax({
                            url: '/OTRisk/update_ra_action/',  // Update this URL to your backend endpoint
                            type: 'PUT',
                            headers: {
                                "X-CSRFToken": csrftoken  // Include CSRF token in the request header
                            },
                            data: JSON.stringify({
                                'action_id': selectedActionId,
                                'actionDueDate': actionDueDate,
                                'actionStatus': actionStatus,
                                'actionTitle': actionTitle,
                                'actionDescription': actionDescription,
                                'closeAction': closeAction
                            }),
                            contentType: 'application/json',

                            success: function(response) {
                                if (response.success) {
                                    alert('Changes saved successfully!');
                            } else {
                                    alert('Error saving changes. Please try again.');
                                }
                            },
                            error: function() {
                                alert('Error saving changes. Please try again.');
                            }
                        });
                    });
                });

                document.getElementById("exportCsvBtn").addEventListener("click", function() {
                    exportToCsv();
                });

                function exportToCsv() {
                    // Get the record details
                    const record = {
                        title: document.getElementById("txtTitle").value,
                        description: document.getElementById("txtDescription").value,
                        effort: document.getElementById("txtEffort").value,
                        difficulty: document.getElementById("txtDifficulty").value,
                        cost: document.getElementById("txtCost").value,
                        outage_sis: document.getElementById("txt_outageSIS").value,
                        outage_ics: document.getElementById("txt_outageICS").value,
                        outage_ems: document.getElementById("txt_outageEMS").value,
                        outage_ps: document.getElementById("txt_outagePS").value,
                        outage_www: document.getElementById("txt_outageWWW").value,
                        outage_it: document.getElementById("txt_outageIT").value,
                        owner: document.getElementById("txtOwner").value,
                        // Add more fields as needed
                    };

                    const csvData = Object.keys(record).map(key => [key, record[key]]);
                    // Convert the CSV data to CSV format
                    const csv = csvData.map(row => row.map(cell => `"${cell}"`).join(",")).join("\n");
                    // Create a Blob with the CSV data
                    const blob = new Blob([csv], { type: "text/csv" });

                    // Create a download link and trigger the download
                    const a = document.createElement("a");
                    a.href = URL.createObjectURL(blob);
                    a.download = "record_details.csv";
                    document.body.appendChild(a);
                    a.click();
                    document.body.removeChild(a);
                }



            </script>
                <div class="col-md-1" ></div>

            </div>
             </div>
            </main>
    </div>
</div>
</body>
</html>