{% load static %}
<!DOCTYPE html>
<!--suppress ALL -->
<html>
<head>
    <title>AnzenOT - GRC for OT</title>
    <link rel="icon" href="{% static 'images/AnzenOTIconBlack.png' %}" type="image/x-icon">
 <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css">
    <!-- Bootstrap Select CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/css/bootstrap-select.min.css">
    <!-- Bootstrap Icons -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <!-- Bootstrap JS -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.bundle.min.js"></script>
     <!-- Bootstrap Select JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.1/js/bootstrap-select.min.js"></script>
    <script src="https://d3js.org/d3.v7.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

    <script>
        $('select').selectpicker();
    </script>
    {% load django_bootstrap5 %}
     {% bootstrap_css %}
     {% bootstrap_javascript %}

    <style>
        .custom-btn {
                width: 150px;  /* Adjust this value as needed */
                height: 50px;  /* Adjust this value as needed */
            }


        #headertable tbody tr:hover {
        background-color: #f5f5f5; /* Change this to the color you want */
        }

.navbar {
    background-color: #464748;
    border-bottom: 1px solid #000;
    height: 50px; /* Fixed height */
    position: relative;
}

.owl-logo {
    height: 60px; /* Set a fixed height for the image */
    width: auto; /* Maintain aspect ratio */
    position: relative;
    top: 50%; /* Center vertically in the navbar */
    transform: translateY(-30%); /* Adjust vertical position */
    margin-bottom: -20px; /* Negative margin to overlap */
}


.navbar-brand, .nav-link {
    color: #d3d1cd; /* White text for clear visibility on initial view */
}

.menu-item {
    border-right: 1px solid #4B6B6B; /* Subtle line between items */
    font-size: 14px; /* Adjust font size */
}

.menu-item:last-child {
    border-right: none; /* Remove border for the last item */
}

.menu-item:hover, .dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0; /* Light grey text on hover */
}

.nav-link:hover, .dropdown-item {
    color: #E0E0E0; /* Light grey text on hover */
}

.dropdown-menu {
    background-color: #464748; /* Dark Slate Grey */
    border: none;
}

.dropdown-item {
    color: #FFFFFF; /* White text for clear visibility */
}

.dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0;}

     .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }
        

    .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

        .spinner {
        border: 16px solid #f3f3f3;
        border-top: 16px solid #3498db;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        animation: spin 2s linear infinite;
        display: none; /* Initially hidden */
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }

    .selectable-row:hover {
    cursor: pointer;
    background-color: #f5f5f5;  /* Optional: to give a slight background change on hover */
}

    .table-wrapper {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Shadow effect */
    border: 1px solid #e0e0e0; /* Border around the card */
    border-radius: 5px; /* Rounded corners */
    padding: 20px; /* Some spacing inside the card */
    margin-bottom: 20px; /* Space below the card */
    background-color: #fff; /* White background */
}

#reportDetails {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    background-color: #f9f9f9;
}

#reportDetails h2 {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

#reportDetails .row {
    margin-bottom: 10px;
}

.scenario canvas {
    margin: 20px 0;
}
.row {
    display: flex;
    flex-wrap: wrap;
}

/* Ensure all cards have the same height */
.equal-height-card {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/* Make the card body grow to take available space */
 .equal-height-card .card-body{
    flex: 1;
}

 . equal-height-scenario {
    display: flex;
    flex-direction: column;
    height: 100%;
     flex: 1;
}

/* Make the card body grow to take available space */
 . equal-height-scenario .card-body{
    flex: 1;
}

 .double-border-shadow {
    border: 5px double #000; /* Adjust the pixel value and color as needed */
    padding: 10px; /* Provide some space between the content and the border */
    position: relative; /* Needed for the shadow effect to work properly */
}

.double-border-shadow::before {
    content: "";
    position: absolute;
    top: -5px; /* Adjust based on your preference */
    right: -5px;
    bottom: -5px;
    left: -5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Adjust the shadow effect as needed */
    border: 1px solid rgba(0, 0, 0, 0.2); /* Optional: Adds a subtle border inside the shadow */
}

.dark-grey-border-shadow {
    border: 5px solid #b4b4b4; /* Dark grey color */
    padding: 5px;
    position: relative;
}

.dark-grey-border-shadow::before {
    content: "";
    position: absolute;
    top: -5px;
    right: -5px;
    bottom: -5px;
    left: -5px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}
.nav-sidebar .nav-link img {
    width: 1.25em; /* Scales with the font size */
    height: 1.25em; /* Scales with the font size */
}
/* Larger icons for tablets */
@media (min-width: 768px) {
    .nav-sidebar .nav-link img {
    width: 1.5em;
    height: 1.5em;
    }
}
/* Even larger icons for desktops */
@media (min-width: 992px) {
    .nav-sidebar .nav-link img {
    width: 1.75em;
    height: 1.75em;
    }
}

    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom rounded">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}">
            &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="{% static 'images/anzen_owl.png' %}" class="owl-logo" style="width: 18%; height: 18%">
        </a>
        <h6 class="my-auto text-center flex-grow-1 navbar-brand"><img src="{% static 'images/anzen_noowl.png' %}" style="width: 15%; height: 15%"> Dashboard</h6>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-calculator"></i> QRAW</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:scenario_sim' %}"><i class="bi bi-bricks"></i> Scenario Builder</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:ra_actions_view_default' %}"><i class="bi-file-earmark-easel"></i> Actions</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:risk_register' %}"><i class="bi-file-earmark-easel"></i> Risk Register</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:list_frameworks' %}"><i class="bi-file-earmark-easel"></i> Assessments</a>
                </li>
    <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                <i class="bi bi-diagram-3"></i> Admin
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">

                    <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:setup_org' %}">Set Defaults</a></li>
              <li>
                                    <a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:cybersecurity_defaults_view' %}">Cyber Insurance</a>

                                </li>

                  {% if user.is_staff %}
                    <!-- Links visible only to superusers -->
                       <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
              <li><a  class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:upload_questionnaire' %}">Upload Questionnaires</a></li>
                    <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
                      <li><a class="dropdown-item"  style="font-size: 12px;" href="{% url 'OTRisk:organization_form' %}">Manage Organizations</a></li>

                      <li><a class="dropdown-item" style="font-size: 12px;" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
                    {% endif %}

              </ul>

        </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'accounts:profile' %}">
    <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
    </a>
    </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'logout' %}">
    <i class="bi bi-box-arrow-right"></i> Logout
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>

<div class="row">
    <div class="col-md-1 bg-black"> </div>
    <div class="col-md-10 bg-black">
    <div id="headertableWrapper" class="table-wrapper">
        <table id="headertable" class="table table-striped table-bordered small-font">
        <thead>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Site</th>
                <th>Type</th>
                <th>Unit</th>
                <th>Zone</th>
                <th>Leader</th>
                <th>Date</th>
                <!-- Add more <th> elements for each field in the RAWorksheet model -->
            </tr>
        </thead>
        <tbody>
            {% for pha_reports in pha_reports %}
                <tr data-id="{{ pha_reports.ID }}" class="selectable-row">
                    <td>{{ pha_reports.ID }}</td>
                    <td>{{ pha_reports.title }}</td>
                    <td>{{ pha_reports.FacilityName }}</td>
                    <td>{{ pha_reports.FacilityType }}</td>
                    <td>{{ pha_reports.AssessmentUnit }}</td>
                    <td>{{ pha_reports.AssessmentZone }}</td>
                    <td>{{ pha_reports.PHALeader }}</td>
                    <td>{{ pha_reports.AssessmentStartDate|date:"m/d/Y" }}</td>
                    <!-- Add more <td> elements for each field in the RAWorksheet model -->
                </tr>
            {% endfor %}
        </tbody>
        </table>
    </div>
    </div> <!-- table view of existing risk assessments -->
    <div class="col-md-1 bg-black"></div>
</div>
<div class="row" id="phareports" hidden="hidden">
    <div class="col-md-1 bg-black"></div>
            <div id="reportSection" class="col-md-10 table-wrapper small-font double-border-shadow" >
                <div id="reportDetails">
                    <h2>Report: <span id="reportTitle"></span></h2>
                    <div class="row">

                        <div class="col-md-3">
                            <strong>Facility:</strong> <span id="FacilityName"></span>
                        </div>
                        <div class="col-md-3">
                            <strong>Facility Type:</strong> <span id="FacilityType"></span>
                        </div>
                        <div class="col-md-3">
                            <strong>Unit:</strong> <span id="AssessmentUnit"></span>
                        </div>
                        <div class="col-md-3">

                        </div>
                    </div>
                    <div class="row">
                         <div class="col-md-1"> </div>

                        <div class="col-md-5">
                             <div class="card">
                                <div class="card-header">
                                    </div>
                                    <div class="card-body">
                                        <canvas id="impactChart"></canvas>
                                    </div>

                                </div>
                            </div>
                                                <div class="col-md-2">
                             <div class="card">
                                <div class="card-header">
                                        Assessed Effectiveness of ICS Controls
                                    </div>
                                    <div class="card-body">
                                        <h3><span id="control_effectiveness"></span>%</h3>
                                        <p class="card-text">Controls from the Mitre ICS framework</p>
                                    </div>
                                </div><br>
                                <div class="card">
                                    <div class="card-header">
                                        Overall Probability of Compromise
                                    </div>
                                    <div class="card-body">
                                        <h3><span id="overall_probability"></span>%</h3>
                                        <p class="card-text">Probability that at least one of the given scenarios is successful</p>
                                    </div>
                                </div>
                                <br>
                                <div class="card">
                                <div class="card-header">
                                        Top 5 Controls
                                    </div>
                                    <div class="card-body">
                                        <ul id="top5ControlsList"></ul>
                                        <p class="card-text"></p>
                                    </div>
                                </div>

                        </div>
                        <div class="col-md-3">
                            <div class="card-body">
                                <canvas id="costImpactChart"></canvas>
                            </div>

                        </div>

                        <div class="col-md-1"> </div>

                    </div>
                    <div class="row">
                        <div class="col-md-3">
                            <div class="card equal-height-card">
                                <div class="card-header">
                                        Facility Safety Summary
                                    </div>
                                    <div class="card-body ">
                                        <span id="safetySummary"></span>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                            </div>
                        <div class="col-md-3">
                            <div class="card equal-height-card">
                                <div class="card-header">
                                        Facility Chemicals Summary
                                    </div>
                                    <div class="card-body">
                                        <span id="chemicalSummary"></span>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card equal-height-card">
                                <div class="card-header">
                                        Facility Physical Security Summary
                                    </div>
                                    <div class="card-body">
                                       <span id="physicalSummary"></span>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card equal-height-card">
                                <div class="card-header">
                                        Facility OT Systems
                                    </div>
                                    <div class="card-body">
                                        <span id="otherSummary"></span>
                                        <p class="card-text"></p>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div id="scenariosContainer"></div>

                </div>
            </div>
    <div class="col-md-1 bg-black"></div>
</div>

<script>

    function displayReportData(data) {
        document.getElementById('phareports').removeAttribute('hidden');
        // Populate the report details
        $('#reportTitle').text(data.cyberPHAHeader.title);
        $('#reportDate').text(data.cyberPHAHeader.AssessmentStartDate);
        $('#FacilityName').text(data.cyberPHAHeader.FacilityName);
        $('#FacilityType').text(data.cyberPHAHeader.FacilityType);
        $('#AssessmentUnit').text(data.cyberPHAHeader.AssessmentUnit);
        $('#control_effectiveness').text(data.control_effectiveness);
        $('#overall_probability').text(data.overall_probability);
        let formattedValue = parseFloat(data.total_cost_impact).toLocaleString('en-US', {
            style: 'currency',
            currency: 'USD',
            minimumFractionDigits: 0,  // No cents
            maximumFractionDigits: 0   // No cents
        });

        $('#cost_impact').text(formattedValue);
         const top5ControlsList = $('#top5ControlsList');
            top5ControlsList.empty();  // Clear any previous data

            data.top_5_controls.forEach(control => {
                const controlDetails = `
                    <li>
                        ${control.control__name}: ${control.effectiveness_percentage}%<br>
                    </li>
                `;
                top5ControlsList.append(controlDetails);
            });

        let formattedText = data.cyberPHAHeader.safetySummary.replace(/\n/g, '<br>');
        $('#safetySummary').html(formattedText);

        formattedText = data.cyberPHAHeader.chemicalSummary.replace(/\n/g, '<br>');
        $('#chemicalSummary').html(formattedText);

        formattedText = data.cyberPHAHeader.physicalSummary.replace(/\n/g, '<br>');
        $('#physicalSummary').html(formattedText);

        formattedText = data.cyberPHAHeader.otherSummary.replace(/\n/g, '<br>');
        $('#otherSummary').html(formattedText);


        $('#scenariosContainer').empty();
        // Loop through each scenario and append to the container
        $.each(data.scenarios, function (index, scenario) {
            var scenarioHtml = `
            <div class="scenario">

                <h3>Scenario ${index + 1}</h3>
                <div class="row">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-5" style="display: flex; flex: 1;">
                                <div class="card equal-height-scenario" style="width: 100%">
                                    <div class="card-header ">
                                        Scenario:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><b>${ scenario.Scenario }</b></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5" style="display: flex; flex: 1;">
                                <div class="card equal-height-scenario">
                                    <div class="card-header">
                                        Consequences:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.Consequence }</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2" style="display: flex">
                                <div class="card equal-height-scenario">
                                    <div class="card-header">
                                        Overall Risk Status:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text"><h3>${ scenario.RRa }</h3></p>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <canvas id="lineChart${index}" ></canvas>
                            </div>
                            <div class="col-md-3">
                                <br><br>
                                <div class="card">
                                    <div class="card-header">
                                        Single Loss Event (SLE) - Likely Case:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ Number(scenario.sle).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 0 }) }</p>

                                    </div>
                                </div>
                                 <div class="card">
                                    <div class="card-header">
                                        Single Loss Event (SLE) - Best case:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ Number(scenario.sle_low).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 0 }) }</p>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        Single Loss Event (SLE) - Worst case:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ Number(scenario.sle_high).toLocaleString('en-US', { style: 'currency', currency: 'USD', minimumFractionDigits: 0, maximumFractionDigits: 0 }) }</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-3">
                                <br><br>
                                <div class="card">
                                    <div class="card-header">
                                        Production Outage:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.outage }</p>

                                    </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">
                                        SIS Outage:
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.sis_outage ? 'Yes' : 'No' }</p>

                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Safety Impact: ${ scenario.impactSafety }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifySafety || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Danger-to-life Impact: ${ scenario.impactLife }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyLife || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Environment Impact: ${ scenario.impactEnvironment }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyEnvironment || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Production Impact: ${ scenario.impactProduction }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyProduction || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Financial Impact: ${ scenario.impactFinance }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyFinancial || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Reputation Impact: ${ scenario.impactReputation }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyReputation || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Supply Chain Impact: ${ scenario.impactSupply }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifySupply || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="card">
                                    <div class="card-header">
                                        Data Impact: ${ scenario.impactData }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyData || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                             <div class="col-md-4">
                                    <div class="card">
                                    <div class="card-header">
                                        Regulatory Impact: ${ scenario.impactRegulation }/10
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${ scenario.justifyRegulation || 'No information entered' }</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6" style="display: flex; flex: 1;">
                                <div class="card equal-height-scenario">
                                    <div class="card-header">
                                        Alignment with ${ scenario.standards }
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${
                                            scenario.recommendations && typeof scenario.recommendations === 'string'
                                                ? scenario.recommendations.replace(/\n/g, '<br>')
                                                : ''
                                        }</p>
                                    </div>
                                </div> <!-- Missing closing div tag for the card -->
                            </div>
                            <div class="col-md-6" style="display: flex; flex: 1;">
                                <div class="card equal-height-scenario">
                                    <div class="card-header">
                                        Recommended Controls
                                    </div>
                                    <div class="card-body">
                                        <p class="card-text">${
                                            scenario.control_recommendations && typeof scenario.control_recommendations === 'string'
                                                ? scenario.control_recommendations.replace(/\n/g, '<br>')
                                                : ''
                                        }</p>
                                    </div>
                                </div> <!-- Missing closing div tag for the card -->
                            </div>
                        </div> <!-- Closing div tag for the row -->
                    </div>

                    <div class="col-md-5">
                        <div class="card">
                            <div class="card-header">
                                Scenario Chart
                            </div>
                            <div class="card-body">
                                <canvas id="scenarioChart${index}" width="150" height="150"></canvas>
                            </div>
                        </div>
                    </div>


                <!-- ... -->
            </div>
        `;

            $('#scenariosContainer').append(scenarioHtml);

            // Generate radar chart for the scenario
            var ctx = document.getElementById(`scenarioChart${index}`).getContext('2d');
            var chart = new Chart(ctx, {
                type: 'radar',
                data: {
                    labels: ['Safety', 'Danger', 'Supply Chain', 'Operations', 'Finance', 'Reputation', 'Environment', 'Regulation', 'Data'],
                    datasets: [{
                        label: 'Scenario Scores',
                        data: [
                            scenario.impactSafety,
                            scenario.impactDanger,
                            scenario.impactSupply,
                            scenario.impactProduction,
                            scenario.impactFinance,
                            scenario.impactReputation,
                            scenario.impactEnvironment,
                            scenario.impactRegulation,
                            scenario.impactData
                        ],
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }]
                },
                options: {
                    scale: {
                        ticks: {
                            beginAtZero: true,
                            max: 10 // Assuming scores are out of 100, adjust if needed
                        }
                    }
                }
            });

            //start of code for UEL, RRu, Sm, MEL, RRm, SA, MELA
            // Generate line chart for the scenario
            const lineChartData = {
                labels: ['UEL', 'RRu', 'Sm', 'MEL', 'RRm', 'SA', 'MELA'],
                datasets: [{
                    label: '',  // Comment out or remove this line
                    data: [
                        scenario.UEL,
                        scenario.RRU,
                        scenario.SM,
                        scenario.MEL,
                        scenario.RRM,
                        scenario.SA,
                        scenario.MELA
                    ],
                    borderColor: 'rgba(75, 192, 192, 1)', // Line color
                    backgroundColor: 'rgba(75, 192, 192, 0.2)', // Fill color
                    borderWidth: 2, // Line width
                }],
            };

            // Chart configuration
            const lineChartConfig = {
                type: 'line',
                data: lineChartData,
                options: {
                    scales: {
                        y: {
                            beginAtZero: true,
                        },
                    },
                    plugins: {
                        legend: {
                            display: false,
                        }
                    }

                }
            };

            // Create the line chart for the scenario
            const lineChartCanvas = document.getElementById(`lineChart${index}`);
            new Chart(lineChartCanvas, lineChartConfig);
                        //end of new code

        });
    }


$(document).ready(function() {
$('#headertable tbody tr').on('click', function() {
    var pha_id = $(this).attr('data-ID');

    $.ajax({
        url: '/OTRisk/pha_report/' + pha_id, // Replace with the actual path to your rawreport function
        type: 'GET',
        dataType: 'json',
        success: function(data) {
            // Handle the returned data and display it underneath the rawtable
            displayReportData(data);
            displayBarChart(data);
            displayCostImpactChart(data)
        },
        error: function(error) {
            console.error("Error fetching report data:", error);
        }
    });
});
});

$(document).ready(function(){

    $('#headertable').dataTable({
        "pageLength": 5,
        "lengthChange": false
    });

});
var myChart;

function displayBarChart(data) {

    var ctx = document.getElementById('impactChart').getContext('2d');

    if (myChart) {
        myChart.destroy();
    }

    myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Safety', 'Danger', 'Supply Chain', 'Environment', 'Production', 'Finance', 'Data', 'Reputation', 'Regulation'],
            datasets: [{
                label: 'Impact Average',
                data: [
                    data.average_impact_safety,
                    data.average_impact_danger,
                    data.average_impact_supply,
                    data.average_impact_environment,
                    data.average_impact_production,
                    data.average_impact_finance,
                    data.average_impact_data,
                    data.average_impact_reputation,
                    data.average_impact_regulation
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)',
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)',
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true,
                    min: 0,  // Set minimum value for y-axis
                    max: 10  // Set maximum value for y-axis
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: 'Business Impact Analysis (n/10)'
                }
            }
        }
    });
}

var costImpactChart;

function displayCostImpactChart(data) {
    var ctx = document.getElementById('costImpactChart').getContext('2d');

    if (costImpactChart) {
        costImpactChart.destroy();
    }

    costImpactChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: ['Total Cost Impact (Low)', 'Total Cost Impact (Median)', 'Total Cost Impact (High)'],
            datasets: [{
                label: 'Cost Impact',
                data: [
                    data.total_cost_impact_low,
                    data.total_cost_impact,
                    data.total_cost_impact_high
                ],
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            indexAxis: 'y',
            elements: {
              bar: {
                  borderWidth: 2,
              }
            },
            scales: {
                y: {
                    beginAtZero: true
                }
            },
            plugins: {
                legend: {
                    display: false
                },
                title: {
                    display: true,
                    text: '$ Total Impact Costs (Low, Medium, High)'
                }
            }
        }
    });
}

function getStatusCode(uelValue) {
    if (uelValue < 2) {
        return "Very Low";
    } else if (uelValue === 2 || uelValue === 3) {
        return "Low";
    } else if (uelValue === 4) {
        return "Low/Medium";
    } else if (uelValue === 5 || uelValue === 6) {
        return "Medium";
    } else if (uelValue === 7) {
        return "Medium/High";
    } else if (uelValue === 8 || uelValue === 9) {
        return "High";
    } else if (uelValue === 10) {
        return "Very High";
    } else {
        return "Unknown"; // Handle any unexpected values
    }
}

</script>
    <div class="col-md-1 bg-black"></div>
</div>
</body>
</html>