{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>AnzenOT</title>

<link rel="icon" href="{% static 'images/iota - white 1.png' %}" type="image/x-icon">
<!-- FontAwesome CDN -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
<!-- Bootstrap CSS -->
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<!-- jQuery (Full version, required for Bootstrap and jQuery UI) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- jQuery UI -->
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

<!-- Popper.js (Required for Bootstrap) -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>

<!-- Bootstrap JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.3/js/jquery.dataTables.js"></script>

<!-- Select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

<!-- SweetAlert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<!-- D3.js -->
<script src="https://d3js.org/d3.v6.min.js"></script>

<!-- AnyChart -->
<script src="https://cdn.anychart.com/releases/8.10.0/js/anychart-bundle.min.js"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-circular-gauge.min.js" type="text/javascript"></script>
<script src="https://cdn.anychart.com/releases/8.11.1/js/anychart-linear-gauge.min.js"></script>

<!-- Custom JS -->
<script src="{% static 'OTRisk/assesscyberpha.js' %}"></script>

<!-- Bootstrap Icons -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css" rel="stylesheet">

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

<style>
    #checklistContainer {
    color: white; /* White text color */
}

/* Style for the text next to checkboxes */
#checklistContainer div {
    font-size: 0.8em; /* Smaller font size */
}
    .custom-checkbox {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 1em;
    height: 1em;
    border: 1px solid #000; /* Black border */
    border-radius: 0.15em;
    outline: none;
    cursor: pointer;
    position: relative;
}

.custom-checkbox:checked {
    background-color: #000; /* Black background when checked */
}

.custom-checkbox:checked:after {
    content: '';
    position: absolute;
    top: 0.15em;
    left: 0.45em;
    width: 0.2em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
}
/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.navbar {
    background-color: #464748;
    border-bottom: 1px solid #000;
    height: 50px; /* Fixed height */
    position: relative;
}

.owl-logo {
    height: 60px; /* Set a fixed height for the image */
    width: auto; /* Maintain aspect ratio */
    position: relative;
    top: 50%; /* Center vertically in the navbar */
    transform: translateY(-30%); /* Adjust vertical position */
    margin-bottom: -20px; /* Negative margin to overlap */
}


.navbar-brand, .nav-link {
    color: #d3d1cd; /* White text for clear visibility on initial view */
}

.menu-item {
    border-right: 1px solid #4B6B6B; /* Subtle line between items */
    font-size: 14px; /* Adjust font size */
}

.menu-item:last-child {
    border-right: none; /* Remove border for the last item */
}

.menu-item:hover, .dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0; /* Light grey text on hover */
}

.nav-link:hover, .dropdown-item {
    color: #E0E0E0; /* Light grey text on hover */
}

.dropdown-menu {
    background-color: #464748; /* Dark Slate Grey */
    border: none;
}

.dropdown-item {
    color: #FFFFFF; /* White text for clear visibility */
}

.dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0;}

.form-group {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #5E6266; /* Lighter shade of #464748 */
    padding: 15px; /* Optional: for internal spacing */
}
.form-sim .form-control {
    max-width: 100%; /* Ensures select does not exceed container width */
    width: auto; /* Optional: Ensures select width is based on content up to max-width */
}
.group-container {
    background: linear-gradient(to bottom right, #464748, #57595b); /* Gradient background */
    border: 1px solid #666; /* Darker border */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Box shadow */
    padding: 25px;
    margin-bottom: 30px; /* Increased space between containers */
    border-radius: 10px; /* Rounded corners */
}

.group-header {
    color: #d3d1cd; /* Lighter color for contrast */
    font-weight: bold;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #777; /* Subtle bottom border */
    font-size: 1.2em; /* Larger font size */
}

.group-body {
    color: #e0e0e0; /* Slightly lighter text color */
    font-family: 'Arial', sans-serif; /* Modern font */
}
.cube-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 10px;
}
#scenarioSelectionModal .modal-body .list-group {
    max-height: 400px; /* Adjust this value based on your needs */
    overflow-y: auto; /* Enables vertical scrolling */
}

</style>
</head>
<body style="background-color: #464748">
<script>

anychart.licenseKey("{{ anychart_key }}");



fetch('https://restcountries.com/v3.1/all')
    .then(response => response.json())
    .then(data => {
        // Sort the countries alphabetically
        data.sort((a, b) => a.name.common.localeCompare(b.name.common));

        // Add a blank option as the default
        $('#countrySelector').append(new Option('', ''));

        // Populate the dropdown
        data.forEach(country => {
            const countryName = country.name.common;
            $('#countrySelector').append(new Option(countryName, countryName));
        });
    })
    .then(() => {
        $('#countrySelector').select2({
            placeholder: "Select a country", // This will display the placeholder text
            allowClear: true // This allows users to clear the selected value
        });
    })
    .catch(error => {
        console.error("There was an error fetching the country list:", error);
    });
</script>
<nav class="navbar navbar-expand-lg navbar-scroll shadow-0 border-bottom rounded">
    <div class="container-fluid d-flex justify-content-between">
        <a class="navbar-brand" href="{% url 'OTRisk:dashboardhome' %}">
            &nbsp; &nbsp; &nbsp; &nbsp;
            <img src="{% static 'images/anzen_owl.png' %}" class="owl-logo" style="width: 18%; height: 18%">
        </a>
        <h6 class="my-auto text-center flex-grow-1 navbar-brand"><img src="{% static 'images/anzen_noowl.png' %}" style="width: 15%; height: 15%" alt=""> Scenario Builder</h6>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:qraw' %}"><i class="bi bi-calculator"></i> QRAW</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:iotaphamanager' %}"><i class="bi bi-journal-text"></i> CyberPHA</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:scenario_sim' %}"><i class="bi bi-bricks"></i> Scenario Builder</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:ra_actions_view_default' %}"><i class="bi-file-earmark-easel"></i> Actions</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:risk_register' %}"><i class="bi-file-earmark-easel"></i> Risk Register</a>
                </li>
                <li class="nav-item menu-item">
                    <a class="nav-link" href="{% url 'OTRisk:list_frameworks' %}"><i class="bi-file-earmark-easel"></i> Assessments</a>
                </li>
    <li class="nav-item dropdown menu-item">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-diagram-3"></i> Admin
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
    <li><a class="dropdown-item" href="{% url 'OTRisk:admin_users' %}">Admin Users</a></li>
    {% if user.is_staff %}
    <li><a class="dropdown-item" href="{% url 'OTRisk:user_admin' %}">User Administration</a></li>
    <li><a class="dropdown-item" href="{% url 'OTRisk:execute_sql' %}">Execute SQL</a></li>
    {% endif %}
    </ul>
    </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'accounts:profile' %}">
    <i class="bi bi-person-fill"></i> {{ user.first_name }} {{ user.last_name }} | {{ user.userprofile.organization.name }}
    </a>
    </li>
    <li class="nav-item menu-item">
    <a class="nav-link" href="{% url 'logout' %}">
    <i class="bi bi-box-arrow-right"></i> Logout
    </a>
    </li>
    </ul>
    </div>
    </div>
    </nav>

<br>

<div class="row">
    <div class="col-md-1">

</div>

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-10">
                <div class="form-group form-sim" >
                    <div class="card mb-2 shadow-sm">
                        <div class="card-body">
                            <button type="button" class="btn btn-primary" onclick="fetchAndDisplayScenarios()">Load Scenario</button>
                        </div>
                    </div>
                </div>
                <div class="form-group form-sim" >
                    <div class="card mb-2 shadow-sm">
                        <div class="card-body">
                            <label for="selIndustry"><img src="{% static 'images/icon_industry.png' %}" alt="" class="align-bottom" style="max-height: 1.5rem; margin-left: 5px;"> Industry</label>
                            <select class="form-control" name="selIndustry" id="selIndustry" >
                                <option value=""> -- Select Industry -- </option>
                                {% for industry in industries %}
                                <option value="{{ industry.Industry }}"
                                        {% if current_pha_header.Industry == industry.Industry %}selected{% endif %}>
                                    {{ industry.Industry }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card mb-2 shadow-sm">
                        <div class="card-body">
                            <label for="selFacilityType"><img src="{% static 'images/function.png' %}" alt="" class="align-bottom" style="max-height: 1.5rem; margin-left: 5px;"> Facility Type</label>
                            <select class="form-control" name="selFacilityType" id="selFacilityType">
                                <option value=""> -- Select Facility Type -- </option>
                                {% for facilities in facilities %}
                                    <option value="{{ facilities.FacilityType }}"
                                    {% if current_pha_header.FacilityType == facilities.FacilityType %}selected{% endif %}>
                                    {{  facilities.FacilityType }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="card mb-2 shadow-sm">
                        <div class="card-body">
                            <label for="countrySelector"><img src="{% static 'images/icon_world.png' %}" alt="" class="align-bottom" style="max-height: 1.5rem; margin-left: 5px;"> Country</label>
                            <select class="form-control" id="countrySelector" name="countrySelector" ></select>
                        </div>
                    </div>
                    <div class="card mb-2 shadow-sm">
                        <div class="card-body">
                            <label for="selOrganizationSize"><img src="{% static 'images/icon_group.png' %}" alt="" class="align-bottom" style="max-height: 1.5rem; margin-left: 5px;"> Organization Size</label>
                            <select class="form-control" id="selOrganizationSize" name="selOrganizationSize">
                                <option value=""> -- Select Organization Size -- </option>
                                <option value="Small, 50-200 employees">Small, 50-200 employees</option>
                                <option value="Medium-sized, 200-1000 employees">Medium-sized, 200-1000 employees</option>
                                <option value="Large, over 1000 employees">Large, over 1000 employees</option>
                                <option value="Multinational corporation">Multinational corporation</option>
                            </select>
                        </div>
                    </div>
                    <div class="card mb-2 shadow-sm">
                            <div class="card-body">
                                <label for="selRegulatoryEnvironment"><img src="{% static 'images/icon_regulation.png' %}" alt="" class="align-bottom" style="max-height: 1.5rem; margin-left: 5px;"> Regulatory Environment</label>
                                <select class="form-control" id="selRegulatoryEnvironment" name="selRegulatoryEnvironment">
                                    <option value=""> -- Select Regulatory Environment -- </option>
                                    <option value="Strict Regulation">Strict Regulation</option>
                                    <option value="Moderate Regulation">Moderate Regulation</option>
                                    <option value="Minimal Regulation">Minimal Regulation</option>
                                    <option value="International Standards Compliance">International Standards Compliance</option>
                                    <option value="Self-Regulated">Self-Regulated</option>
                                </select>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="form-group" >
            <br>
            <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <label for="txtScenario" class="d-flex align-items-center clickable-label" data-bs-toggle="modal" data-bs-target="#scenarioBuilderModal" data-modal-id="scenarioBuilderModal" ><img src="{% static 'images/scenario.png' %}" alt="" class="align-bottom" style="max-height: 2rem; margin-left: 5px;"> &nbsp;Scenario Builder</label>

                        <textarea id="txtScenario" class='form-control' rows=11 placeholder='Enter a detailed cybersecurity scenario or click the link above to use the scenario builder...' style="resize: none; border: 3px #97979A; border-radius: 10px; box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5); padding: 20px; background-color: white"></textarea>

                        <div id="suggestions"></div>
                    <script>

                // Ensure DOM is fully loaded before executing the script
                document.addEventListener('DOMContentLoaded', function() {
                var txtScenarioElement = document.getElementById('id_txtScenario');
                if (txtScenarioElement) {
                    txtScenarioElement.addEventListener('input', function() {
                        provideSuggestions(this.value);
                    });
                }

                function provideSuggestions(inputText) {
                    var lowerCaseInputText = inputText.toLowerCase(); // Convert input text to lower case
                    var suggestionsDiv = document.getElementById('suggestions');
                    suggestionsDiv.innerHTML = ""; // Clear current suggestions

                    // Function to add suggestion messages
                    function addSuggestion(message) {
                        suggestionsDiv.innerHTML += "<p>" + message + "</p>";
                    }

                    // Check for various keywords and add suggestions
                    if (lowerCaseInputText.includes("malware")) {
                        addSuggestion("Consider describing the type of malware and its impact on the device.");
                    }
                    if (lowerCaseInputText.includes("plc")) {
                        addSuggestion("Include the vendor and name of the PLC if known.");
                    }
                    if (lowerCaseInputText.includes("erp")) {
                        addSuggestion("Include the name and version of the ERP system.");
                    }
                    if (lowerCaseInputText.includes("scada")) {
                        addSuggestion("Include the name and version of the SCADA system if known.");
                    }
                    if (lowerCaseInputText.includes("temperature")) {
                        addSuggestion("Include relevant temperature ranges or tolerances.");
                    }
                    if (lowerCaseInputText.includes("pressure")) {
                        addSuggestion("Include relevant pressure tolerances and ranges.");
                    }
                    if (lowerCaseInputText.includes("software")) {
                        addSuggestion("Include name and version of software if known.");
                    }
                    if (lowerCaseInputText.includes("windows")) {
                        addSuggestion("Include the version of Windows.");
                    }
                    if (lowerCaseInputText.includes("unix")) {
                        addSuggestion("Include the version of Unix.");
                    }
                    if (lowerCaseInputText.includes("sensor")) {
                        addSuggestion("Include the type of sensor and the parameters that it monitors.");
                    }
                    if (lowerCaseInputText.includes("protocol")) {
                        addSuggestion("Include information aboput the protocol used and the endpoints that are connected.");
                    }
                }


                });

    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-1 " >
        <br><br><br><br><br><br><br>
        <div class="form-group">
            <button id="analyzeScenarioBtn" class="btn btn-primary mb-2" type="button">Build Scenario >></button>
            <div id="spinnerContainer" style="display: none;">
                <div class="spinner-border" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="form-group" >
            <br>
            <div class="card mb-2 shadow-sm">
                <div class="card-body">
                    <label for="txtConsequences" class="d-flex align-items-center clickable-label"  ><img src="{% static 'images/scenario.png' %}" alt="" class="align-bottom" style="max-height: 2rem; margin-left: 5px;"> &nbsp;Consequences</label>
                    <textarea id="txtConsequences" class='form-control' rows=11 placeholder='' style="resize: none; border: 3px #97979A; border-radius: 10px; box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5); padding: 20px; background-color: white"></textarea>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-1">
        <br><br>
    <div id="checklistContainer">
        <div>
            <input type="checkbox" id="analyzeConsequencesCheckbox" class="custom-checkbox" disabled> Analyze Consequences
        </div>
        <div>
            <input type="checkbox" id="generateAttackTreeCheckbox" class="custom-checkbox" disabled> Generate Attack Tree
        </div>
        <div>
            <input type="checkbox" id="analyzeScenarioCheckbox" class="custom-checkbox" disabled> Analyze Scenario
        </div>


    </div>
</div>


</div>



<script>
    $(document).ready(function() {
        // Initialize Select2 for all dropdowns
        $('#selIndustry').select2();
        // $('#selAssetValue').select2();
        $('#selFacilityType').select2();
        $('#selOrganizationSize').select2();
        // $('#selOperationalImpact').select2();
        // $('#selSecurityMeasures').select2();
        $('#selRegulatoryEnvironment').select2();
        // Add more initialization if needed
    });
</script>

<br>

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="form-group">
        <div class="row">
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                    <div class="card-body">
                    <label for="txtBestCase">Best Case $</label>
                    <input type="text" id="txtBestCase" class="form-control" style="border: 3px #97979A; border-radius: 10px; box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5); padding: 20px; ">
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <label for="txtMostLikelyCase">Most Likely Case $$</label>
                    <input type="text" id="txtMostLikelyCase" class="form-control" style="border: 3px #97979A; border-radius: 10px; box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5); padding: 20px; ">
                </div>
            </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-3 shadow-sm">
                <div class="card-body">
                    <label for="txtWorstCase">Worst Case $$$</label>
                    <input type="text" id="txtWorstCase" class="form-control" style="border: 3px #97979A; border-radius: 10px; box-shadow: inset 3px 3px 8px rgba(0, 0, 0, 0.5); padding: 20px; ">
                </div>
            </div>
            </div>
        </div>
            </div>
    </div>
    <div class="col-md-4"></div>
</div>
<div class="row">
    <div class="col-md-1"></div>
        <div class="col">
            <div class="group-container">
                <div class="group-header">
                     Twelve-Month Projection
                </div>
                <div class="group-body">
                    <div id="monthly_cost_chart" style="height:300px"></div>
                    <input type="hidden" id="scenario_12month_costs" name="scenario_12month_costs">
                </div>
            </div>
        </div>
    <div class="col-md-1"></div>
</div>
 <div class="row">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div class="form-group">
        <span id="bia_groups"></span>
            </div>
    </div>
    <div class="col-md-1"></div>
</div>


<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="form-group">
        <div id="attack_tree" style="width:100%"></div>
            <div>
    </div>
    <div class="col-md-1"></div>
</div>
  <div class="row">
      <div class="col-md-1"></div>
         <div class="col-md-10 d-flex justify-content-center align-items-center flex-column">
                    <button id="saveScenarioBtn" class="btn btn-primary">Save Scenario</button>
    <script>
        document.getElementById('saveScenarioBtn').addEventListener('click', function() {
        var scenarioName = prompt("Please enter a name for this scenario:");
        if (scenarioName) {
            saveScenario(scenarioName);
        }
    });

    </script>
         </div>
      <div class="col-md-1"></div>
  </div>
<input type="hidden" id="hdnAT" name="hdnAT">

<div class="row" style="visibility: hidden">
    <div class="col-md-1"></div>

    <div class="col-md-10">
        <div class="form-group">
        <span id="table_scenario"></span>
            </div>
    </div>
    <div class="col-md-1"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="scenarioBuilderModal" tabindex="-1" role="dialog" aria-labelledby="scenarioBuilderModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scenarioBuilderModalLabel">OT Cybersecurity Scenario Builder</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>

      </div>
      <div class="modal-body">
        <form id="scenarioForm">
          <div class="form-group">
            <label for="selThreats" style="color: white">Attacker/Bad Actor:</label>
            <select class="form-control" name="selThreats" id="selThreats" >
                <option value=""> -- Select Attacker -- </option>
                {% for threats in threats %}
                <option value="{{ threats.ThreatSource }}">

                    {{ threats.ThreatSource }}
                </option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="selVectors" style="color: white">Attack Vector:</label>
            <select class="form-control" name="selVectors" id="selVectors" >
                <option value=""> -- Select Attack Vector -- </option>
                {% for attack_vectors in attack_vectors %}
                <option value="{{ attack_vectors.ThreatAction }}">

                    {{ attack_vectors.ThreatAction }}
                </option>
                {% endfor %}
            </select>
          </div>
          <div class="form-group">
            <label for="targetComponent" style="color: white">Target Component/Device:</label>
            <input type="text" class="form-control" id="targetComponent" name="targetComponent" >
          </div>
          <div class="form-group">
            <label for="attackEffect">Effect of Attack:</label>
            <input type="text" class="form-control" id="attackEffect" name="attackEffect">
          </div>
          <div class="form-group">
            <label for="targetSystem">Target System/Network:</label>
            <input type="text" class="form-control" id="targetSystem" name="targetSystem">
          </div>
          <div class="form-group">
            <label for="impact">Potential Impact:</label>
            <input type="text" class="form-control" id="impact" name="impact">
          </div>
          <div class="form-group">
            <label for="motivation">Attack Motivation:</label>
            <input type="text" class="form-control" id="motivation" name="motivation">
          </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          <div id="spinner" class="spinner-border" role="status" style="display: none;">
        <span class="sr-only">Loading...</span>
        </div>
        <button type="button" class="btn btn-primary" id="submitScenario">Submit</button>

      </div>
    </div>
  </div>
</div>

<!-- Scenario Selection Modal -->
<div class="modal fade" id="scenarioSelectionModal" tabindex="-1" role="dialog" aria-labelledby="scenarioSelectionModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="scenarioSelectionModalLabel">Select Scenario</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search scenario..." aria-label="Search scenario">
          <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button"><i class="bi bi-search"></i></button>
          </div>
        </div>
        <ul id="scenarioList" class="list-group">
          <!-- Dynamically populated list items will go here -->
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Open</button>
      </div>
    </div>
  </div>
</div>



 <script>

    document.getElementById('analyzeScenarioBtn').addEventListener('click', function() {
    var scenarioText = document.getElementById('txtScenario').value;
    let facility_type = document.getElementById('selFacilityType').value;
    let industry = document.getElementById('selIndustry').value;
    let organization_size = document.getElementById('selOrganizationSize').value;
    // let asset_value = document.getElementById('selAssetValue').value;
    // let operational_impact = document.getElementById('selOperationalImpact').value;
    // let security_measures = document.getElementById('selSecurityMeasures').value;
    let regulatory_environment = document.getElementById('selRegulatoryEnvironment').value;
    let country = document.getElementById('countrySelector').value;

    var button = this;
    var spinnerContainer = document.getElementById('spinnerContainer');
    button.disabled = true;
    spinnerContainer.style.display = 'block'; // Show the spinner

    // Convert AJAX calls to promises
    var analyzeScenarioPromise = new Promise(function(resolve, reject) {
        $.ajax({
            url: "{% url 'OTRisk:analyze_sim_scenario' %}",
            type: 'POST',
            data: {
                'scenario': scenarioText,
                'industry': industry,
                'facility_type': facility_type,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(response) {
                document.getElementById('analyzeScenarioCheckbox').checked = true;
                var tableContainer = document.getElementById('table_scenario');
                var table = document.getElementById('consequencesTable');
                if (table) {
                    if ($.fn.DataTable.isDataTable('#consequencesTable')) {
                        $('#consequencesTable').DataTable().clear().destroy();
                    }
                    table.remove();
                }

                table = document.createElement('table');
                table.id = 'consequencesTable';
                table.className = 'display dataTable';
                tableContainer.appendChild(table);

                var thead = document.createElement('thead');
                var headerRow = document.createElement('tr');
                ['Factor', 'Score', 'Narrative'].forEach(function(header) {
                    var th = document.createElement('th');
                    th.textContent = header;
                    headerRow.appendChild(th);
                });
                thead.appendChild(headerRow);
                table.appendChild(thead);

                var tbody = document.createElement('tbody');
                response.consequence.forEach(function(item) {
                    var row = document.createElement('tr');
                    Object.values(item).forEach(function(text) {
                        var td = document.createElement('td');
                        td.textContent = text;
                        row.appendChild(td);
                    });
                    tbody.appendChild(row);
                });
                table.appendChild(tbody);

                $('#consequencesTable').DataTable({
                    searching: false,
                    paging: false,
                    info: false
                });

                resolve();

                var biaGroupsContainer = document.getElementById('bia_groups');
                biaGroupsContainer.innerHTML = ''; // Clear existing content

                // Assuming each item in response.consequence has 'factor', 'score', and 'narrative' properties
                var rows = [];
                response.consequence.forEach(function(item, index) {
                    // Create a new row every 3 items
                    if (index % 3 === 0) {
                        var row = document.createElement('div');
                        row.className = 'row';
                        rows.push(row);
                    }

        // Create the group container
        var groupContainer = document.createElement('div');
        groupContainer.className = 'group-container col-md-4'; // Adjust the column size as needed

        // Create the group header
        var groupHeader = document.createElement('div');
        groupHeader.className = 'group-header';
        var icon = document.createElement('img');
        icon.src = "{% static 'images/green_cube.png' %}"; // Adjust the path as needed
        icon.className = 'cube-icon';
        icon.alt = 'green_cube';
        groupHeader.appendChild(icon);
        var headerText = document.createTextNode(item.factor);
        groupHeader.appendChild(headerText);
        groupContainer.appendChild(groupHeader);

        // Create the group body
        var groupBody = document.createElement('div');
        groupBody.className = 'group-body';
        groupBody.textContent = item.score + '. ' + item.narrative;
        groupContainer.appendChild(groupBody);

        // Add the group container to the current row
        rows[rows.length - 1].appendChild(groupContainer);

        // Add the row to the biaGroupsContainer if it's full (3 items)
        if ((index + 1) % 3 === 0 || index === response.consequence.length - 1) {
            biaGroupsContainer.appendChild(rows[rows.length - 1]);
        }
    });
            },
            error: function(xhr, status, error) {
                spinnerContainer.style.display = 'none';
                button.disabled = false;
                alert('Error: ' + error);
                reject(error);
            }
        });
    });

    var generateAttackTreePromise = new Promise(function(resolve, reject) {
        $.ajax({
            url: "{% url 'OTRisk:generate_sim_attack_tree' %}",
            type: 'POST',
            data: {
                'scenario': scenarioText,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(attackTreeResponse) {
                document.getElementById('generateAttackTreeCheckbox').checked = true;
                if (attackTreeResponse && !attackTreeResponse.error) {
                    var attackTreeJson = JSON.stringify(attackTreeResponse);
                    document.getElementById('hdnAT').value = attackTreeJson;
                    drawAttackTree(attackTreeResponse);
                } else {
                    console.error('Attack tree data not available or invalid response');
                }
                resolve();
            },
            error: function(xhr, status, error) {
                console.error('Error fetching attack tree:', error);
                reject(error);
            }
        });
    });

    var analyzeConsequencesPromise = new Promise(function(resolve, reject) {
        $.ajax({
            url: "{% url 'OTRisk:analyze_sim_consequences' %}",
            type: 'POST',
            data: {
                'scenario': scenarioText,
                'industry': industry,
                'facility_type': facility_type,
                'organization_size': organization_size,
                'regulatory_environment': regulatory_environment,
                'country': country,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(consequenceResponse) {
                document.getElementById('analyzeConsequencesCheckbox').checked = true;
                if (consequenceResponse.consequence && consequenceResponse.consequence.trim()) {
                    document.getElementById('txtConsequences').value = consequenceResponse.consequence;
                } else {
                    document.getElementById('txtConsequences').value = 'No consequence analysis available.';
                }

                document.getElementById('txtBestCase').value = consequenceResponse.best_case_cost;
                document.getElementById('txtMostLikelyCase').value = consequenceResponse.most_likely_case_cost;
                document.getElementById('txtWorstCase').value = consequenceResponse.worst_case_cost;
                document.getElementById('scenario_12month_costs').value = consequenceResponse.projection;

                var costArray = consequenceResponse.projection.split('|').map(Number);
                createCostChart('monthly_cost_chart', costArray);
                resolve();
            },
            error: function(xhr, status, error) {
                spinnerContainer.style.display = 'none';
                button.disabled = false;
                console.error('Error fetching consequence analysis:', error);
                reject(error);
            }
        });
    });

    // Use Promise.all to wait for all AJAX calls to complete
    Promise.all([analyzeScenarioPromise, generateAttackTreePromise, analyzeConsequencesPromise]).then(function() {
        spinnerContainer.style.display = 'none'; // Hide the spinner
        button.disabled = false;
    }).catch(function(error) {
        console.error('An error occurred:', error);
        spinnerContainer.style.display = 'none'; // Hide the spinner
        button.disabled = false;
    });
});
function fetchAndDisplayScenarios() {
    $.ajax({
        url: "/OTRisk/list_scenario_builders/", // Adjust the URL to your backend endpoint
        type: "GET",
        success: function(response) {
            const scenarios = response.scenarios;
            const scenarioList = $('#scenarioList');
            scenarioList.empty(); // Clear existing items
            scenarios.forEach(function(scenario) {
                 scenarioList.append(`
                  <li class="list-group-item d-flex align-items-center scenario-item" data-id="${scenario.id}">
                    <i class="bi bi-file-earmark-text mr-2"></i> ${scenario.scenario_name}
                  </li>
                `);
            });
            $('.scenario-item').click(function() {
                const scenarioId = $(this).data('id');
                loadScenarioDetails(scenarioId); // Function to load selected scenario details
                $('#scenarioSelectionModal').modal('hide');
            });
            $('#scenarioSelectionModal').modal('show');
        },
        error: function(xhr, status, error) {
            console.error('Error fetching scenarios:', error);
        }
    });
}

function loadScenarioDetails(scenarioId) {
    $.ajax({
        url: `/OTRisk/retrieve_scenario_builder/${scenarioId}`, // Adjust the URL to your backend endpoint
        type: "GET",
        success: function(response) {
            $('#txtScenario').val(response.scenario_description);
            $('#txtConsequences').val(response.consequences);
            var costs = response.costs;
            $('#txtBestCase').val(costs.bestCase); // Set best case cost
            $('#txtMostLikelyCase').val(costs.mostLikelyCase); // Set most likely case cost
            $('#txtWorstCase').val(costs.worstCase); // Set worst case cost

            var costArray = response.cost_projection.split('|').map(Number);
            createCostChart('monthly_cost_chart', costArray);

            $('#hdnAT').val(response.attack_tree_data);

            var jsonObject = JSON.parse(response.attack_tree_data);
            drawAttackTree(jsonObject);

            // Clear existing BIA groups content
            var biaGroupsContainer = document.getElementById('bia_groups');
            biaGroupsContainer.innerHTML = '';

            var factors = response.factors; // Assuming this is the object structure as described
            var factorKeys = Object.keys(factors); // Get all factor names as an array
            var rows = []; // To keep track of the rows of BIA groups

            factorKeys.forEach(function(factor, index) {
                // Create a new row every 3 items
                if (index % 3 === 0) {
                    var row = document.createElement('div');
                    row.className = 'row';
                    rows.push(row);
                }

                // Create the group container
                var groupContainer = document.createElement('div');
                groupContainer.className = 'group-container col-md-4';

                // Create the group header
                var groupHeader = document.createElement('div');
                groupHeader.className = 'group-header';
                var icon = document.createElement('img');
                icon.src = "{% static 'images/green_cube.png' %}"; // Adjust the path as needed
                icon.className = 'cube-icon';
                icon.alt = 'green_cube';
                groupHeader.appendChild(icon);
                var headerText = document.createTextNode(factor); // factor is the key from factors object
                groupHeader.appendChild(headerText);
                groupContainer.appendChild(groupHeader);

                // Create the group body
                var groupBody = document.createElement('div');
                groupBody.className = 'group-body';
                var factorData = factors[factor]; // Get the data for this factor
                groupBody.textContent = factorData.score + '. ' + factorData.narrative;
                groupContainer.appendChild(groupBody);

                // Add the group container to the current row
                rows[rows.length - 1].appendChild(groupContainer);

                // Add the row to the biaGroupsContainer if it's full (3 items) or if it's the last item
                if ((index + 1) % 3 === 0 || index === factorKeys.length - 1) {
                    biaGroupsContainer.appendChild(rows[rows.length - 1]);
                }
            });
            // Populate table data, costs, and other fields similarly
            alert('Scenario loaded successfully');
        },
        error: function(xhr, status, error) {
            console.error('Error loading scenario:', error);
        }
    });
}


function drawAttackTree(data) {
    var container = document.getElementById('attack_tree');
    var containerWidth = container.clientWidth;
    var svgWidth = containerWidth * 0.8;
    var margin = { top: 20, right: 120, bottom: 20, left: 280 };
    var width = svgWidth - margin.left - margin.right;
    var height = 800; // Increased height for better resolution

    d3.select(container).selectAll("svg").remove();

    var svg = d3.select(container).append("svg")
        .attr("width", "100%")
        .attr("viewBox", "0 0 " + svgWidth + " " + height)
        .attr("height", height)
        .style("display", "block")
        .style("margin", "auto")
        .append("g")
        .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

    // Define the arrow marker
    svg.append("svg:defs").selectAll("marker")
        .data(["end"])
        .enter().append("svg:marker")
        .attr("id", String)
        .attr("viewBox", "0 -5 10 10")
        .attr("refX", 25)
        .attr("markerWidth", 6)
        .attr("markerHeight", 6)
        .attr("orient", "auto")
        .append("svg:path")
        .attr("d", "M0,-5L10,0L0,5");

    var i = 0,
        duration = 750,
        root;

    var treemap = d3.tree()
        .size([height, width - margin.left - margin.right])
        .separation(function(a, b) { return (a.parent == b.parent ? 1 : 2); });

    root = d3.hierarchy(data, function(d) { return d.children; });
    root.x0 = height / 2;
    root.y0 = 0;

    // Color-blind-friendly color scale
    var colorScale = d3.scaleOrdinal(["#88CCEE", "#DDCC77", "#CC6677", "#882255", "#44AA99", "#117733", "#999933", "#AA4499"]);

    update(root);

    function update(source) {
        var treeData = treemap(root);

        var nodes = treeData.descendants(),
            links = treeData.descendants().slice(1);

        nodes.forEach(function(d) { d.y = d.depth * 180 });

        var node = svg.selectAll('g.node')
            .data(nodes, function(d) { return d.id || (d.id = ++i); });

        var nodeEnter = node.enter().append('g')
            .attr('class', 'node')
            .attr("transform", function(d) { return "translate(" + d.y + "," + d.x + ")"; });

        nodeEnter.append('circle')
            .attr('r', 10)
            .style("stroke", "black")
            .style("stroke-width", 1.5)
            .style("fill", function(d) { return colorScale(d.depth); });

        nodeEnter.append('text')
            .style("fill", "darkgray")
            .style("font-size", "14px")
            .style("font-weight", "bold")
            .attr("transform", "rotate(-10)")
            .attr("dy", ".35em")
            .attr("x", function(d) { return d.children ? -13 - this.getComputedTextLength() : 13; })
            .attr("text-anchor", function(d) { return d.children ? "end" : "start"; })
            .text(function(d) { return d.data.name; });

        var link = svg.selectAll('path.link')
            .data(links, function(d) { return d.id; });

        link.enter().insert('path', "g")
            .attr("class", "link")
            .style("stroke", function(d) { return colorScale(d.depth); })
            .style("stroke-width", 2)
            .style("fill", "none")
            .attr("marker-end", "url(#end)") // Add the arrow marker
            .attr('d', function(d) {
                return "M" + d.y + "," + d.x
                    + "C" + (d.y + d.parent.y) / 2 + "," + d.x
                    + " " + (d.y + d.parent.y) / 2 + "," + d.parent.x
                    + " " + d.parent.y + "," + d.parent.x;
            });
    }

    // Add border and shadow to the container
    var attackTreeDiv = document.getElementById('attack_tree');
    attackTreeDiv.style.display = 'block';
    attackTreeDiv.style.border = '1px solid #ccc';
    attackTreeDiv.style.boxShadow = '0px 0px 10px rgba(0, 0, 0, 0.5)';
    sessionStorage.setItem('attackTreeDrawn', 'true');

    // Add export button functionality (if feasible)
    var exportButton = document.getElementById('exportButton');
    if (exportButton) {
        exportButton.addEventListener('click', function() {
            var svgData = new XMLSerializer().serializeToString(document.querySelector('svg'));
            var svgBlob = new Blob([svgData], {type:"image/svg+xml;charset=utf-8"});
            var svgUrl = URL.createObjectURL(svgBlob);
            var downloadLink = document.createElement("a");
            downloadLink.href = svgUrl;
            downloadLink.download = "attack_tree.svg";
            document.body.appendChild(downloadLink);
            downloadLink.click();
            document.body.removeChild(downloadLink);
        });
    }
}




$(document).ready(function() {
document.addEventListener('DOMContentLoaded', (event) => {
    var btn = document.getElementById('myBtn');
    if (btn) {
        btn.onclick = function() {
            var modal = document.getElementById('scenarioBuilderModal');
            if (modal) {
                modal.style.display = "block";
            } else {
                console.error("Modal element not found");
            }
        };
    } else {
        console.error("Button element not found");
    }
});
});


        document.getElementById('submitScenario').addEventListener('click', function() {
            document.getElementById('spinner').style.display = 'block';
            var formData = {
                'attacker' : document.getElementById('selThreats').value,
                'attackVector' : document.getElementById('selVectors').value,
                'targetComponent' : document.getElementById('targetComponent').value,
                'attackEffect' : document.getElementById('attackEffect').value,
                'targetSystem' : document.getElementById('targetSystem').value,
                'impact' : document.getElementById('impact').value,
                'motivation' : document.getElementById('motivation').value,
                'facility_type' : document.getElementById('selFacilityType').value,
                'industry' : document.getElementById('selIndustry').value,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
           };

    $.ajax({
        url: "{% url 'OTRisk:generate_scenario_description' %}",
        type: 'POST',
        data: formData,
        success: function(response) {
            if (response.scenario_description) {
                document.getElementById('txtScenario').value = response.scenario_description;
            } else {
                document.getElementById('txtScenario').value = 'No scenario description available.';
            }
            $('#scenarioBuilderModal').modal('hide');
        },
        error: function(xhr, status, error) {
            console.error('Error generating scenario:', error);
        },
        complete: function() {
            // Hide the spinner
            document.getElementById('spinner').style.display = 'none';
        }
    });
});

function saveScenario(scenarioName) {
    var scenarioData = {
    name: scenarioName,
    scenario: document.getElementById('txtScenario').value,
    attackTree: document.getElementById('hdnAT').value,
    consequences: document.getElementById('txtConsequences').value,
    tableData: extractTableData(), // Add this line
    bestCaseCost: document.getElementById('txtBestCase').value,
    mostLikelyCaseCost: document.getElementById('txtMostLikelyCase').value,
    worstCaseCost: document.getElementById('txtWorstCase').value,
    cost_projection: document.getElementById('scenario_12month_costs').value
    };

    $.ajax({
    url: "{% url 'OTRisk:save_scenario_builder' %}",
    type: 'POST',
    data: scenarioData,
    headers: {
        'X-CSRFToken': getCsrfToken()  // Include CSRF token
    },
    success: function(response) {
        alert('Scenario saved successfully');
    },
    error: function(xhr, status, error) {
        console.error('Error saving scenario:', error);
    }
    });
}

function extractTableData() {
    var tableData = [];
    $('#consequencesTable tbody tr').each(function() {
        var row = $(this).find('td').map(function() {
            return $(this).text();
        }).get();
        if (row.length > 0) {
            tableData.push({
                factor: row[0],
                score: row[1],
                narrative: row[2]
            });
        }
    });
    return tableData;
}

function getCsrfToken() {
    var name = 'csrftoken';
    var cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
            var cookie = jQuery.trim(cookies[i]);
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

function abbreviateValue(value) {
    var newValue = value;
    if (value >= 1000 && value < 1000000) {
        newValue = "$" + (value / 1000).toFixed(1) + "k"; // Thousands
    } else if (value >= 1000000) {
        newValue = "$" + (value / 1000000).toFixed(1) + "m"; // Millions
    } else {
        newValue = "$" + value; // Less than 1000
    }
    return newValue;
}

function createCostChart(containerId, costArray) {
    var data = [];
    for (let i = 0; i < costArray.length; i++) {
        data.push({x: `Month ${i + 1}`, value: costArray[i]});
    }

    // Ensure the chart library is ready before creating the chart
    anychart.onDocumentReady(function() {
        // Clear the container before creating a new chart
        document.getElementById(containerId).innerHTML = '';

        var chart = anychart.column();
        chart.data(data);

        // Set the chart title
        chart.title("Monthly Cost Estimates");

        // Customize the X-axis labels
        var xAxis = chart.xAxis();
        xAxis.title("Month");
        xAxis.labels()
            .rotation(-70) // Angle the labels
            .fontSize(10); // Smaller font size

        // Customize the Y-axis
        var yAxis = chart.yAxis();
        yAxis.title("Cost in USD");

        var series = chart.getSeries(0);
        series.labels(true);
        series.labels()
            .position("above")
            .anchor("centerBottom")
            .fontSize(10)
            .format(function() {
                return abbreviateValue(this.value);
            });

        // Optionally disable credits if needed
        var credits = chart.credits();
        credits.enabled(false);

        // Draw the chart in the specified container
        chart.container(containerId);
        chart.draw();
    });
}

$(document).ready(function() {
    // Close button inside the modal header
    $('.close').click(function() {
        $('#scenarioSelectionModal').modal('hide');
    });

    // Close button in the modal footer
    $('#scenarioSelectionModal .btn-secondary').click(function() {
        $('#scenarioSelectionModal').modal('hide');
    });
});

        </script>
</body>
</html>
