{% extends "base.html" %}
{% block nav_title %}
    User Admin
{% endblock %}
{% block content %}
<div class="container">
<br>
    <h3>User Administration</h3>

    <table class="table table-bordered" id="usersTable">
        <thead>
            <tr>
                <th>Username</th>
                <th>Email</th>
                <th>Organization</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>
                {% if user.user_profile %}  <!-- Make sure user has a profile -->
                    {{ user.user_profile.organization.name }}
                {% else %}
                    -   <!-- Display dash or any placeholder if user has no profile -->
                {% endif %}
            </td>
                <td>
                    <a href="{% url 'OTRisk:edit_user' user.id %}" class="btn btn-primary btn-sm">Edit</a>
                    <a href="{% url 'OTRisk:change_password' user.id %}" class="btn btn-warning btn-sm">Change Password</a>
                    <!-- You can also add a delete button here -->
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

<script>
    $(document).ready( function () {
        $('.table').DataTable({
            pageLength: 10,
            search: {
                caseInsensitive: true
            }
        });
    });
</script>
{% if message %}
    <div class="alert alert-success">
        {{ message }}
    </div>
{% endif %}
</div>
{% endblock %}
