<!DOCTYPE html>
<html>
<head>
    <title>Welcome to iOTa!</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="{{ logo_url }}" alt="iOTa Logo" style="max-width: 200px;">
        <h1>Welcome to iOTa!</h1>
        <p>Thank you for creating an account with us.</p>
        <p>Here is your temporary password: <strong>{{ password }}</strong></p>
        <p>You will be required to change it upon first login. After setting a password, the first time you log in you will be required to set up two-factor authentication using an Authenticator app.</p>
        <p>To get started, please visit <a href="{{ login_url }}">iOTa Risk Management</a>.</p>
    </div>
</body>
</html>
