<!DOCTYPE html>
<html>
<head>
    <title>Welcome to AnzenOT!</title>
</head>
<body>
    <div style="text-align: center;">
        <img src="{{ logo_url }}" alt="AnzenOT Logo" style="max-width: 200px;">
        <h1>Welcome to AnzenOT!</h1>
        <p>Thank you for creating an account with us.</p>
        <p>Your user name: <strong>{{ user_name }}</strong></p>
        <p>Your temporary password: <strong>{{ password }}</strong></p>
        <p>You will be required to change your password upon first login. After setting a password, the first time you log in you will be required to set up two-factor authentication with a mobile device that can receive sms messages.</p>
        <p>To get started, please visit <a href="{{ login_url }}">AnzenOT</a>.</p>
    </div>
</body>
</html>
