
.navbar {
    background-color: #464748;
    border-bottom: 1px solid #000;
    height: 50px; /* Fixed height */
    position: relative;
}

.owl-logo {
    height: 100px; /* Set a fixed height for the image */
    width: auto; /* Maintain aspect ratio */
    position: relative;
    top: 50%; /* Center vertically in the navbar */
    transform: translateY(-30%); /* Adjust vertical position */
    margin-bottom: -20px; /* Negative margin to overlap */
}


.navbar-brand, .nav-link {
    color: #d3d1cd; /* White text for clear visibility on initial view */
}

.menu-item {
    border-right: 1px solid #4B6B6B; /* Subtle line between items */
    font-size: 14px; /* Adjust font size */
}

.menu-item:last-child {
    border-right: none; /* Remove border for the last item */
}

.menu-item:hover, .dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0; /* Light grey text on hover */
}

.nav-link:hover, .dropdown-item {
    color: #E0E0E0; /* Light grey text on hover */
}

.dropdown-menu {
    background-color: #464748; /* Dark Slate Grey */
    border: none;
}

.dropdown-item {
    color: #FFFFFF; /* White text for clear visibility */
}

.dropdown-item:hover {
    background-color: #3A5F5F; /* Slightly lighter grey on hover */
    color: #E0E0E0;}

     .small-font {
        font-size: 0.8rem; /* adjust as needed */
   }

    .inner-card {
        background-color: white;
        border-radius: 10px;
        margin: 10px 10px 20px 10px;
        height: 70%;
    }
    .card-title-light {
        font-weight: lighter;
    }
.form-group {
    border: 1px solid #464748; /* Border color */
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5); /* Outer shadow */
    background-color: #5E6266; /* Lighter shade of #464748 */
    padding: 15px; /* Optional: for internal spacing */
}
.form-sim {
    max-width: 100%; /* Ensures select does not exceed container width */
    width: auto; /* Optional: Ensures select width is based on content up to max-width */
}


.custom-table-style th,
.custom-table-style td {
    color: white;
}

.custom-table-style .thead-dark th {
    background-color: #464748;
}
.card-body {
    background-color: #464748; /* Dark background */
}

.card-body .custom-table-style th,
.card-body .custom-table-style td {
    color: white; /* White text */
}

.card-body .custom-table-style .thead-dark th {
    background-color: #464748; /* Dark background for table header */
}
.group-container {
    background-color: #464748; /* Same as page background */
    border: 1px solid #ccc; /* Border around the container */
    padding: 10px;
    margin-bottom: 15px; /* Space between each group container */
}

.group-header {
    color: white;
    font-weight: bold;
    margin-bottom: 10px;
}

.group-body {
    color: white;
}

.cyberpha-item {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.cube-icon {
    width: 20px; /* Adjust size as needed */
    height: 20px; /* Adjust size as needed */
    margin-right: 10px;
}

.facility-name {
    color: white;
}

