<style>
    /* Reset default margin and padding */
    body, form {
        margin: 0;
        padding: 0;
    }

    /* Container for the form */
    .form-container {
        max-width: 500px;
        margin: 0 auto;
        padding: 20px;
        font-family: Arial, sans-serif;
    }

    /* Field labels */
    label {
        display: block;
        margin-bottom: 10px;
        font-weight: bold;
    }

    /* Text input and textarea */
    input[type="text"],
    textarea {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        resize: vertical;
        font-size: 14px;
    }

    /* Select dropdown */
    select {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 4px;
        font-size: 14px;
    }

    /* Save button */
    .btn-primary {
        display: inline-block;
        padding: 10px 20px;
        background-color: #007bff;
        color: #fff;
        border: none;
        border-radius: 4px;
        font-size: 16px;
        cursor: pointer;
    }

    .btn-primary:hover {
        background-color: #0056b3;
    }

    .threat-score-circle {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: #fff;
    font-size: 20px;
    text-align: center;
    line-height: 50px;
}
/* Very High Risk */
.darkred {
    background-color: darkred;
}
/* High Risk */
.red {
    background-color: red;
}
/* Medium High*/
.darkorange {
    background-color: darkorange;
}
/* Medium Risk */
.orange {
    background-color: orange;
}
/* Low Medium */
.yellow {
    background-color: yellow;
}
/* Low Risk */
.green {
    background-color: green;
}
/* Very Low Risk */
.lightgreen {
    background-color: yellowgreen;
}


    .centered-table {
        margin: 0 auto;
        text-align: center;
    }

    .centered-table td {
        vertical-align: top;
        text-align: center;
        word-wrap: break-word;
    }

        .custom-table {
        border-collapse: collapse;
    }

    .custom-table td {
        padding: 10px;
    }

</style>
